/**********页面通用样式************/

.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml42{margin-left:42px;}
.ml62{margin-left:62px;}
.ml82{margin-left:82px;}
.ml100{margin-left:100px}
.ml380{margin-left:380px}
.ml400{margin-left:400px}

.mr5{margin-right:5px;}
.mr7{margin-right:7px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt120{margin-top:120px;}

.mb30{margin-bottom:30px;}
.mb80{margin-bottom:80px;}

.tr{text-align:right;}
.tc{text-align:center;}

.fr{float:right;}
.fl{float:left;}

.w600{width:600px;}
.w220{width:220px;}
.w95{width:90px;}

.dn{display:none;}
.db{display:block;}

.ht45{height:45px;}