<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="form-group" >
                	<div class="dataTables_filter" id="searchDivYg" style="display: none">
	                    <div class="btn-group">
	                    	<input style="display: none" id="ygcase" name="caseid"/>
	                       <!-- <button type="button" class="btn btn-primary" data-btn-type="searchYg">查询</button> -->
	                    </div>
	                    <div class="btn-group">
	                    	<button type="button" class="btn btn-primary" data-btn-type="add" id="addYg">新增</button>
	                    	<button type="button" class="btn btn-default" data-btn-type="edit" id="editYg">修改</button>
	                        <button type="button" class="btn btn-default" data-btn-type="delete" id="deleteYg">删除</button>
	                    </div>
                	</div>
	                <div class="box-body">
	                    <table id="Yg_table" class="table table-bordered table-striped table-hover">
	                    </table>
	                </div>
                </div>
			</div>
		</div>
	</div>
</section>
<script>
    var form =null;
    var  id = '${id?default(0)}';
    var  lx = '${lx?default(0)}';
    if(lx!=0){
    	$("#addYg").css("display","none")
    	$("#editYg").css("display","none")
    	$("#deleteYg").css("display","none")
    }
    if(id!=0){
    	$("#ygcase").val(id);
    }
    var ygTable, winId = "projectQueryWin";
    $(function() {
    	ygTable = new CommonTable("Yg_table", "jz_List", "searchDivYg");

        $("#addYg").on("click",function(){
        	addpeople();
        });
        $("#editYg").on("click",function(){
        	editpeople();
        });

        $("#deleteYg").on("click",function(){
        	deleteYg();
        });
    });
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }

	function addpeople(){
		 modals.openWin({
	            winId:winId,
	            title:"新增进展",
	            width:'1000px',
	            url:basePath+"/casemanage/addJz?caseid="+id,
	            hideFunc:function(){
	            	ygTable.reloadData();
	            }
	        });   
         }
	function editpeople(){
		var rowId = ygTable.getSelectedRowId();
		if(!rowId){
            modals.info('请选择要修改的进展');
            return false;
        }
		 modals.openWin({
	            winId:winId,
	            title:"修改进展",
	            width:'1000px',
	            url:basePath+"/casemanage/addJz?id="+rowId,
	            hideFunc:function(){
	            	ygTable.reloadData();
	            }
	        });   
        }

	function fnRy(value){
		return "<a onclick='lookRy(\""+value+"\")'>详情</a>"
    }
    //查看
	function lookRy(value){
		 modals.openWin({
	            winId:"ryxq",
	            title:"详情",
	            width:'1000px',
	            url:basePath+"/casemanage/addJz?id="+value+"&lx=look"
	           });
	}
	//删除原告
	function deleteYg(){
		var rowId = ygTable.getSelectedRowId();
		if(!rowId){
            modals.info('请选择要删除的进展');
            return false;
        }
		modals.confirm("是否要删除该进展？",function(){
            ajaxPost(basePath+"/casemanage/deleteJz?id="+rowId,null,function(data){
            	if(data.success){
            		ygTable.reloadData();
            	}
            });
        })
	}
    </script>
