<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
 <script src="${basePath}/resources/common/libs/echarts/echarts.min.js"></script>
    <script src="${basePath}/resources/common/libs/echarts/walden.js"></script>
<section class="content-header">
    <h1>
        考核大比
        <small>图表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">工程质量安全管理</a></li>
        <li class="active">项目之间分数比较</li>
    </ol>
</section>
<section class="content" id="projectaddstep2">
<div class="modal-body">
<div class="">项目下各个职位平均分<span></span></div>
       <div class="col-md-8">
         <div class="form-group">
	         <select type="text" class="form-control" id="duties1" name="duties" placeholder="职务"></select>
	         <input class="form-control date-picker" id="check_time1" name="check_time"  data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="考核时间"  >
	    
	         <button type="button" class="btn btn-primary" id="search1">查询</button>
	         <div id="xmdchart" style="width:100%; height:320px">
	         
	         </div>
	     </div>
     </div>


</div>

</section>
<script>
var data1;
var data2;
var projectOptions = '${projectOptions?default(0)}',options=0;
if(projectOptions != 0){
	options = JSON.parse(projectOptions);
}
$(document).ready(function(){
	getRylx();
    loaddata1();
    
	$("#search1").on("click",function() {
    	loaddata1();
	})
	if(options != 0){
        for (var i = 0, len = options.length; i < len; i++) {
            var option = options[i];
            $('#project_id').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
        }
        $(".select2").select2();
    }
});
window.onresize = function(){
    loaddata1();
}

function loaddata1(){
    $.ajax({
        type : "get",
        url : "dutycheck/getXmZwData",
        async : true,
        dataType : 'json',
        data:{
        	duties:$("#duties1 option:selected").val(),
        	check_time:$("#check_time1").val()
        },
        success : function(datas1) {
            data1 = datas1;
            xmd_build();
        },complete:function(){
			
		}
    });
    
}
function xmd_build(){
	var xm=[];
	var fs=[];
	for (var y = 0; y < data1.length; y++) {
        xm.push(data1[y].proName);
        fs.push(data1[y].avg);
    }
	var esfchart1 = echarts.init(document.getElementById('xmdchart'), 'walden');
    var option = {
        tooltip:{
            trigger:'axis',
            axisPointer:{
                type:'shadow'
            }
        },
        legend:{
            data:['职务平均分']
        },
        grid:{
            left:'30',
            right:'4%',
            bottom:'30',
            containLabel:true
        },
        xAxis:[
            {
                type:'category',
                data:xm
            }
        ],
        yAxis:[
            {
                type:'value'
            }
        ],
        series:[
            {
                name:'平均分',
                type:'bar',
                data:fs
            },

        ]
    };
    esfchart1.setOption(option);
}

function getRylx(){
	ajaxPost(basePath+"/dutycheck/getRylx",null,function(data){
		if(data.data){
			var list = data.data;
			var option;
			for(var i=0;i<list.length;i++){
				
				option += "<option value='"+list[i].value+"'>"
				+ list[i].name
				+ "</option>";
			}
			$("#duties1").append(option);
		}
	})
}
</script>
