.idea/*
target/*
.settings/*
AdminEAP.iml
AdminEAP.iws
/target/

*.class
out/*
.svn
*.svn
*.svn/*


AdminEAP-web/src/main/resources/jdbc.properties
AdminEAP-web/src/main/resources/setting.properties
.gitignore.bak
AdminEAP-framework/target/*
AdminEAP-web/target/*
.gitignore.bak

