<section class="content-header">
    <h1>
        <span id="title1"></span>
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">安全管理</a></li>
        <li class="active"><a href="#" id = "title2"></a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            	<div class="dataTables_filter" id="searchDiv" >
                   <!--查询条件-->
                   <!--查询条件-->
                  <select id="projectID" class="form-control select2" name="wj.proid" style="width:200px;" operator="eq">
              				<option selected="selected" value="">选择一个项目</option>
             		</select>
             		<select id="fileTypeSelect" class="form-control select2" name="wj.fileType" style="width:200px;" operator="eq">
              				<option selected="selected" value="">选择一个类型</option>
             		</select>
             		<input type="search" placeholder="请输入编号" title="编号" name="wj.number" class="form-control" operator="like" likeOption="true">
             		<input type="search" placeholder="请输入名称" title="名称" name="wj.name" class="form-control" operator="like" likeOption="true">
                   	<input id="status" name="wj.status" style="display: none" />
                   <input type="search" id="type" name = "wj.type" style="display: none">
                   <div class="btn-group">
                       <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                       <!-- <button type="button" class="btn btn-default" data-btn-type="reset">重置</button> -->
                   </div>
                   <div class="btn-group" id="btnDiv">
                   <button type="button" class="btn btn-success" data-btn-type="add" >新增文件</button>
                   <button type="button" class="btn btn-default" data-btn-type="looks" >查看</button>
                   <button type="button" class="btn btn-danger" data-btn-type="delete" >删除</button>
                   </div>
               </div>
               <div class="box-body box-body-mobile">
                   <table id="volume_table" class="table table-bordered table-striped table-hover">
                   </table>
               </div>
            </div>
        </div>
    </div>
</section>

<script>
var projectOptions = '${projectOptions?default(0)}',options=0;
if(projectOptions != 0){
	options = JSON.parse(projectOptions);
}
var fileTypeOptions = '${fileType?default(0)}',typeOptions=0;
if(fileTypeOptions != 0){
	typeOptions = JSON.parse(fileTypeOptions);
}

var  type = '${type?default(0)}';
$("#type").val(type);
var  islook = '${islook?default(0)}';
var  isAudit = '${isAudit?default(0)}';
var  functionName = '${functionName?default(0)}';
$("#title1").html(functionName);
$("#title2").html(functionName);
if(islook!='0'){
	$("#btnDiv").css("display","none");
	$("#status").val("30");
}

//动态加载列表数据
var listInfo = "aqFiles_list";
if(type=="10"){
	listInfo = "aqFiles_list10";
}
$(function () {
	
	volumeTable = new CommonTable("volume_table",listInfo , "searchDiv", null);
	$('button[data-btn-type]').click(function() {
        var action = $(this).attr('data-btn-type');
        var rowId=volumeTable.getSelectedRowId();
        switch (action) {
        case 'add':
               modals.openWin({
                winId:"checkRecord",
                title:'创建',
                width:'1000px',
                url:basePath+"/aqFiles/addWj?type="+type,
                hideFunc:function(){
                	volumeTable.reloadData();
                }
               });                        
            break;
        case 'looks':
            if(!rowId){
                modals.info('请选择要查看的明细');
                return false;
            }
            modals.openWin({
                winId:"checkRecord",
                title:'创建',
                width:'1000px',
                url:basePath+"/aqFiles/look/"+rowId,
                hideFunc:function(){
                	volumeTable.reloadData();
                }
               }); 
            break;
        case 'delete':
            if(!rowId){
                modals.info('请选择要删除的行');
                return false;
            }
            if(isAudit=="1"){
        		if(volumeTable.getSelectedRowData().status!='10'
            		&&volumeTable.getSelectedRowData().status!='40'){
        			modals.info('只能删除新建、驳回的数据');
                    return false;
        		}
        	}
            modals.confirm("是否要删除该行数据？",function(){
                ajaxPost(basePath+"/aqFiles/deleteWj?id="+rowId,null,function(data){
                    if(data.success){
                    	modals.info('删除成功');
                    	volumeTable.reloadRowData();
                    }else{
                        modals.error("用户数据被引用，不可删除！");
                    }
                });
            })
            break;   
        }
        
    });

	if(options != 0){
        for (var i = 0, len = options.length; i < len; i++) {
            var option = options[i];
            $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
        }
        $(".select2").select2();
    }
	if(typeOptions != 0){
        for (var i = 0, len = typeOptions.length; i < len; i++) {
            var option = typeOptions[i];
            $('#fileTypeSelect').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
        }
        $(".select2").select2();
    }
})

function fnRenderXq(value, type, rowObj){

	var a = "<a href='javascript:void(0)' onclick='showDetail(\"" + value + "\")'>附件查看</a>";
	if(isAudit=="1"&&(rowObj.status=="10"||rowObj.status=="40")&&islook=='0'){
		a += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='submit(\"" + value + "\")'>提交</a>"
		if(rowObj.status=="40"){
			a += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' style='color:red' onclick='lookbhyy(\"" + rowObj.reserve2.replace(/[\r\n]/g,'') + "\")'>驳回原因</a>"
		}
	}
	return a;
}
function lookbhyy(value){
	modals.info(value);
}
function showDetail(fileId) {
	modals.openWin({
        winId: "checkRecord",
        width: "900px",
        url: basePath + "/aqFiles/projectdetailfile?id=" + fileId+"&islook="+islook ,
        title: "查看附件"
    });
}
function submit(id){
	ajaxPost(basePath+"/aqFiles/start?id="+id,null,function(data){
    	if(data.success){
    		modals.info('提交成功');
    		volumeTable.reloadData();
    	}else{
    		modals.info('提交失败');
       	}
    });
}
//10=新建,20=办公室审核,30=审核完成,40=驳回,50=总经理审核
function fnRenderZt(value){
	if(isAudit=="1"){
		if(value=="10"){
			return "新建"
		}else if(value=="50"){
			return "办公室审核"
		}else if(value=="30"){
			return "审核完成"
		}else if(value=="40"){
			return "审核不通过"
		}else if(value=="20"){
			return "总经理审核"
		}else if(value=="60"){
			return "项目经理审核"
		}
	}else{
		return "完成"
	}
	
}

</script>
