
<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
	<h5 class="modal-title">选择接收部门</h5>
</div> 

    <div class="row" style="height:600px;overflow-y:auto;">
        <div class="col-xs-12">
            <div class="box box-primary" style="height: 100%;overflow-y:auto">
            	<div class="btn-group" style="position:fixed;top:5px;right:5px;">
                    	<button type="button" class="btn btn-primary" data-btn-type="addFjsl">发送</button>
                  </div>
                <div class="box-body box-profile">
                    <div id="depttree"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
<script>
	var id	 = '${id?default(0)}'
    var attendanceImportTable;
    $(function () {
    	initdeptTree(0);

        
       $('button[data-btn-type]').click(function() {
           var actions = $(this).attr('data-btn-type');
           switch (actions) {
           case 'addFjsl':
        	   var rows= $("#depttree").data("treeview").getChecked();
               if(rows.length==0){ 
               	modals.info("请选择要接收的人员");
               	return;
               }
               var urllist="";
               var bmxhs = "";
                $.each(rows,function(index,row){                	
               		if(urllist){
               			if(row.parentId||row.parentId==0){
							urllist +=","+row.id;
							if(bmxhs.indexOf(row.parentId+",")==-1){
								bmxhs+=row.parentId+","
							}
						}
                   	}else{
						if(row.parentId||row.parentId==0){
							urllist +=row.id;
							if(bmxhs.indexOf(row.parentId+",")==-1){
								bmxhs+=row.parentId+","
							}
						}
                    }
               });
                if(!urllist){
                	modals.info("请选择要接收的人员");
                   	return;
                 }
                var bmxh = bmxhs.split(",");
                var bmids="";
                $.each(bmxh,function(index,xh){
                	if(xh){
                		var bmid=$("#depttree").data("treeview").getNode(xh).id;
                        if(bmids){
                        	 bmids += ","+bmid;
                         }else{
                        	 bmids += bmid;
                         }
                   	}
                	
                })
                if(confirm("确定发送？")){
            	   ajaxPost(basePath+"/writings/dosend",{fjid:id,ryids:urllist,bmids:bmids},function(data){
	                   if(data.success){
	                	   modals.hideWin("files");
	                	   dutycheckTable.reloadData();
	                	   modals.info("发送成功");
	                	   
	                   }else{
	                       modals.error("系统繁忙，请稍后重试");
	                   }
	               }); 
               }
	          	
               break;             
           }

       });
    });

    function initdeptTree(selectNodeId ) {
        var treeData = null;
        ajaxPost(basePath + "/writings/deptTree", null, function (data) {
            treeData = data;
        });
        $("#depttree").treeview({
            data: treeData,
            showBorder: false,
            levels:2,
            showCheckbox: true,
            showIcon: false,
            onNodeSelected: function (event, data) {
               $('#depttree').treeview('checkNode', [data.nodeId, {silent: true}]);
               var nodes = data.nodes;
               if(nodes){
               	for(var i =0;i<nodes.length;i++){
                       $('#depttree').treeview('checkNode', [nodes[i].nodeId, {silent: true}]);
                   }
                }
             /* //点击同时选中
               $("#depttree").data('treeview').selectNode(data.nodeId, {silent: true});
               var pnode = $('#depttree').data('treeview').getParent(data.nodeId);
               while (pnode) {
                   $('#depttree').treeview('checkNode', [pnode.nodeId, {silent: true}]);
                   pnode = $("#depttree").treeview('getParent', pnode.nodeId); 
               }*/
            },
            onNodeChecked: function (event, data) {
            	/*  //点击同时选中
                $("#depttree").data('treeview').selectNode(data.nodeId, {silent: true});
                var pnode = $('#depttree').data('treeview').getParent(data.nodeId);
                while (pnode) {
                    $('#depttree').treeview('checkNode', [pnode.nodeId, {silent: true}]);
                    pnode = $("#depttree").treeview('getParent', pnode.nodeId);
                } */
                var nodes = data.nodes;
                if(nodes){
                	for(var i =0;i<nodes.length;i++){
                        $('#depttree').treeview('checkNode', [nodes[i].nodeId, {silent: true}]);
                    }
                 }
            },
            onNodeUnchecked:function(event,data){
            	var nodes = data.nodes;
                if(nodes){
                	for(var i =0;i<nodes.length;i++){
                        $('#depttree').treeview('uncheckNode', [nodes[i].nodeId, {silent: true}]);
                    }
                 }
            }
        });
        $('#depttree').treeview('collapseAll');
        if (treeData.length == 0)
            return;
        //$("#depttree").data('treeview').expandNode(selectNodeId);
        $("#depttree").data('treeview').revealNode(selectNodeId);
    }
</script>
