<section class="content-header">
    <h1>
        用章部门审核
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">印章管理</a></li>
        <li class="active">用章部门审核</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv1" style="display: none">
                    <!--查询条件-->
                    <!--查询条件-->
                    <input placeholder="请输入用章名称" name="name" class="form-control" type="search" likeOption="true"operator="like" />
                     <input placeholder="请输入公司及项目名称" name="gsmc" class="form-control" type="search" likeOption="true"operator="like" />
                     <input placeholder="请输入申请人" name="sqr" class="form-control" type="search" likeOption="true"operator="like" />
                    <input id="user" name="deptid" style="display:none"/>
                     <input  name="status" value="20" style="display:none"/>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                    <div class="btn-group">
                    </div>
                </div>
                <div class="box-body">
                    <table id="lwContract_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
           </div>
         </div>
         
</section>

<script>
    var form = $("#searchDiv1").form({baseEntity: false}), initData={};
    var lx = '${lx?default(0)}';
    var dutycheckTable, winId = "projectQueryWin";
    var userid = '${deptid?default(0)}';
    $("#user").val(userid);
    $(function (){
    	dutycheckTable = new CommonTable("lwContract_table", "sealList_bmsp", "searchDiv1");
    });
    function fnFj(value, type, obj){
    	
    	var oper ="<a href='javascript:void(0)' onclick='lookfj(\"" + value + "\")'>查看审核</a>";
        return oper;
    }
    function lookfj(mbid){
    	modals.openWin({
            winId:winId,
            title:'审核',
            width:'1000px',
            url:basePath+"/seals/bmAuidt?id="+mbid,
            hideFunc:function(){
            	dutycheckTable.reloadData();
            }
            
           });
    }
    
</script>