<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:100%;overflow-y:auto;">

    <form id="contract-form" name="contract-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
       
            <div class="box-body">
            <div class="col-md-6">
                
                <div class="form-group">
                    <label for="projectId" class="col-sm-3 control-label">所属项目</label>

                    <div class="col-sm-8">
                   		<select id="projectId" class="form-control select2 "  name="projectId" style="width:100%" >
                   			<option selected="selected" value="">选择一个项目</option>
                   		</select>
                    </div>
                </div>
           		<div class="form-group">
					<label  for="createName" class="col-sm-3 control-label">起草人</label>
					<div class=" col-sm-8">
						<select class="form-control select2 " id="creatName" name="creatName" style="width:100%">
							<option selected="selected" value="">选择一个人员</option>
						</select>
				
					</div>
				</div>
				<div class="form-group">
					<label  for="builder" class="col-sm-3 control-label">建设单位</label>
					<div class=" col-sm-8">
						<input class="form-control " id="builder" name="builder"  placeholder="建设单位" >
					</div>
				</div>
				<div class="form-group">
					<label  for="htNumber" class="col-sm-3 control-label">合同编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="htNumber" name="htNumber"  placeholder="合同编号" >
					</div>
				</div>
				
				
				
            </div>
            <div class="col-md-6">
            	<div class="form-group">
                    <label  for="number" class="col-sm-3 control-label">编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="number" name="number"   placeholder="编号" readonly="readonly" >
				
					</div>
                </div>
                <div class="form-group">
					<label  for="reviewName" class="col-sm-3 control-label">合同谈判人</label>
					<div class=" col-sm-8">
						<input class="form-control " id="reviewName" name="reviewName" placeholder="参与合同谈判人">
				
					</div>
				</div>
				<div class="form-group">
                    <label  for="contracter" class="col-sm-3 control-label">承包单位</label>
					<div class=" col-sm-8">
						<input class="form-control " id="contracter" name="contracter"   placeholder="承包单位" >
					</div>
                </div>
                <div class="form-group">
                    <label  for="htName" class="col-sm-3 control-label">合同名称<span style="color:red">*</span></label>
                    <div class=" col-sm-8">
                        <input class="form-control " id="htName" name="htName"  placeholder="合同名称" >
                    </div>
                </div>
            </div>   
        </div>
        	<div class="form-group">
                    <label for="dzedyq" class="col-sm-2 control-label">垫资额度要求</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="dzedyq" name="dzedyq" placeholder="垫资额度要求" rows="2"></textarea>
                    </div>
            </div>
       		 <div class="form-group">
                    <label for="zlyq" class="col-sm-2 control-label">质量目标要求</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="zlyq" name="zlyq" placeholder="质量目标要求" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="fhjd" class="col-sm-2 control-label">保修期限、保修金返还时间</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="fhjd" name="fhjd" placeholder="返还时间节点" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="jgc" class="col-sm-2 control-label">甲供材</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="jgc" name="jgc" placeholder="甲供材" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="payWay" class="col-sm-2 control-label">付款方式</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="payWay" name="payWay" placeholder="付款方式" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="payTime" class="col-sm-2 control-label">付款时间节点</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="payTime" name="payTime" placeholder="付款时间节点" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="phMoney" class="col-sm-2 control-label">分包项目配合费</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="phMoney" name="phMoney" placeholder="分包项目配合费" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="dajd" class="col-sm-2 control-label">定案时间节点</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="dajd" name="dajd" placeholder="定案时间节点" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="jjtj" class="col-sm-2 control-label">纠纷解决途径</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="jjtj" name="jjtj" placeholder="纠纷解决途径" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="swyq" class="col-sm-2 control-label">税务要求</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="swyq" name="swyq" placeholder="税务要求" rows="2"></textarea>
                    </div>
            </div>
        	<div class="form-group">
                    <label for="getToJf" class="col-sm-2 control-label">发包方分包合同应提供给承包方</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="getToJf" name="getToJf" placeholder="发包方分包合同应提供给承包方" rows="2"></textarea>
                    </div>
            </div>
            <input type="hidden" name="fileId" id="fileId">
				<div class="form-group" align="center">
					<div class="btn btn-default btn-file" id="uploadFile">
						<i class="fa fa-paperclip"></i> 上传施工合同(Max. 20MB)
					</div>
				</div>
				<div class="form-group" id="file_container">
					<input type="file" name="file"  id="attachment">
				</div>
        <!-- /.box-footer -->
        <div class="" style="text-align: center;height:50px;width:100%;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="save">保存</button>
        </div>
    </form>
    <div  class="box-body">
    	<table id="sps" class="table table-bordered table-striped table-hover">
    		<tr>
    			<th>部门</th>
    			<th>评审风险点</th>
    			<th>评审意见</th>
    			<th>评审人</th>
    		</tr>
         </table>
    </div>
     
</div>
<script>
    var form =null;
    var uses = '${userOptions?default(0)}',use=0;
    if(uses != 0){
    	use = JSON.parse(uses);
    }
    
    var pros = '${projectOptions?default(0)}',pro=0;
    if(pros != 0){
    	pro = JSON.parse(pros);
    }
    var spid = '${spid?default(0)}'
    
    $(function() {
    	//$("#uploadFile").css("display","none")
    	//$("#attachment").css("display","none")
        //初始化控件
        form=$("#contract-form").form();
      //数据校验
        $("#contract-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    var url = basePath + '/laborreview/save';
                    	ajaxPost(url, params, function(data) {
                            if(data.success){
                            	modals.hideWin(winId);
                            	budgetApplyTable.reloadData();
                                modals.info("保存成功");
                                
                            }                
                        }); 
                });
            },
            fields : {
            	projectId : {
                    validators : {
                        notEmpty : {
                            message : '请选择项目'
                        }
                    }
                },
                creatName : {
                    validators : {
                        notEmpty : {
                            message : '请选择起草人'
                        }
                    }
                },
                reviewName : {
                    validators : {
                        notEmpty : {
                            message : '请输入评审对象'
                        }
                    }
                },
                contracter:{
                	validators : {
                        notEmpty : {
                            message : '请输入承包单位'
                        }
                    }
                },
                builder:{
                	validators : {
                        notEmpty : {
                            message : '请输入建设单位'
                        }
                    }
                },
                htName:{
                    validators : {
                        notEmpty : {
                            message : '请输入合同名称'
                        }
                    }
                }
            }
        });
        form.initComponent();
        if(use != 0){
            for (var i = 0, len = use.length; i < len; i++) {
                var u = use[i];
                $('#creatName').append("<option value='" + u.id + "'>" + u.name + "</option>");
            }
            $("#creatName").select2();
        }
        if(pro != 0){
            for (var i = 0, len = pro.length; i < len; i++) {
                var u = pro[i];
                $('#projectId').append("<option value='" + u.id + "'>" + u.projectName + "</option>");
            }
            $("#projectId").select2();
        }
        if(spid!=0){
        	load();
         }
        
        
        
    });
    function load(){
    	 ajaxPost(basePath+"/laborreview/load",{id:spid},function(data){
         	
    		 $("#contract-form").form().initFormData(data.data); 
    		 $("#fileId").val(data.code);       
             
         })
         ajaxPost(basePath+"/laborreview/loadSpyj",{id:spid},function(data){
         	var list = data.data;
         	var trs ="";
         	for(var i=0;i<list.length;i++){
				trs+="<tr>";
				trs+="<td>"+deptChange(list[i].taskNode)+"</td>";
				trs+="<td>"+list[i].risk+"</td>";
				trs+="<td>"+list[i].suggestion+"</td>";
				trs+="<td>"+list[i].operator+"</td>";
				trs+="</tr>";
             }
             $("#sps").append(trs);
         })
    	
    }
    function deptChange(value){
		if(value=="fawu"){
			return "法务部门";
		}else if(value=="jinying"){
			return "经营部门";
		}else if(value=="gongchen"){
			return "工程部门";
		}else if(value=="bangong"){
			return "办公部门";
		}else if(value=="caiwu"){
			return "财务部门";
		}else if(value=="fuBoss"){
			return "副总经理";
		}else if(value=="boss"){
			return "总经理";
		}else{
			return "";
		}
		
    }
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }
    var fileinputDefaults = {
            maxFileSize: 204800,
            maxFileCount:3,
            previewSettings: {
                image: {width: "160px", height: "60px"},
                text: {width: "213px", height: "160px"},
                object: {width: "160px", height: "auto"},
                pdf: {width: "160px", height: "160px"},
                other: {width: "160px", height: "160px"}
            },
            previewZoomSettings: {
                image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
                text: {width: "100%", height: "100%", 'min-height': "480px"},
                object: {width: "auto", height: "100%", 'min-height': "480px"},
                pdf: {width: "100%", height: "100%", 'min-height': "480px"},
                other: {width: "auto", height: "100%", 'min-height': "480px"}
            },
            uploadUrl: basePath + "/laborreview/uploadMultipleFile",
            deleteUrl: basePath + "/laborreview/deletefile",
            allowedPreviewTypes : ['image', 'object']
      }
      var defaults = {
            title: "请上传附件",
            getFileResultUrl: basePath+"/laborreview/getFiles",
            downloadFileUrl: basePath+"/laborreview/download/",
            fileinput: fileinputDefaults,
            showType:'detail',
            window:true,
            callback:function(fileId,oldfileIds){
                this.showFiles({
                    fileIds:fileId,
                    type:'preview'
                });
            }
      }
      
      $("#uploadFile").file($.extend({}, defaults, {
          title:"请上传附件",
          fileinput:$.extend({}, fileinputDefaults, {
              uploadExtraData: {"fileField":"fileId"}
          }),
          showContainer:'#attachment',
          fileIdContainer:"[name='fileId']",
          extraPreviewConfig:{
              "fileField":"fileId"
          }
      }));
	
</script>
