<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="">
				<div><h3 id="moneyth1"></h3></div>
                <div class="box" >
                	<div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">预付信息</i>
                        </span>
                    </div>
                    <div class="dataTables_filter" id="searchDivPDet" style="width:100%">
                       <input type="search" id="cgid" name="p.purdetid" class="form-control" operator="eq" style="display:none;" >
                       <input type="search" id="gys" name="p.channelName" class="form-control" operator="eq" style="display:none;" >
                       <div class="btn-group">
                           <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
                           <button type="button" class="btn btn-primary" data-btn-type="addMx" id = "addMx">新增</button>
                       </div>
                    </div>
                    <div class="box-body box-body-mobile">
                        <!-- 内容 -->
                        <table id="purchase_det_table" class="table table-bordered table-striped table-hover">
                        </table>
                    </div>
                     
                   
                </div>
</div>
<script>
    var cgid="${cgid?default(0)}";
    var type="${type?default(0)}";
    var gys="${gys?default(0)}";
    var cg="${cg?default(0)}";//采购条目id
    if(type=="20"){
		$("#gys").val(gys);
		$("#addMx").css("display","none")
		//预付和抵扣金额
	    var zyfk="${zyfk?default(0)}";
	    var ydk="${ydk?default(0)}";
	    $("#moneyth1").html("供应商："+gys+"--预付金额（审核完成）："+zyfk+"元,已抵扣："+ydk+"元");
    }else{
		//$("#cgid").val(cgid);
		$("#gys").val(gys);
		$("#moneyth1").html("");
    }
    
    var purchaseDetTable, winIds = "purchaseDetWin";
    $(function() {
        purchaseDetTable = new CommonTable("purchase_det_table", "advance_list", "searchDivPDet", null);
        $("#addMx").on("click",function(){
        	modals.openWin({
                winId:winIds,
                title:'创建',
                width:'800px',
                url:basePath+"/advance/addyfxx?cgid="+cgid+"&&cg="+cg,
                hideFunc:function(){
                	purchaseDetTable.reloadData();
                }
               });
        })
        
    });

	function fnRenderScMx(value,type, rowObj){
		var ope="<a href='javascript:void(0)' onclick='lookMx(\"" + value + "\")'style='color:green'>详情</a>&nbsp;&nbsp;"
		if(rowObj.status=="新建"||rowObj.status=="审核驳回"){
			ope += "<a href='javascript:void(0)' onclick='submit(\"" + value + "\")'>提交审核</a>"; 
			return ope + "&nbsp;&nbsp;<a href='javascript:void(0)' onclick='deleteMx(\"" + value + "\")'style='color:red'>删除</a>";
		}else if(rowObj.status=="完成"){
			if(rowObj.isjz=="10"){
				ope+="<a href='javascript:void(0)' onclick='dojz(\"" + value + "\")'>记账</a>&nbsp;&nbsp;";
			}
			ope+="<a href='javascript:void(0)' onclick='printYfk(\"" + value + "\")'>打印支付单</a>";

			return ope;
		}
		return ope;
	}
	function deleteMx(id){
		modals.confirm('确定删除该信息？', function() {
			ajaxPost(basePath+'/advance/delyfxx?id='+id, {}, function(data) {
	            if(data.success){
	           	 modals.info("删除成功");
	        	purchaseDetTable.reloadData();
	             }else{	
	           	  modals.info(data.message);
	             }
	        });
		})
	}
	function lookMx(id){
		modals.openWin({
            winId:winIds,
            title:'详情',
            width:'800px',
            url:basePath+"/advance/addyfxx?yfid="+id+"&cgid="+cgid,
            hideFunc:function(){
            }
           });
	}

	function submit(id){
		modals.confirm("是否要提交审批？",function(){
            ajaxPost(basePath + '/advance/submit', {id:id}, function (data) {
                if (data.success) {
                	purchaseDetTable.reloadData();
                	 modals.info("提交成功");
                } else {
                    modals.error(data.message);
                }
            });
        });
	}
	function dojz(id){
		modals.confirm("是否确认记账？",function(){
            ajaxPost(basePath + '/advance/dojz', {id:id}, function (data) {
                if (data.success) {
                	purchaseDetTable.reloadData();
                	 modals.info("记账成功");
                } else {
                    modals.error(data.message);
                }
            });
        });
	}
	function printYfk(id){
		modals.openWin({
            winId:"printzf",
            title:'支付单支付方式确认',
            width:'500px',
            url:basePath+"/advance/zffs?id="+id
        });
	}
	

</script>
