
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            
            <form id="purchase-form" name="purchase-form" class="form-horizontal">
                <input type="hidden" name="id">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <span>
                            <i class="fa fa-edit">物料申请</i>
                        </span>
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择项目<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <select id="projectID" class="form-control select2" name="projectID">
                                        <option selected="selected" value="">选择一个项目</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择预算<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <select id="budgetNo" class="form-control select2" name="budgetNo">
                                        <option selected="selected" value="">选择一个预算</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center" id="purchaseformsave">
                        <button type="submit" class="btn btn-primary" data-btn-type="next">保存并编辑明细</button>
                    </div>
                </div>
            </form>
            <form id="purchase-det-form" name="purchase-det-form" class="form-horizontal">
                <div class="box box-success dn" id="purchase_det">
                    <div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">编辑申请详情</i>
                        </span>
                    </div>
                    <div class="dataTables_filter" style="text-align:center;margin-top:5px;">
                       <input type="hidden" name="purchaseID">
                       <input type="hidden" name="regionName">
                       <select id="regionID" class="form-control select2" name="regionID" style="width:200px;">
                           <option selected="selected" value="">选择一个部位</option>
                       </select>
                       <input type="hidden" name="matName">
                       <select id="matNumber" class="form-control select2" name="matNumber" style="width:150px;">
                           <option selected="selected" value="">选择一个物料</option>
                       </select>
                       <input type="text" placeholder="规格" title="规格" name="matStandard" class="form-control" id="matStandard" readonly="readonly">
                       <input type="text" placeholder="单位" title="单位" name="unit" class="form-control" id="unit" style="width:60px;" readonly="readonly">
                       <input type="text" placeholder="数量" title="数量" name="quantity" class="form-control" id="quantity" style="width:100px;">
                       <div class="btn-group">
                           <button type="submit" class="btn btn-primary" data-btn-type="savetx">添加明细</button>
                       </div>
                    </div>
                    <div class="dataTables_filter" id="searchDivPDet" style="text-align:center;height:1px;">
                       <input type="search" name="purchaseID" class="form-control" operator="eq" style="display:none;">
                       <div class="btn-group">
                           <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
                       </div>
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <table id="purchase_det_table" class="table table-bordered table-striped table-hover">
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    var purchaseform = $("#purchase-form").form({baseEntity: false}), initData={},
    purchasedetform = $("#purchase-det-form").form({baseEntity: false}),options=0,bOptions=0,mats=0,regions=0;
    var purchaseDetTable, winId = "purchaseDetWin";
    
    var projectOptions = '${projectOptions?default(0)}';
    if(projectOptions != 0){
        options = JSON.parse(projectOptions);
    }
    
    var purchaseID="${purchaseID?default(0)}";
    initData.purchaseID = purchaseID;
    purchasedetform.initFormData(initData);
    
    var purchaseDetObject = {
            deletePurchaseDet: function (rowId) {
            	ajaxPost(basePath + '/purchase/apply/deletedet', {id:rowId}, function (data) {
                    if (data.success) {
                    	purchaseDetTable.table.page('first').draw(false);
                    } else {
                        modals.error(data.message);
                    }
                });
            }
    }
    
    $(function (){
    	purchaseDetTable = new CommonTable("purchase_det_table", "purchase_det_apply_edit", "searchDivPDet", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "200px",
            "scrollCollapse": true
        });
    	
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            
            $('#projectID').select2();
            
            $('#projectID').bind("change", function () {
                var projectID = $(this).val();

                ajaxPost(basePath+"/purchase/apply/getbudgetop",{projectID:projectID},function(data){
                    var budgetOptions = data.message;
                    bOptions = JSON.parse(budgetOptions);
                    $('#budgetNo').empty();
                    $('#budgetNo').append('<option selected="selected" value="">选择一个预算</option>');
                    for (var i = 0, len = bOptions.length; i < len; i++) {
                        var bOption = bOptions[i];
                        $('#budgetNo').append("<option value=\"" + bOption.value + "\">" + bOption.data + "</option>");
                    }
                    $('#budgetNo').select2();
                })
            }); 
        }
        
        $("#purchase-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = purchaseform.getFormSimpleData();
                ajaxPost(basePath + '/purchase/apply/save', formData, function (data) {
                    if (data.success) {
                    	
                    	mats = JSON.parse(data.data.mats);
                    	regions = JSON.parse(data.data.regions);
                    	
                    	initRegions(regions);
                    	initMats(mats);
                    	
                        initData.purchaseID = data.data.id;
                        purchasedetform.initFormData(initData);
                        $('#purchase_det').show();
                        $('#purchaseformsave').hide();
                        
                        $('#projectID').attr("disabled","disabled");
                        $('#budgetNo').attr("disabled","disabled");
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            fields: {
                "projectID": {
                    validators: {
                        notEmpty: {message: '项目不能为空'}
                    }
                },
                "budgetNo": {
                    validators: {
                        notEmpty: {message: '预算不能为空'}
                    }
                }
            }
        });
        
        $("#purchase-det-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = purchasedetform.getFormSimpleData();
                ajaxPost(basePath + '/purchase/apply/savedet', formData, function (data) {
                    if (data.success) {
                        purchaseDetTable.table.page('first').draw(false);
                    } else {
                        modals.error(data.message);
                    }
                });
                
            },
            fields: {
                "regionID": {
                    validators: {
                        notEmpty: {message: '部位不能为空'}
                    }
                },
                "matNumber": {
                    validators: {
                        notEmpty: {message: '物料编码不能为空'}
                    }
                },
                "quantity": {
                    validators: {
                        notEmpty: {message: '物料数量不能为空'}
                    }
                }
            }
        });
        //编辑回填
        if(purchaseID != 0){
            ajaxPost(basePath+"/purchase/apply/getpurchase",{purchaseID:purchaseID},function(data){
                console.log(data);
                mats = JSON.parse(data.data.mats);
                regions = JSON.parse(data.data.regions);
                
                initRegions(regions);
                initMats(mats);
                
                $('#purchase_det').show();
                $('#purchaseformsave').hide();
                
                var projectName = data.data.projectName;
                var budgetName = data.data.budgetName;
                
                var projectArea = $('#projectID').parent();
                projectArea.empty();
                $('<input>',{
                	"value" : projectName,
                	"type" : "text",
                	"class" : "form-control",
                	"readonly" : "readonly"
                }).appendTo(projectArea);
                
                var budgetArea = $('#budgetNo').parent();
                budgetArea.empty();
                $('<input>',{
                    "value" : budgetName,
                    "type" : "text",
                    "class" : "form-control",
                    "readonly" : "readonly"
                }).appendTo(budgetArea);
            })
        } 
        
        //初始化控件
        purchaseform.initComponent();
        purchasedetform.initComponent();
        
    });
    
    function fnRenderDelete(value){
        return "<a href='javascript:void(0)' onclick='purchaseDetObject.deletePurchaseDet(\"" + value + "\")'>删除</a>";
    }
    
    function initRegions(regions){
        if(regions != 0){
            for (var i = 0, len = regions.length; i < len; i++) {
                var option = regions[i];
                $('#regionID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            
            $('#regionID').select2();
            
            $('#regionID').bind("change", function () {
            	var regionName = $(this).find("option:selected").text();
            	$('input[name="regionName"]').val(regionName);
            });
        }
    }
    
    function initMats(mats){
        if(mats != 0){
            for (mat in mats.map) {
                var option = mats.map[mat];
                $('#matNumber').append("<option value=\"" + option.mat_number + "\">" + option.mat_name + "</option>");
            }
            
            $('#matNumber').select2();
            
            $('#matNumber').bind("change", function () {
                var matID = $(this).val();
                var mat = mats.map[matID];
                
                $('input[name="matName"]').val(mat.mat_name);
                $('#matStandard').val(mat.mat_standard);
                $('#unit').val(mat.unit);
                
            });
        }
    }
    
</script>