<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">机械预算条目</i>
                    </span>
                </div>
                <form id="mech-detail-form" name="mech-detail-form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="projectName" name="projectName" placeholder="所属项目" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">预算名称<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="预算名称" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">预算编码<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="code" name="code" placeholder="预算编码" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-success" id="budget_tx">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">机械预算条目详情</i>
                    </span>
                </div>
                <div class="dataTables_filter" id="searchDivDetail" style="display:none;">
                   <input type="search" name="mcd.entry_id" id="entryID" class="form-control" operator="eq" style="display:none;">
                </div>
                <div class="box-body box-body-mobile">
                    <!-- 内容 -->
                    <table id="mech_detail_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var form, mechDetailTable;
    var id = "${id}";
    $('#entryID').val(id);
    $(function () {
        mechDetailTable = new CommonTable("mech_detail_table", "mech_budget_detail_overview", "searchDivDetail", {
        	"createdRow": function( row, data, dataIndex ) {
        		var quantity = parseFloat(data.quantity),
        		consume = 0;
        		if(data.consumedQuantity != null){
        			consume = parseFloat(data.consumedQuantity);
        		}
        		if(accDiv(consume,quantity) >= 0.8 && accDiv(consume,quantity) < 0.95){
        			$(row).css('background-color', 'yellow');
        		}else if(accDiv(consume,quantity) >= 0.95){
        			$(row).css('background-color', 'red');
        		}
             }
        });
        //初始化表单 
        form = $("#mech-detail-form").form({baseEntity:false});
        //初始化控件
        form.initComponent();
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/mech/budget/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
        
    });
    function accDiv(arg1, arg2) {
    	var t1 = 0, t2 = 0, r1, r2;
    	try {
    		t1 = arg1.toString().split(".")[1].length;
    	}
    	catch (e) {
    	}
    	try {
    		t2 = arg2.toString().split(".")[1].length;
    	}
    		catch (e) {
    	}
    	with (Math) {
	    	r1 = Number(arg1.toString().replace(".", ""));
	    	r2 = Number(arg2.toString().replace(".", ""));
	    	return (r1 / r2) * pow(10, t2 - t1);
    	}
    }

</script>
