<script src="${basePath}/resources/cinder/editor/dataTables.editor.min.js"></script>
<script src="${basePath}/resources/common/js/calculate.js"></script>
<link rel="stylesheet" href="${basePath}/resources/cinder/editor/dataTables.editor.css">
<link rel="stylesheet" href="${basePath}/resources/cinder/editor/editor.dataTables.min.css">
<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-edit">付款信息</i>
                    </span>
                </div>
                <form id="import_form" name="attendance_form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-12">
                        	

		                    <div class="form-group">
		                    	<label for="projectId" class="col-sm-5 control-label">项目名称</label>
		                   		<div class="col-sm-2">
			                   		<select id="projectId" class="form-control select2 "  name="projectId" style="width:100%" disabled="disabled">
			                   			<option selected="selected" value="">选择一个项目</option>
			                   		</select>
		                   		</div>
		                    </div>
		                    <div class="form-group">
                                <label class="col-sm-5 control-label">开始时间</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control date-picker" name="startdate" id="startdate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" disabled="disabled">
                                </div>
                            </div>
                        	<div class="form-group">
                                <label class="col-sm-5 control-label">截止时间</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control date-picker" name="enddate" id="enddate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" disabled="disabled">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
            <div><h3 id="yeh3">项目帐余额：元</h3></div>
            <div class="box">
                <div class="dataTables_filter" id="searchDiv" style="text-align:right;height:1px;">
                    <input type="search" id="pid" name="zf.id" class="form-control dn" operator="eq" style="display:none;" value="1">
                    <input  id="sl" name="sl" class="form-control" placeholder="请输入百分比"><span style="color:red">例如0.6（百分六十）</span>
                    <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-btn-type="addFjsl">生成本期付款</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="attendance_import_table" class="table table-bordered table-striped table-hover">
                    	<tfoot>
                            <tr>
                                <th colspan="3" style="text-align:right">合计:</th>
                                <th class="text-left"></th>
                                <th class="text-left"></th>
                                <th class="text-left"></th>
                                <th class="text-left"></th>
                                <th class="text-left"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
var pros = '${projectOptions?default(0)}',pro=0;
if(pros != 0){
	pro = JSON.parse(pros);
}
var pid = '${payid?default(0)}'
if(pid!=0){
	$("#pid").val(pid);
}

    var importform,budgetImportTable;
    $(function () {
    	budgetImportTable = new CommonTable("attendance_import_table", "projectPay_DetSh", "searchDiv"
    			, {
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // Total over this page
                qcs = api
                    .column( 3, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return accAddition(intVal(a), intVal(b));
                    }, 0 );
                bqs = api
                	.column( 4, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return accAddition(intVal(a), intVal(b));
	                }, 0 );
                dks = api
	            	.column( 5, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return accAddition(intVal(a), intVal(b));
	                }, 0 );
                fks = api
	            	.column( 6, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return accAddition(intVal(a), intVal(b));
	                }, 0 );
                qms = api
	            	.column( 7, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return accAddition(intVal(a), intVal(b));
	                }, 0 );
                // Update footer
                $( api.column( 3 ).footer() ).html(
                    '￥'+qcs
                );
                $( api.column( 4 ).footer() ).html(
                        '￥'+bqs
                    );
                $( api.column( 5 ).footer() ).html(
                        '￥'+dks
                    );
                $( api.column( 6 ).footer() ).html(
                        '￥'+fks
                    );
                $( api.column( 7 ).footer() ).html(
                        '￥'+qms
                    );
            }
        });
    	 $('button[data-btn-type]').click(function() {
             var actions = $(this).attr('data-btn-type');
             switch (actions) {
             case 'addFjsl':
  	          	 var fjsl = $("#sl").val();
  	          	 if(!fjsl){
  	          		modals.info('请输入变更百分比');
  	              	 return;
  		         }
  	          	 if(isNaN(fjsl)){
  	          		modals.info('请输入正确的百分比');
  	              	 return;
  		          }
 		          if(parseFloat(fjsl)>1){
 		        	 modals.info('最大值为1');
  	              	 return;
 	 		      }
 		         if(parseFloat(fjsl)<0){
 		        	 modals.info('最小值为0');
  	              	 return;
 	 		      }
 		        var rowId = budgetImportTable.getSelectedRowId();
  				if(rowId){
  					ajaxPost(basePath+"/projectpay/doJsOneMx",{bfb:fjsl,id:rowId},function(data){
   	                   if(data.success){
   	                  	 $("#sl").val("");
   	                  	 budgetImportTable.reloadRowData();
   	                   }else{
   	                       modals.error("系统繁忙，请稍后重试");
   	                   }
   	               }); 
  	  			}else{
  	  				modals.error("请选择要生产付款的行");
  	  	  		}
  	          	 /* ajaxPost(basePath+"/projectpay/doJsAllMx",{bfb:fjsl,pid:pid},function(data){
  	                   if(data.success){
  	                  	 $("#sl").val("");
  	                  	 budgetImportTable.reloadRowData();
  	                   }else{
  	                       modals.error("系统繁忙，请稍后重试");
  	                   }
  	               }); */ 
                 break;             
             }

         });
        //初始化表单 
        importform = $("#import_form").form({baseEntity:false});
        //数据校验
        $("#import_form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
            	
            }
        });
        //初始化控件
        importform.initComponent();
        if(pro != 0){
            for (var i = 0, len = pro.length; i < len; i++) {
                var u = pro[i];
                $('#projectId').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $("#projectId").select2();
        }
        if(pid!=0){
        	ajaxPost(basePath + '/projectpay/getZf', {id:pid}, function (data) {
        		importform.initFormData(data.zf); 
        		$("#yeh3").html(data.ye);
            });
        }
    });
    function fnRenderGL(value, type, rowObj){
    	var oper = "";
    	if(rowObj.bq&&rowObj.bq!=0){
    		oper += "<a href='javascript:void(0)'style='color:green' onclick='lookBq(\"" + rowObj.channelName + "\")'>查看本期明细</a>&nbsp;&nbsp;&nbsp;";
        }
    	oper +="<a href='javascript:void(0)' onclick='payEdit(\"" + value + "\")'>编辑付款信息</a>";
    	
        return oper;
    }
    function payEdit(mxid){
    	modals.openWin({
            winId:"pay",
            title:'编辑付款信息',
            width:'70%',
            url:basePath+"/projectpay/editPay?mxid="+mxid
           });
    }
    function lookBq(channelName){
		$("#import_form").data("channelName",channelName);
		modals.openWin({
            winId:"payInstock",
            title:'本期入库明细',
            width:'70%',
            url:basePath+"/projectpay/auidtAsInstock"
           });
    }
    
</script>
