
<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="dataTables_filter" id="searchDiv1" style="text-align:center;height:1px;">
                    <input type="search" id="pid" name="zf.id" class="form-control dn" operator="eq" style="display:none;" value="1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dn" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default dn" data-btn-type="reset">重置</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="attendance_import_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
var payid = '${payid?default(0)}'
    var attendanceImportTable;
    $(function () {
        if(payid!=0){
			$("#pid").val(payid);
        }
    	budgetImportTable = new CommonTable("attendance_import_table", "projectPay_Det", "searchDiv1");
    	
       
        
    });
   
    
</script>
