<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:100%;overflow-y:auto;">

    <form id="contract-form" name="contract-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
        <div class="box-body">
            <div class="col-md-6">
             <div class="form-group">
                    <label  for="proid" class="col-sm-2 control-label">所属项目</label>
					<div class=" col-sm-9">
						<select id="projectId" class="form-control select2 "  name="proid" style="width:100%" disabled="disabled">
                   			<option selected="selected" value="">选择一个项目</option>
                   		</select>
					</div>
                </div>
                <div class="form-group">
                    <label  for="oneAuidt" class="col-sm-2 control-label">指定审核人员</label>
					<div class=" col-sm-9">
						<select id="oneAuidt" class="form-control select2 "  name="oneAuidt" style="width:100%" disabled="disabled">
                   			<option selected="selected" value="">选择人员</option>
                   		</select>
					</div>
                </div>
                
            </div>
            <div class="col-md-6">
           		<div class="form-group">
                    <label  for="type" class="col-sm-2 control-label">类型</label>
					<div class=" col-sm-9">
						<select id="type" class="form-control select2 "  name="type" style="width:100%" disabled="disabled">
                   			<option selected="selected" value="">选择类型</option>
                   			<option  value="10">施工组织设计</option>
                   			<option value="20">专项施工方案</option>
                   		</select>
					</div>
                </div>
              <div class="form-group">
                   <label class="col-sm-2 control-label">名称</label>
                   <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="名称" disabled="disabled">
                   </div>
               </div>
				
            </div>   
               
        </div>
        		<input type="hidden" name="fileId" id="fileId">
					<div class="form-group" align="center" id="wjscid">
						<div class="btn btn-default btn-file" id="uploadFile">
							<i class="fa fa-paperclip"></i> 上传文件附件(Max. 10MB)
						</div>
					</div>
					<div class="form-group" id="file_container">
						<input type="file" name="file"  id="attachment">
					</div>
			<div class="form-group">
                    <label for="content" class="col-sm-2 control-label">指定人员审核意见</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="bmyj" name="auidtDesc" placeholder="审核意见" rows="6" disabled="disabled"></textarea>
                    </div>
            </div>
        <!-- /.box-body -->
        <div class="" style="text-align: center;height:50px;width:100%">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="b_sub">保存</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<script>
    var form =null;
    var pros = '${xm?default(0)}',pro=0;
    if(pros != 0){
    	pro = JSON.parse(pros);
    }
    var users = '${userOptions?default(0)}',user=0;
    if(users != 0){
    	user = JSON.parse(users);
    }
    var id="${id?default(0)}";
    $(function() {
        //初始化控件
        form=$("#contract-form").form();
        $("#contract-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    	ajaxPost(basePath+'/fasp/savePhoto', params, function(data) {
                            if(data.success){
                                modals.info("数据保存成功");
                            }                
                        }); 
              
                     
                });
            }
        });
        
        if(pro != 0){
            for (var i = 0, len = pro.length; i < len; i++) {
                var u = pro[i];
                $('#projectId').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $(".projectId").select2();
        }
        if(user != 0){
            for (var i = 0, len = user.length; i < len; i++) {
                var u = user[i];
                $('#oneAuidt').append("<option value='" + u.id + "'>" + u.name + "</option>");
            }
            $(".oneAuidt").select2();
        }
        form.initComponent();
		if(id!=0){
	        load();
		}
        
    });
    function load(){
    	ajaxPost(basePath+'/fasp/load?id='+id, {}, function(data) {
            
            formdata = data.data;
            form.initFormData(formdata); 
            $("#fileId").val(data.code);
                            
        }); 
    }
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }
    var fileinputDefaults = {
            maxFileSize: 102400,
            maxFileCount:3,
            previewSettings: {
                image: {width: "160px", height: "60px"},
                text: {width: "213px", height: "160px"},
                object: {width: "160px", height: "auto"},
                pdf: {width: "160px", height: "160px"},
                other: {width: "160px", height: "160px"}
            },
            previewZoomSettings: {
                image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
                text: {width: "100%", height: "100%", 'min-height': "480px"},
                object: {width: "auto", height: "100%", 'min-height': "480px"},
                pdf: {width: "100%", height: "100%", 'min-height': "480px"},
                other: {width: "auto", height: "100%", 'min-height': "480px"}
            },
            uploadUrl: basePath + "/fasp/uploadMultipleFile",
            deleteUrl: basePath + "/fasp/deletefile",
            allowedPreviewTypes : ['image', 'object']
      }
      var defaults = {
            title: "请上传附件",
            getFileResultUrl: basePath+"/fasp/getFiles",
            downloadFileUrl: basePath+"/fasp/download/",
            fileinput: fileinputDefaults,
            showType:'detail',
            window:true,
            callback:function(fileId,oldfileIds){
                this.showFiles({
                    fileIds:fileId,
                    type:'preview'
                });
            }
      }
      
      $("#uploadFile").file($.extend({}, defaults, {
          title:"请上传附件",
          fileinput:$.extend({}, fileinputDefaults, {
              uploadExtraData: {"fileField":"fileId"}
          }),
          showContainer:'#attachment',
          fileIdContainer:"[name='fileId']",
          extraPreviewConfig:{
              "fileField":"fileId"
          }
      }));
    
    /* $("#uploadFile").file({
        title: "请上传附件",
        fileinput: {
            maxFileSize: 10240,
            maxFileCount:3
        },
        fileIdContainer:"[name='fileId']",
        showContainer:'#attachment',
        //显示文件类型 edit=可编辑  detail=明细 默认为明细
        showType:'edit',
        //弹出窗口 执行上传附件后的回调函数(window:false不调用此方法)
        window:true,
        callback:function(fileId,oldfileIds){
            //更新fileIds
            this.showFiles({
                fileIds:fileId
            });
        }
    }); */
	
</script>
