<section class="content-header">
    <h1>
        劳务合同
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">劳务管理</a></li>
        <li class="active">劳务合同</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                   <select id="projectID" class="form-control select2" name="l.project_id" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个项目</option>
                    </select>
                   <input type="search" placeholder="请输入责任人" title="责任人" name="l.construction_manager" class="form-control" id="charge_name" operator="like" likeOption="true">
                    <select  class="form-control select2" name="l.htlx" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个类型</option>
                    	<option value="10">包清工</option>
                    	<option value="20">包工包料</option>
                    	<option value="30">机械</option>
                    </select>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-btn-type="add"
                        data-toggle="modal" data-target="#myModal"
                        >新增</button>
                        <button type="button" class="btn btn-default" data-btn-type="edit">编辑</button>
                        <button type="button" class="btn btn-default" data-btn-type="delete">删除</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="labor_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					选择合同类型
				</h4>
			</div>
			<div class="modal-body" style="text-align: center">
				<select id='sblx' class='form-control select2'style='width:70%;' >
					<option selected='selected' value='10'>包清工</option>
					<option value='20'>包工包料</option>
					<option value='30'>机械</option>
				</select><br>
				<button type='button' class='btn btn-success' data-btn-type='dotrue'>确定添加</button>
			</div>
		</div>
	</div>
</div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var laborTable, winId = "laborWin";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
    	options = JSON.parse(projectOptions);
    }
    
    var laborObject = {
            startFlow: function (rowID) {
                modals.confirm("是否要提交审批？",function(){
                    ajaxPost(basePath + '/labor/start', {id:rowID}, function (data) {
                        if (data.success) {
                        	laborTable.reloadData();
                            modals.correct("流程已启动，请及时处理");
                        } else {
                            modals.error(data.message);
                        }
                    });
                });
            },
            detail: function (laborID){
                modals.openWin({
                    winId:winId,
                    title:'班组人员详情',
                    width:'1200px',
                    url:basePath+"/labor/outterdetail/" + laborID
                   });
            }
    }
    
    $(function (){
    	laborTable = new CommonTable("labor_table", "labor_list", "searchDiv", null);
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = laborTable.getSelectedRowId();
            switch (action) {
                case "edit":
                    if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    var data = laborTable.getSelectedRowData();
                    if(data.status == '提交审核' || data.status == '审核通过'){
                        modals.info('审核中或审核完成的条目不可编辑!');
                        return false;
                    }
                    loadPage(basePath+"/labor/edit/" +rowId+"?htlx="+data.htlx);
                    break;
                case "add":
                    //loadPage(basePath+"/labor/add");
                    break;
                case "dotrue":
                    var sblx = $("#sblx option:selected").val();
                    if(sblx){
                    	$("#myModal").modal('hide');

                    	setTimeout(function(){
                    		loadPage(basePath+"/labor/add?htlx="+sblx);
                        },500);
                        
                    }else{
                    	modals.info('请选择上报类型');	
                    }
                    
                    break;
                case "delete":
	                if(!rowId){
	                    modals.info('请选择要删除的行');
	                    return false;
	                }
	                var data = laborTable.getSelectedRowData();
                    if(data.status != '新建'&&data.status != '审核不通过'){
                    	modals.info('该状态合同不可删除!');
                    	return false;
                    }
	                modals.confirm("是否要删除该行数据？",function(){
	                    ajaxPost(basePath+"/labor/delete/"+rowId,null,function(data){
	                        if(data.success){
	                        	laborTable.reloadRowData();
	                        }else{
	                            modals.error("删除失败！");
	                        }
	                    });
	                })
	                break;
            }
        });
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $(".select2").select2();
        }
    });
    
    function fnRenderLabor(value, type, rowObj){
        var oper = "";
        if(rowObj.status == '新建' || rowObj.status == '审核不通过'){
            oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='laborObject.startFlow(\"" + value + "\")'>提交审批</a>";
            if(rowObj.status=='审核不通过'){
                if(rowObj.boyy){
                	oper +="&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)'style='color:red' onclick='lookyy(\"" + rowObj.boyy.replace(/[\r\n]/g,'') + "\")'>驳回原因</a>"
                }else{
                	oper +="&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)'style='color:red' onclick='lookyy(\"无\")'>驳回原因</a>"
                }
                
            	
        	}
         }
        oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='laborObject.detail(\"" + value + "\")'>查看</a>";
        //oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='laborObject.detail(\"" + value + "\")'>查看分项</a>";
        return oper;
    }
    function lookyy(value){
        if(value){
        	modals.info(value);
        }else{
        	modals.info("未说明原因");
        }
    	
    }
    
</script>