<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">劳务合同明细</i>
                    </span>
                </div>
                <form id="labor-detail-form" name="labor-detail-form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="projectName" name="projectName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同名称<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractName" name="contractName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">承包人<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractor" name="contractor" placeholder="承包人" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionTeam" name="constructionTeam" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionManager" name="constructionManager" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">机械费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control calculate" id="mechPrice" name="mechPrice" placeholder="机械费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">人工费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control calculate" id="labourPrice" name="labourPrice" placeholder="人工费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">材料费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control calculate" id="matPrice" name="matPrice" placeholder="材料费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同总价<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractPrice" name="contractPrice" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    var form;
    var id = "${id}";
    $(function () {
        //初始化表单 
        form = $("#labor-detail-form").form({baseEntity:false});
        //初始化控件
        form.initComponent();
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/labor/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
        
    });
   

</script>
