<section class="content-header">
    <h1>
        劳务合同
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">劳务管理</a></li>
        <li class="active">劳务合同</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                   <select id="projectID" class="form-control select2" name="projectID" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个项目</option>
                    </select>
                   <input type="search" placeholder="请输入责任人" title="责任人" name="constructionManager" class="form-control" id="charge_name" operator="like" likeOption="true">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-btn-type="add">新增</button>
                        <button type="button" class="btn btn-default" data-btn-type="edit">编辑</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="labor_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var laborTable, winId = "laborWin";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
    	options = JSON.parse(projectOptions);
    }
    
    var laborObject = {
            startFlow: function (rowID) {
                modals.confirm("是否要提交审批？",function(){
                    ajaxPost(basePath + '/labor/start', {id:rowID}, function (data) {
                        if (data.success) {
                        	laborTable.reloadData();
                            modals.correct("流程已启动，请及时处理");
                        } else {
                            modals.error(data.message);
                        }
                    });
                });
            },
            detail: function (laborID){
                modals.openWin({
                    winId:winId,
                    title:'班组人员详情',
                    width:'1100px',
                    url:basePath+"/labor/detailouter/" + laborID
                   });
            }
    }
    
    $(function (){
    	laborTable = new CommonTable("labor_table", "labor_list", "searchDiv", null);
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = laborTable.getSelectedRowId();
            switch (action) {
                case "edit":
                    if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    var data = laborTable.getSelectedRowData();
                    if(data.status == '提交审核' || data.status == '审核通过'){
                        modals.info('审核中或审核完成的条目不可编辑!');
                        return false;
                    }
                    loadPage(basePath+"/labor/edit/" +rowId);
                    break;
                case "add":
                    loadPage(basePath+"/labor/add");
                    break;
            }
        });
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $(".select2").select2();
        }
    });
    
    function fnRenderLabor(value, type, rowObj){
        var oper = "";
        if(rowObj.status == '新建' || rowObj.status == '审核不通过'){
            oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='laborObject.startFlow(\"" + value + "\")'>提交审批</a>";
        }
        oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='laborObject.detail(\"" + value + "\")'>查看分项</a>";
        return oper;
    }
    
</script>