<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">劳务合同明细</i>
                    </span>
                </div>
                <form id="labor-detail-form" name="labor-detail-form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="projectName" name="projectName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">承包人<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractor" name="contractor" placeholder="承包人" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="constructionManager" name="constructionManager" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同名称<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractName" name="contractName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="constructionTeam" name="constructionTeam" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同总价<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractPrice" name="contractPrice" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">合同分项列表</i>
                    </span>
                </div>
                <div class="dataTables_filter" id="searchDiv" style="display:none;">
                   <input type="search" name="laborID" id="laborID" class="form-control" operator="eq" style="display:none;">
                </div>
                <div class="box-body">
                    <!-- 内容 -->
                    <table id="labor_sub_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var form,laborSubTable;
    var id = "${id}";
    $('#laborID',$('#searchDiv')).val(id);
    $(function () {
    	laborSubTable = new CommonTable("labor_sub_table", "labor_sub_detail", "searchDiv", null);
        //初始化表单 
        form = $("#labor-detail-form").form({baseEntity:false});
        //初始化控件
        form.initComponent();
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/labor/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
        
    });
   

</script>
