<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">合同分项详情</i>
                    </span>
                </div>
                <div class="dataTables_filter" id="searchDivSub" style="display:none;">
                   <input type="search" name="laborID" id="laborID" class="form-control" operator="eq" style="display:none;">
                </div>
                <div class="box-body box-body-mobile">
                    <!-- 内容 -->
                    <table id="labor_sub_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var laborSubTable;
    
    var laborID="${id?default(0)}";
    $('#laborID',$('#searchDivSub')).val(laborID);
    
    $(function (){
    	laborSubTable = new CommonTable("labor_sub_table", "labor_sub_detail", "searchDivSub", null);
        
    });
    
</script>