<section class="content-header">
    <h1>
        <span>劳务合同</span>
        <small>新增</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">项目管理</a></li>
        <li class="active">新增劳务合同</li>
    </ol>
</section>

    

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div id="stepbar" class="add stepbar">
                    <div>
                        <div class="step">
                            <span class="tip">1</span>
                        </div>
                        <div class="stepinfo">添加合同基本信息</div>
                    </div>
                    <div>
                        <div class="step stepundone">
                            <span class="tip">2</span>
                        </div>
                        <div class="stepinfo undoneinfo">上传劳务合同</div>
                    </div>
                    <div>
                        <div class="step stepundone">
                            <span class="tip">3</span>
                        </div>
                        <div class="stepinfo undoneinfo">完成</div>
                    </div>
                </div>
                <form id="labor_form" name="project_form" class="form-horizontal">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="projectName" id="projectName">
                    <input type="hidden" name="constructionTeam" id="constructionTeam">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择项目<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="projectID" class="form-control select2" name="projectID">
                                            <option selected="selected" value="">选择一个项目</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="constructionTeamID" class="form-control select2" name="constructionTeamID">
                                            <option selected="selected" value="">选择一个班组</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同名称<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractName" name="contractName" placeholder="合同名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">承包人<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractor" name="contractor" placeholder="承包人">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="hidden" id="constructionManagerID" name="constructionManagerID"">
                                    <input type="text" class="form-control" id="constructionManager" name="constructionManager" readonly="readonly" placeholder="请选择负责人">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" data-btn-type="selectManager">
                                         <i class="fa fa-user"></i>&nbsp;选择
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-btn-type="prev">返回</button>
                        <button type="submit" class="btn btn-primary ml10" data-btn-type="next">管理劳务合同</button>
                        <button type="submit" class="btn btn-success ml10" data-btn-type="save">保存并返回</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    var form;
    var id = "${id?default(0)}";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
        options = JSON.parse(projectOptions);
    }
    
    var teamOptions = '${teamOptions?default(0)}',tOptions=0;
    if(teamOptions != 0){
        tOptions = JSON.parse(teamOptions);
    }
    
    var laborCtrl = {
        initButtonEvent: function () {
            $("button[data-btn-type='selectManager']").click(function () {
                var ids = $("#projectManager").val() || 0;
                modals.openWin({
                    winId: 'userSelectWin',
                    url: basePath + '/user/select/0/' + ids + '/setProjectManager',
                    width: '850px',
                    title: "选择项目负责人"
                })
            });
            $("button[data-btn-type='prev']").click(function () {
                loadPage(basePath+"/labor/list");
            });
        }
    }
    $(function () {
        //初始化表单 
        form = $("#labor_form").form({baseEntity:false});
        //数据校验
        $("#labor_form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var action = $(this).attr('$submitButton').attr('data-btn-type');
                var formData = form.getFormSimpleData();
                ajaxPost(basePath + '/labor/save', formData, function (data) {
                    if (data.success) {
                        switch (action) {
                            case "next":
                                loadPage(basePath+"/labor/edituploadfile", undefined, data.data);
                                break;
                            case "save":
                                loadPage(basePath+"/labor/list");
                                break;
                        }
                    } else {
                    	modals.error("保存失败！请检查班组是否重复");
                    }
                });
            },
            fields: {
                "projectID": {
                    validators: {
                        notEmpty: {message: '项目不能为空'}
                    }
                },
                "contractName": {
                    validators: {
                        notEmpty: {message: '合同名称不能为空'}
                    }
                },
                "contractor": {
                    validators: {
                        notEmpty: {message: '承包人不能为空'}
                    }
                },
                "constructionTeamID": {
                    validators: {
                        notEmpty: {message: '施工班组不能为空'}
                    }
                },
                "constructionManager": {
                    validators: {
                        notEmpty: {message: '项目负责人不能为空'}
                    }
                }
            }
        });
        //初始化控件
        form.initComponent();
        laborCtrl.initButtonEvent();
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#projectID").select2();
            $("#projectID").bind("change", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#projectID").prop('selectedIndex') > 0) {
                    name = $("#projectID").find("option:selected").text();
                }
                $('#projectName').val(name);
                
                ajaxPost(basePath+"/labor/getteamop",{projectID:value},function(data){
                    var teamOptions = data.message;
                    tOptions = JSON.parse(teamOptions);
                    $('#constructionTeamID').empty();
                    $('#constructionTeamID').append('<option selected="selected" value="">选择一个班组</option>');
                    for (var i = 0, len = tOptions.length; i < len; i++) {
                        var tOption = tOptions[i];
                        $('#constructionTeamID').append("<option value=\"" + tOption.value + "\">" + tOption.data + "</option>");
                    }
                    
                    $('#constructionTeamID').select2();
                    
                    $("#constructionTeamID").unbind("change.constructionTeam")
                    $("#constructionTeamID").bind("change.constructionTeam", function () {
                        var value = $(this).val();
                        if (value === "") {
                            return false;
                        }
                        
                        var name = "";
                        if ($("#constructionTeamID").prop('selectedIndex') > 0) {
                            name = $("#constructionTeamID").find("option:selected").text();
                        }
                        $('#constructionTeam').val(name);
                    });
                })
            });
        }
        
        if(tOptions != 0){
            for (var i = 0, len = tOptions.length; i < len; i++) {
                var option = tOptions[i];
                $('#constructionTeamID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#constructionTeamID").select2();
            $("#constructionTeamID").bind("change.constructionTeam", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#constructionTeamID").prop('selectedIndex') > 0) {
                    name = $("#constructionTeamID").find("option:selected").text();
                }
                $('#constructionTeam').val(name);
            });
        }
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/labor/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
        
    });
    
    function setProjectManager(id, name){
        $("#constructionManagerID").val(id);
        $("#constructionManager").val(name);
    }

</script>
