<section class="content-header">
    <h1>
        项目技术交底
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">技术管理</a></li>
        <li class="active">项目技术交底</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv1" style="display: none">
                    <!--查询条件-->
                    <!--查询条件-->
                    <select id="projectID" class="form-control select2" name="p.id" style="width:200px;" operator="eq">
        				<option selected="selected" value="">选择一个项目</option>
       				 </select>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="lwContract_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
           </div>
         </div>
         
</section>

<script>
    var form = $("#searchDiv1").form({baseEntity: false}), initData={};
    var xms = '${xm?default(0)}',xm=0;
    if(xms != 0){
    	xm = JSON.parse(xms);
    }
    var lx = '${lx?default(0)}';
    var dutycheckTable, winId = "projectQueryWin";
    $(function (){
    	dutycheckTable = new CommonTable("lwContract_table", "xmjd_xmList", "searchDiv1");
        

        if(xm != 0){
            for (var i = 0, len = xm.length; i < len; i++) {
                var u = xm[i];
                $('#projectID').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $(".select2").select2();
        }
    });
    function fnRenderXq(value){
		return "<a href='javascript:void(0)' onclick='showDetail(\"" + value + "\")' style='margin-right:10px'>项目技术交底</a>";
    }
   	function showDetail(value){
   		loadPage(basePath+"/jsjd/xmjdList?proid="+value+"&lx="+lx);
   	}
</script>