<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">编辑班组</h5>
</div>

<div class="modal-body">

    <form id="team-edit-form" name="team-edit-form" class="form-horizontal">
        <input type="hidden" name="id" id="id">
        <input type="hidden" name="projectName" id="projectName">
        <input type="hidden" name="teamLeader" id="teamLeader">
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">更换项目<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <select id="projectAddID" class="form-control select2" name="projectID" style="width:100%;">
                               <option selected="selected" value="">选择一个项目</option>
                       </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectID" class="col-sm-3 control-label">班组类型<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <select id="status" class="form-control select2" name="status" style="width:100%;" disabled="disabled">
                               <option selected="selected" value="">选择一个类型</option>
                               <option value="10">专业作业班组</option>
                               <option value="20">点工班组</option>
                       </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="col-sm-3 control-label">班组名称<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" id="teamName" name="teamName" placeholder="班组名称" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="col-sm-3 control-label">班组编号<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" id="teamCode" name="teamCode" placeholder="自动生成" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teamLeaderID" class="col-sm-3 control-label">班组长<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <select id="teamLeaderID" class="form-control select2" name="teamLeaderID" style="width:100%;">
                               <option selected="selected" value="">在班组人员中选择一个班组长</option>
                       </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registion" class="col-sm-3 control-label">注册信息<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" id="registion" name="registion" placeholder="注册信息">
                    </div>
                </div>
                <div class="form-group">
                    <label for="construction" class="col-sm-3 control-label">施工内容<span style="color:red">*</span></label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" id="construction" name="construction" placeholder="施工内容">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">提交</button>
        </div>
        <!-- /.box-footer -->
    </form>

</div>
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var id = "${id?default(0)}";
    var leaderOptions = '${leaderOptions?default(0)}';
    
    $(function() {
        //初始化控件
        form=$("#team-edit-form").form();
        //数据校验
        $("#team-edit-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function(validator, userform, submitButton) {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    ajaxPost(basePath+'/project/team/save', params, function(data, status) {
                        if(data.success){
                            modals.hideWin(winId); 
                            teamTable.reloadData(); 
                        }else{
                            modals.error("保存失败！请检查班组是否重复");
                        }            
                    });
                });
            },
            fields : {
                projectID : {
                    validators : {
                        notEmpty : {
                            message : '请选择项目'
                        }
                    }
                },
                status : {
                    validators : {
                        notEmpty : {
                            message : '请选择班组类型'
                        }
                    }
                },
                teamName : {
                    validators : {
                        notEmpty : {
                            message : '请输入班组名称'
                        }
                    }
                },
                teamLeaderID : {
                    validators : {
                        notEmpty : {
                            message : '请选择班组长'
                        }
                    }
                },
                registion : {
                    validators : {
                        notEmpty : {
                            message : '请输入注册信息'
                        }
                    }
                },
                construction : {
                    validators : {
                        notEmpty : {
                            message : '请输入施工内容'
                        }
                    }
                }
            }
        });
        form.initComponent();
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectAddID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#projectAddID").select2();
            $("#projectAddID").bind("change", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#projectAddID").prop('selectedIndex') > 0) {
                    name = $("#projectAddID").find("option:selected").text();
                }
                $('#projectName').val(name);
            });
        }
        
        if(leaderOptions != 0){
            loptions = JSON.parse(leaderOptions);
            for (var i = 0, len = loptions.length; i < len; i++) {
                var option = loptions[i];
                $('#teamLeaderID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#teamLeaderID").select2();
            $("#teamLeaderID").bind("change", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#teamLeaderID").prop('selectedIndex') > 0) {
                    name = $("#teamLeaderID").find("option:selected").text();
                }
                $('#teamLeader').val(name);
            });
        }
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/project/team/get",{id:id},function(data){
                form.initFormData(data);
            })
        }
        
    });
    
</script>
