<section class="content-header">
    <h1>
        财务文件管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">财务文件管理</a></li>
        <li class="active">财务文件管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv1" style="display: none">
                    <!--查询条件-->
                    <!--查询条件-->
                    <input placeholder="请输入名称" name="name" class="form-control" type="search" likeOption="true"operator="like" /> 
                    <select id="type" class="form-control select2" name="filetype" style="width:200px;" operator="eq" >
        				<option selected="selected" value="">选择类型</option>
                   			<option  value="10">通用文件</option>
                   			<option  value="20">财务文件</option>
       				 </select>
       				 <input id="typename" name="filetype" style="display: none" disabled="disabled"> 
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                    <div class="btn-group">
                    	<button type="button" class="btn btn-default" data-btn-type="add" id="add">新增</button>
                    	<button type="button" class="btn btn-default" data-btn-type="edit" id="edit">编辑</button>
                    	<button type="button" class="btn btn-default" data-btn-type="look" id="look">查看</button>
                        <button type="button" class="btn btn-default" data-btn-type="delete" id="delete">删除</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="lwContract_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
           </div>
         </div>
         
</section>

<script>
    var form = $("#searchDiv1").form({baseEntity: false}), initData={};
    var lx = '${lx?default(0)}';
    var dutycheckTable, winId = "projectQueryWin";
    $(function (){
    	if(lx=="look"){
            $("#add").css("display","none");
            $("#edit").css("display","none");
            $("#delete").css("display","none");
            $("#type").val("10");
            $("#type").attr("disabled",true);
            $("#typename").attr("disabled",false);
            $("#typename").val("10");
         }
    	dutycheckTable = new CommonTable("lwContract_table", "financeall_List", "searchDiv1");
        
        
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = dutycheckTable.getSelectedRowId();
            switch (action) {
            	case "add":
            		modals.openWin({
                        winId:winId,
                        title:'创建',
                        width:'1000px',
                        url:basePath+"/financeall/add",
                        hideFunc:function(){
                        	dutycheckTable.reloadData();
                        },
                        
                       });
            	break;
            	case "edit":
            		if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId:winId,
                        title:'编辑',
                        width:'1000px',
                        url:basePath+"/financeall/add?id="+rowId,
                        hideFunc:function(){
                        	dutycheckTable.reloadData();
                        }
                       });
            	break;
            	case "look":
            		if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId:winId,
                        title:'编辑',
                        width:'1000px',
                        url:basePath+"/financeall/add?id="+rowId+"&ck=look"
                       });
            	break;
                case "delete":
                	if(!rowId){
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？",function(){
                        ajaxPost(basePath+"/financeall/delete?id="+rowId,null,function(data){
                        	if(data.success){
                        		dutycheckTable.reloadData();
                        	}
                        	
                  
                        });
                    })
                	break;
                              
            }
        });
        
    });
    function fnFj(value, type, obj){
		return "<a href='javascript:void(0)' onclick='lookfj(\"" + value + "\")'>附件</a>";
    }
    function lookfj(mbid){
    	modals.openWin({
            winId: "files",
            width: "900px",
            url: basePath + "/financeall/projectdetailfile?id=" + mbid+"&lx="+lx ,
            title: "查看附件"
        });
    }
    
</script>