<script src="${basePath}/resources/common/js/calculate.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <form id="volume_formck" name="volume_formck" class="form-horizontal">
                    <input type="hidden" name="projectName" id="projectName">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="projectIDDetailck" class="form-control select2" name="projectID" disabled="disabled">
                                        <option selected="selected" value="">选择一个项目</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">选择合同<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="laborIDck" class="form-control select2" name="laborID" disabled="disabled">
                                        <option selected="selected" value="">选择一个合同</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionTeamck" name="constructionTeam" placeholder="施工班组" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">施工起始时间<span style="color:red">*</span></label>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="startTime" id="startTime"
                                        placeholder="起始时间" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目子项<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="projectSubIDck" class="form-control select2" name="projectSubID" disabled="disabled">
                                        <option selected="selected" value="">选择一个项目子项</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同总价（元）</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractPriceck" name="contractPrice" placeholder="合同总价" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionManagerck" name="constructionManager" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工结束时间<span style="color:red">*</span></label>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="endTime" id="endTime"
                                        placeholder="结束时间" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">工程量<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="volume" name="volume" rows="8" cols="100" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-left:25%">
                              <div class="callout callout-success" id="applyInfock" style="margin-top:8px;margin-bottom:8px;">
                                <h4>上报金额：</h4>
                                <p>机械费：<span id="mechInfock">尚未审批</span>；机械扣款：<span id="debitjxInfock">尚未审批</span>；</p>
                                <h5>上报小计：<span id="subInfock">尚未审批</span></h5>
                              </div>
                              <div class="callout callout-success" id="businessInfock" style="margin-top:8px;margin-bottom:8px;">
                                <h4>经营科审核金额：</h4>
                                <p>机械费：<span id="mechBusick">尚未审批</span>；机械扣款：<span id="debitjxBusick">尚未审批</span>；</p>
                                <h5>上报小计：<span id="subBusick">尚未审批</span></h5>
                              </div>
                              <div class="callout callout-success" id="finalInfock" style="margin-top:8px;margin-bottom:8px;">
                                <h4>财务审核金额：</h4>
                                <p>机械费：<span id="mechFinalck">尚未审批</span>；机械扣款：<span id="debitjxFinalck">尚未审批</span>；</p>
                                <h5>上报小计：<span id="subFinalck">尚未审批</span></h5>
                              </div>
                        </div>
                       <!-- <div class="col-sm-6" style="text-align: center;margin-left:25%">
                            <button type="button" class="btn btn-success" id="lookFkd">班组罚款单</button>
                       </div> -->
                    </div>
                </form>
            </div>
            
            <div class="box box-success">
                 <div class="box-header with-border">
                     <span>
                         <i class="fa fa-files-o">审批意见</i>
                     </span>
                 </div>
                 <div class="dataTables_filter" id="searchDivsp" style="text-align:center;height:1px;">
                    <input type="search" name="businessKey" id="businessKey" class="form-control" operator="eq" style="display:none;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
                    </div>
                 </div>
                 <div class="box-body">
                     <!-- 内容 -->
                     <table id="activiti_table" class="table table-bordered table-striped table-hover">
                     </table>
                 </div>
             </div>
            
        </div>
    </div>
</section>
<script>
    var ckform, activitiTable;
    var gclid = "${id?default(0)}";
    var sbxs = "${sbxs?default(0)}";
    if(sbxs=="2"){
		$("#applyInfock").css("display","")
		$("#businessInfock").css("display","")
		$("#finalInfock").css("display","none")
    }else if(sbxs=="3"){
    	$("#applyInfock").css("display","")
		$("#businessInfock").css("display","")
		$("#finalInfock").css("display","")
    }else{
    	$("#applyInfock").css("display","")
		$("#businessInfock").css("display","none")
		$("#finalInfock").css("display","none")
    }
    var ckprojectOptions = '${projectOptions?default(0)}',ckoptions=0;
    if(ckprojectOptions != 0){
    	ckoptions = JSON.parse(ckprojectOptions);
    }
    $(function () {
    	$('#businessKey').val(gclid);
    	
    	activitiTable = new CommonTable("activiti_table", "activiti_volume_list", "searchDivsp", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "200px",
            "scrollCollapse": true
        });
    	
        //初始化表单 
        ckform = $("#volume_formck").form({baseEntity:false});
        //数据校验
        //初始化控件
        ckform.initComponent();
        
        if(ckoptions != 0){
            for (var i = 0, len = ckoptions.length; i < len; i++) {
                var option = ckoptions[i];
                $('#projectIDDetailck').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#projectIDDetailck").select2();
            $("#projectIDDetailck").bind("change", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#projectIDDetailck").prop('selectedIndex') > 0) {
                    name = $("#projectIDDetailck").find("option:selected").text();
                }
                $('#projectNameck').val(name);
                
                ajaxPost(basePath+"/projectvolume/getlabor?sblx=30",{projectID:value},function(data){
                    var laborOptions = data.message;
                    lOptions = JSON.parse(laborOptions);
                    $('#laborIDck').empty();
                    $('#laborIDck').append('<option selected="selected" value="">选择一个合同</option>');
                    for (var i = 0, len = lOptions.length; i < len; i++) {
                        var lOption = lOptions[i];
                        $('#laborIDck').append("<option value=\"" + lOption.value + "\">" + lOption.data + "</option>");
                    }
                    $('#laborIDck').select2();
                    $('#laborIDck').unbind("change.Labor");
                    $('#laborIDck').bind("change.Labor", function(){
                        laborid = $(this).val();
                        if (laborid === "") {
                            return false;
                        }
                        ajaxPost(basePath+"/projectvolume/getlaborinfo",{laborID:laborid},function(data){
                            $('#constructionTeamck').val(data.constructionTeam);
                            $('#constructionManagerck').val(data.constructionManager);
                            $('#contractPriceck').val(data.contractPrice);
                        });
                        
                    });
                });
                //加载子项
                ajaxPost(basePath+"/projectvolume/getprojectsub",{projectID:value},function(data){
                    var laborSubOptions = data.message;
                    sOptions = JSON.parse(laborSubOptions);
                    $('#projectSubIDck').empty();
                    $('#projectSubIDck').append('<option selected="selected" value="">选择一个项目子项</option>');
                    for (var i = 0, len = sOptions.length; i < len; i++) {
                        var option = sOptions[i];
                        $('#projectSubIDck').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
                    }
                    $('#projectSubIDck').select2();
                });
                //子项加载结束
            });
        }
        
        //编辑回填
        if(gclid!="0"){
        	
            ajaxPost(basePath+"/projectvolume/get",{id:gclid},function(data){
                ckform.initFormData(data);
                
                $('#laborSubIDck').val(data.laborSubID).trigger("change");
                $('#mechInfock').html(data.applyMech + '元');
                $('#labourInfock').html(data.applyLabour + '元');
                $('#matInfock').html(data.applyMat + '元');
                $('#debitInfock').html(data.applyDebit + '元');
                $('#debitclInfock').html(data.applyDebitcl + '元');
                $('#debitjxInfock').html(data.applyDebitjx + '元');
                $('#subInfock').html(data.applySub + '元');

                
            	$('#mechBusick').html(data.businessMech + '元');
                $('#labourBusick').html(data.businessLabour + '元');
                $('#matBusick').html(data.businessMat + '元');
                $('#debitBusick').html(data.businessDebit + '元');
                $('#debitjxBusick').html(data.businessDebitjx + '元');
                $('#debitclBusick').html(data.businessDebitcl + '元');
                $('#subBusick').html(data.businessSub + '元');
                
            	$('#mechFinalck').html(data.finalMech + '元');
                $('#labourFinalck').html(data.finalLabour + '元');
                $('#matFinalck').html(data.finalMat + '元');
                $('#debitFinalck').html(data.finalDebit + '元');
                $('#debitjxFinalck').html(data.finalDebit + '元');
                $('#debitclFinalck').html(data.finalDebit + '元');
                $('#subFinalck').html(data.finalSub + '元');
                
                //$('.final').show();
            })
        }
        
       /*  $("#lookFkd").on("click",function(){
            lookFkd();
        }) */
    });
    /* function lookFkd(){
        modals.openWin({
            winId:"lookfkd",
            title:'班组罚款详情',
            width:'1000px',
            url:basePath+"/projectvolume/lookfkd?id="+gclid            
           });
    } */
    
</script>
