<script src="${basePath}/resources/common/js/calculate.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
            	<h3 id="isPayHtml" style="color:red"></h3>
                <form id="volume_form" name="project_form" class="form-horizontal">
                    <input type="hidden" name="projectName" id="projectName">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="projectID" class="form-control select2" name="projectID" disabled="disabled">
                                        <option selected="selected" value="">选择一个项目</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">选择合同<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="laborID" class="form-control select2" name="laborID" disabled="disabled">
                                        <option selected="selected" value="">选择一个合同</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionTeam" name="constructionTeam" placeholder="施工班组" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">施工起始时间<span style="color:red">*</span></label>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="startTime" id="startTime"
                                        placeholder="起始时间" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目子项<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <select id="projectSubID" class="form-control select2" name="projectSubID" disabled="disabled">
                                        <option selected="selected" value="">选择一个项目子项</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同总价（元）</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="contractPrice" name="contractPrice" placeholder="合同总价" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="constructionManager" name="constructionManager" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工结束时间<span style="color:red">*</span></label>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="endTime" id="endTime"
                                        placeholder="结束时间" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">工程量<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="volume" name="volume" rows="8" cols="100" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-left:25%">
                              <div class="callout callout-success" id="applyInfo" style="margin-top:8px;margin-bottom:8px;">
                                <h4>上报金额：</h4>
                                <p>机械费：<span id="mechInfo">尚未审批</span>；机械扣款：<span id="debitjxInfo">尚未审批</span>；</p>
                                <h5>上报小计：<span id="subInfo">尚未审批</span></h5>
                              	<p>功效：<span id="sbgx"></span></p>
                              </div>
                              <div class="callout callout-success" id="businessInfo" style="margin-top:8px;margin-bottom:8px;">
                                <h4>经营科审核金额：</h4>
                                <p>机械费：<span id="mechBusi">尚未审批</span>；机械扣款：<span id="debitjxBusi">尚未审批</span>；</p>
                                <h5>上报小计：<span id="subBusi">尚未审批</span></h5>
                              	<p>功效：<span id="jygx"></span>；功效比：<span id="jygxb"></span></p>
                              </div>
                        </div>
                        <div class="col-md-6 final dn">
                        	<div class="form-group">
                                <label class="col-sm-5 control-label">审核人工费（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input readonly="readonly" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalLabour" name="finalLabour" placeholder="审核人工费" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">审核机械费（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalMech" name="finalMech" placeholder="审核机械费" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">审核材料费（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input readonly="readonly" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalMat" name="finalMat" placeholder="审核材料费" value="0">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6 final dn">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审核人工扣款（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input readonly="readonly" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalDebit" name="finalDebit" placeholder="审核应扣款" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审核机械扣款（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalDebitjx" name="finalDebitjx" placeholder="审核应扣款" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审核材料扣款（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input readonly="readonly" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalDebitcl" name="finalDebitcl" placeholder="审核应扣款" value="0">
                                </div>
                            </div>
                            
                            <div class="form-group" style="display: none">
                                <label class="col-sm-3 control-label">审核包工包料（元）<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input readonly="readonly" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control calculate" id="finalPack" name="finalPack" placeholder="审核包工包料" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 final dn">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审核后总计（元）<span style="color:red">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" id="finalSub" name="finalSub" placeholder="审核后总计" value="0" readonly="readonly">
                                </div>
                            </div>
                        </div>
                       <div class="col-sm-6" style="text-align: center;margin-left:25%">
                            <button type="button" class="btn btn-success" id="lookFkd">班组罚款单</button>
                       </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            	<div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">班组工程量(所属班组全部)</i>
                        </span>
                    </div>
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" >
                    <select  class="form-control select2" name="pv.sblx" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个类型</option>
                    	<option value="10">包清工</option>
                    	<option value="20">包工包料</option>
                    	<option value="30">机械</option>
                    </select>
                    <input id = "bzid" name="l.construction_team_id" style="display: none" operator="eq">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="volume_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var form;
    var id = "${id?default(0)}";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
        options = JSON.parse(projectOptions);
    }
    var bzid = "${bzid?default(0)}";
    $("#bzid").val(bzid);
    var volumeTable, winId = "volumeWin";
    var volumeManageObject = {
            toAudit: function (volumeID) {
                modals.openWin({
	                 winId:winId,
	                 title:'工程量上报详情',
	                 width:'1200px',
	                 url:basePath+"/projectvolume/detailouter/"+volumeID            
                });
            }
    }
    $(function () {
    	volumeTable = new CommonTable("volume_table", "volume_list_sh", "searchDiv", null);
        //初始化表单 
        form = $("#volume_form").form({baseEntity:false});
        //数据校验
        //初始化控件
        form.initComponent();
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $("#projectID").select2();
            $("#projectID").bind("change", function () {
                var value = $(this).val();
                if (value === "") {
                    return false;
                }
                
                var name = "";
                if ($("#projectID").prop('selectedIndex') > 0) {
                    name = $("#projectID").find("option:selected").text();
                }
                $('#projectName').val(name);
                
                ajaxPost(basePath+"/projectvolume/getlabor?sblx=30",{projectID:value},function(data){
                    var laborOptions = data.message;
                    lOptions = JSON.parse(laborOptions);
                    $('#laborID').empty();
                    $('#laborID').append('<option selected="selected" value="">选择一个合同</option>');
                    for (var i = 0, len = lOptions.length; i < len; i++) {
                        var lOption = lOptions[i];
                        $('#laborID').append("<option value=\"" + lOption.value + "\">" + lOption.data + "</option>");
                    }
                    $('#laborID').select2();
                    $('#laborID').unbind("change.Labor");
                    $('#laborID').bind("change.Labor", function(){
                        laborid = $(this).val();
                        if (laborid === "") {
                            return false;
                        }
                        ajaxPost(basePath+"/projectvolume/getlaborinfo",{laborID:laborid},function(data){
                            $('#constructionTeam').val(data.constructionTeam);
                            $('#constructionManager').val(data.constructionManager);
                            $('#contractPrice').val(data.contractPrice);
                        });
                        //显示已上报合计
                        ajaxPost(basePath+"/projectvolume/getHtlsje",{htid:laborid},function(data){
                            $("#isPayHtml").html(data.message);
                        });
                    });
                });
                //加载子项
                ajaxPost(basePath+"/projectvolume/getprojectsub",{projectID:value},function(data){
                    var laborSubOptions = data.message;
                    sOptions = JSON.parse(laborSubOptions);
                    $('#projectSubID').empty();
                    $('#projectSubID').append('<option selected="selected" value="">选择一个项目子项</option>');
                    for (var i = 0, len = sOptions.length; i < len; i++) {
                        var option = sOptions[i];
                        $('#projectSubID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
                    }
                    $('#projectSubID').select2();
                });
                //子项加载结束
            });
        }
        
      //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/projectvolume/get",{id:id},function(data){
                form.initFormData(data);
                $('#laborSubID').val(data.laborSubID).trigger("change");
                $('#mechInfo').html(data.applyMech + '元');
                $('#labourInfo').html(data.applyLabour + '元');
                $('#matInfo').html(data.applyMat + '元');
                $('#debitInfo').html(data.applyDebit + '元');
                $('#debitclInfo').html(data.applyDebitcl + '元');
                $('#debitjxInfo').html(data.applyDebitjx + '元');
                $('#subInfo').html(data.applySub + '元');

                
            	$('#mechBusi').html(data.businessMech + '元');
                $('#labourBusi').html(data.businessLabour + '元');
                $('#matBusi').html(data.businessMat + '元');
                
                $('#debitBusi').html(data.businessDebit + '元');
                $('#debitjxBusi').html(data.businessDebitjx + '元');
                $('#debitclBusi').html(data.businessDebitcl + '元');
                $('#subBusi').html(data.businessSub + '元');

                if(data.sbgx){
                	$("#sbgx").html(data.sbgx);
                }
                if(data.jygx){
                	$("#jygx").html(data.jygx);
                }
                if(data.jygxb){
                	$("#jygxb").html(data.jygxb);
                }
                if(data.status=="60"){
                    $('.final').show();
                }
            })
        }
        
        $(".calculate").on("focusout", function(){
            var mech = parseFloat($('#finalMech').val());
            var labour = parseFloat($('#finalLabour').val());
            var mat = parseFloat($('#finalMat').val());
            var pack = parseFloat($('#finalPack').val());
            var debit = parseFloat($('#finalDebit').val());
            var debitjx = parseFloat($('#finalDebitjx').val());
            var debitcl = parseFloat($('#finalDebitcl').val());
            var debits = accAddition(accAddition(debit,debitcl),debitjx);
            
            var sub = accSubtraction(accAddition(accAddition(accAddition(mech, labour), mat), pack), debits);
            $('#finalSub').val(sub);
            
            var formData = {};
            formData.id = id;
            formData.finalMech = mech + '';
            formData.finalLabour = labour + '';
            formData.finalMat = mat + '';
            formData.finalPack = pack + "";
            formData.finalDebit = debit + '';
            formData.finalDebitjx = debitjx + '';
            formData.finalDebitcl = debitcl + '';
            formData.finalSub = sub + '';
            ajaxPost(basePath + '/projectvolume/savefinal', formData, function (data) {
                if (data.success) {
                } else {
                    modals.error("金额更新失败，请联系系统管理员");
                }
            });
        });
        $("#lookFkd").on("click",function(){
			lookFkd();
        })
    });
    function lookFkd(){
    	modals.openWin({
            winId:"lookfkd",
            title:'班组罚款详情',
            width:'1000px',
            url:basePath+"/projectvolume/lookfkd?id="+id,
            hideFunc:function(){
            	if(id!="0"){
                    ajaxPost(basePath+"/projectvolume/get",{id:id},function(data){
                        form.initFormData(data);
                        $('#laborSubID').val(data.laborSubID).trigger("change");
                        $('#mechInfo').html(data.applyMech + '元');
                        $('#labourInfo').html(data.applyLabour + '元');
                        $('#matInfo').html(data.applyMat + '元');
                        $('#debitInfo').html(data.applyDebit + '元');
                        $('#debitclInfo').html(data.applyDebitcl + '元');
                        $('#debitjxInfo').html(data.applyDebitjx + '元');
                        $('#subInfo').html(data.applySub + '元');

                        
                    	$('#mechBusi').html(data.businessMech + '元');
                        $('#labourBusi').html(data.businessLabour + '元');
                        $('#matBusi').html(data.businessMat + '元');
                        
                        $('#debitBusi').html(data.businessDebit + '元');
                        $('#debitjxBusi').html(data.businessDebitjx + '元');
                        $('#debitclBusi').html(data.businessDebitcl + '元');
                        $('#subBusi').html(data.businessSub + '元');
                        
                        if(data.status=="60"){
                            $('.final').show();
                        }
                    })
                }
            }            
           });
    }
    function fnRenderVolume(value, type, rowObj){
        var oper = "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.toAudit(\"" + rowObj.id + "\")'>查看详情</a>";
        return oper;
    }
</script>
