<script src="${basePath}/resources/cinder/editor/dataTables.editor.min.js"></script>
<script src="${basePath}/resources/common/js/calculate.js"></script>
<link rel="stylesheet" href="${basePath}/resources/cinder/editor/dataTables.editor.css">
<link rel="stylesheet" href="${basePath}/resources/cinder/editor/editor.dataTables.min.css">
<style>
.fixed-button-area{position:fixed;z-index:1;left:45%;}
.DTE_Field_InputControl{color:black;}
</style>
<section class="content-header">
    <h1>
        考勤
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">考勤管理</a></li>
        <li class="active">考勤记录查询</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv">
                   <input type="search" placeholder="请输入姓名" title="姓名" name="name" class="form-control" operator="like" likeOption="true" autocomplete="off">
                   <input type="search" placeholder="请输入月份" title="月份" name="month" class="form-control" operator="eq" autocomplete="off">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                </div>
                <div class="box-body box-body-mobile">
                    <table id="attendance_list_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var attendanceTable;
    $(function (){
    	attendanceTable = new CommonTable("attendance_list_table", "attendance_list", "searchDiv", null);
    	initSalaryEditor();
    });

            function initSalaryEditor(){
                salaryEditor = new $.fn.dataTable.Editor( {
                    ajax: basePath+"/attendance/rowedit",
                    table: "#attendance_list_table",
                    idSrc:  'id',
                    fields: [ 
                        {label:"suppose:", name:"suppose",type:"text"},
                        {label:"normal:", name:"normal",type:"text"},
                        {label:"exception:", name:"exception",type:"text"},
                        {label:"early:", name:"early",type:"text"},
                        {label:"late:", name:"late",type:"text"},
                        {label:"completion:", name:"completion",type:"text"},
                        {label:"total:", name:"total",type:"text"}
                        
                    ]
                } );
                
                $('#attendance_list_table').on( 'click', 'tbody td:not(:first-child)', function (e) {
                    salaryEditor.inline( this, {
                        onBlur: 'submit'
                    });
                } );
            }
</script>