<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">机械预算条目</i>
                    </span>
                </div>
                <form id="consume-detail-form" name="mech-detail-form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="projectName" name="projectName" placeholder="所属项目" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">本次上报代号<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="上报代号" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">本次上报机械条目<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="mechName" name="mechName" placeholder="所属条目" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">机械人工消耗总额</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="mechLabour" name="mechLabour" placeholder="机械人工消耗总额" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">机械人工消耗工程量</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="mechLabourVolume" name="mechLabourVolume" rows="5" cols="100" placeholder="有机械人工消耗总额时必填"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="pingxing" class="dn">
                        	<div class="col-md-12">
	                       		  <div class="col-md-4">
			                        	<div class="callout callout-info" id="zhiliangT" style="margin-bottom:8px;">
						                	<h4>质量员【<span id="zhiliang">未处理</span>】</h4>
						                	<p>审批意见：<span id="zhiliangsugg">尚未审批</span></p>
					              		</div>
			                      </div>
			                      <div class="col-md-4">
			                        	<div class="callout callout-info" id="anquanT" style="margin-bottom:8px;">
					                		<h4>安全员【<span id="anquan">未处理</span>】</h4>
					                		<p>审批意见：<span id="anquansugg">尚未审批</span></p>
					              		</div>
			                      </div>
			                      <div class="col-md-4">
			                        	<div class="callout callout-info" id="shigongT" style="margin-bottom:8px;">
					                		<h4>分管施工员【<span id="shigong">未处理</span>】</h4>
					                		<p>审批意见：<span id="shigongsugg">尚未审批</span></p>
					              		</div>
			                      </div>
                        	</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">上报明细</i>
                    </span>
                </div>
                <div class="dataTables_filter" id="searchDivActivitiDetail" style="display:none;">
                   <input type="search" name="mc.id" id="entryID" class="form-control" operator="eq" style="display:none;">
                </div>
                <div class="box-body box-body-mobile">
                    <!-- 内容 -->
                    <table id="consume_detail_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var form, consumeDetailTable;
    var id = "${id}";
    $('#entryID').val(id);
    $(function () {
        consumeDetailTable = new CommonTable("consume_detail_table", "mech_consume_detail_activiti", "searchDivActivitiDetail", {
        	"createdRow": function( row, data, dataIndex ) {
        		var quantity = parseFloat(data.quantity),
        		consume = 0,
        		apply = parseFloat(data.consume_quantity);
        		if(data.consumedQuantity != null){
        			consume = parseFloat(data.consumedQuantity);
        		}
        		if(accDiv(accAdd(consume, apply),quantity) >= 0.8 && accDiv(accAdd(consume, apply),quantity) < 0.95){
        			$(row).css('background-color', 'yellow');
        		}else if(accDiv(accAdd(consume, apply),quantity) >= 0.95){
        			$(row).css('background-color', 'red');
        		}
             }
        });
        //初始化表单 
        form = $("#consume-detail-form").form({baseEntity:false});
        //初始化控件
        form.initComponent();
        
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/mech/consume/get",{id:id},function(data){
                form.initFormData(data);
                if(data.status=="20" || data.status=="30"){
                	$('#pingxing').show();
                	ajaxPost(basePath+"/projectvolume/getpingxing",{id:data.id},function(data){
                        var px = data.data;
                        handlePX('zhiliang', data.data.zhiliang, data.data.zhiliangsugg);
                        handlePX('anquan', data.data.anquan, data.data.anquansugg);
                        handlePX('shigong', data.data.shigong, data.data.shigongsugg);
                    });
                }
            })
        }
        
    });
    
    function handlePX(type, state, sugg){
    	if("true" == state){
    		$('#'+type+'T').removeClass('callout-info');
    		$('#'+type+'T').addClass('callout-success');
    		$('#'+type).html("审批通过");
    		$('#'+type+'sugg').html(sugg);
    	}else if("false" == state){
    		$('#'+type+'T').removeClass('callout-info');
    		$('#'+type+'T').addClass('callout-danger');
    		$('#'+type).html("审批不通过");
    		$('#'+type+'sugg').html(sugg);
    	}
    }
   
    function accAdd(arg1, arg2) {
    	var r1, r2, m, c;
    	try {
    		r1 = arg1.toString().split(".")[1].length;
    	}
    	catch (e) {
    		r1 = 0;
    	}
    	try {
    		r2 = arg2.toString().split(".")[1].length;
    	}
    	catch (e) {
    		r2 = 0;
    	}
    	c = Math.abs(r1 - r2);
    	m = Math.pow(10, Math.max(r1, r2));
    	if (c > 0) {
	    	var cm = Math.pow(10, c);
	    	if (r1 > r2) {
	    		arg1 = Number(arg1.toString().replace(".", ""));
	    		arg2 = Number(arg2.toString().replace(".", "")) * cm;
	    	} else {
	    		arg1 = Number(arg1.toString().replace(".", "")) * cm;
	    		arg2 = Number(arg2.toString().replace(".", ""));
	    	}
    	} else {
    		arg1 = Number(arg1.toString().replace(".", ""));
    		arg2 = Number(arg2.toString().replace(".", ""));
    	}
    	return (arg1 + arg2) / m;
   	}
    
    function accDiv(arg1, arg2) {
    	var t1 = 0, t2 = 0, r1, r2;
    	try {
    		t1 = arg1.toString().split(".")[1].length;
    	}
    	catch (e) {
    	}
    	try {
    		t2 = arg2.toString().split(".")[1].length;
    	}
    		catch (e) {
    	}
    	with (Math) {
	    	r1 = Number(arg1.toString().replace(".", ""));
	    	r2 = Number(arg2.toString().replace(".", ""));
	    	return (r1 / r2) * pow(10, t2 - t1);
    	}
    }

    
</script>
