<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<section class="content" id="projectaddstep2">
<div class="modal-header">
    <h5 class="modal-title">录入考核结果</h5>
</div>
<div class="modal-body">

    <form id="dutycheck-form" name="dutycheck-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="project_id" class="col-sm-3 control-label">所在工程</label>
                    <div class="col-sm-8">
                       <!--  <input type="text" class="form-control" id="project_name1" name="project_name" placeholder="所在工程" onclick="getProject()"> -->
                    	<select id="project_id" class="form-control select2 " name="project_id" style="width:100%">
                    		<option selected="selected" value="">选择一个项目</option>
                    	</select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="name1" class="col-sm-3 control-label">姓名</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name1" name="name" placeholder="姓名">
                    </div>
                </div>
           		 <div class="form-group">
                    <label for="check_name" class="col-sm-3 control-label">考核人</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="check_name" name="check_name" placeholder="考核人">
                    </div>
                </div>
                <div class="form-group">
                    <label for="deduction" class="col-sm-3 control-label">扣减分数</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="deduction" name="deduction" placeholder="扣减分数">
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
            	<div class="form-group">
                    <label for="unitName" class="col-sm-3 control-label">单位名称</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="unitName" name="unitName" placeholder="单位名称">
                    </div>
                </div>
                <div class="form-group">
					<label for="duties1"  class="col-sm-3 control-label">职务</label>
					 <div class="col-sm-8">
                        <select type="text" class="form-control" id="duties1" name="duties" placeholder="职务"></select>
                    </div>
				</div>
				<div class="form-group">
					<label  for="check_time1" class="col-sm-3 control-label">考核时间</label>
				<div class=" col-sm-8">
					<input class="form-control date-picker" id="check_time1" name="check_time"  data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="考核时间"  >
				
				</div>
				</div>
				<div class="form-group">
                    <label for="score" class="col-sm-3 control-label">总得分</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="score" name="score" placeholder="总得分">
                    </div>
                </div>
				<div class="form-group"></div>
            </div> 
            <div class="form-group">
                    <label for="check_result" class="col-sm-2 control-label">考核结果</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="check_result" name="check_result" placeholder="请输入考核结果" rows="6"></textarea>
                    </div>
            </div>    
             <div class="form-group">
                    <label for="jc" class="col-sm-2 control-label">奖惩</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="jc" name="jc" placeholder="请输入考核奖惩" rows="6"></textarea>
                    </div>
            </div>        
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="checkMX()">考核明细</button>
            <button type="submit" class="btn btn-primary" data-btn-type="save">提交</button>
        </div>
        <!-- /.box-footer -->
    </form>

</div>
</section>
<script>
    var form =null;
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
    	options = JSON.parse(projectOptions);
    }
    $(function() {
        //初始化控件
        form=$("#dutycheck-form").form();
        //数据校验
        $("#dutycheck-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    	ajaxPost(basePath+'/dutycheck/saveOrUpdate', params, function(data) {
                            if(data.success){
                            	$("#id").val(data.code);
                            	$("#project_id").attr("disabled",true)
                                modals.info("数据保存成功");
                                
                            }                
                        }); 
              
                     
                });
            },
            fields : {
            	project_id : {
                    validators : {
                        notEmpty : {
                            message : '请选择项目'
                        }
                    }
                },
                name : {
                    validators : {
                        notEmpty : {
                            message : '请选择姓名'
                        }
                    }
                },
                check_name : {
                    validators : {
                        notEmpty : {
                            message : '请输入考核人'
                        },
                       
                    }
                },
                unitName : {
                    validators : {
                        notEmpty : {
                            message : '请输入单位名称'
                        }
                    }
                },
                check_time : {
                    validators : {
                        notEmpty : {
                            message : '请输入考核时间'
                        }
                    }
                },
                duties : {
                    validators : {
                        notEmpty : {
                            message : '请选择职务'
                        }
                    }
                }
            }
        });
        form.initComponent();
        getRylx();
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#project_id').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $(".select2").select2();
        }
    });
    function checkMX(){
    	var checkId = $("#id").val();
    	if(checkId){
    		modals.openWin({
                winId:"mx",
                title:"考核明细录入",
                width:'1200px',
                url:basePath+"/dutycheck/checkMX?lx="+$("#duties1 option:selected").val()+"&id="+checkId
               });
    	}else{
    		modals.info("请先保存结果");
    	}	
    }
    
    function getRylx(){
    	ajaxPost(basePath+"/dutycheck/getRylx",null,function(data){
    		if(data.data){
    			var list = data.data;
    			var option;
    			for(var i=0;i<list.length;i++){
    				
    				option += "<option value='"+list[i].value+"'>"
    				+ list[i].name
    				+ "</option>";
    			}
    			$("#duties1").append(option);
    		}
    	})
    }
    
    function resetForm(){
        form.clearForm();
        $("#dutycheck-form").data('bootstrapValidator').resetForm();
    }
    
	
</script>
