<section class="content-header">
    <h1>
        工程量清单支付
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">财务账目管理</a></li>
        <li class="active">工程量清单支付</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" >
                    <select id="projectID" class="form-control select2" name="pv.project_id" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个项目</option>
                    </select>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                    </div>
                </div>
                <div class="box-body">
                    <table id="volume_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var volumeTable, winId = "volumeWin";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
    	options = JSON.parse(projectOptions);
    }
    
    var volumeManageObject = {
            pay: function (volumeID,payType) {
            	/* var zflx = "";
            	var msg = "";
            	if(payType==10){
            		zflx="人工";
            	}else if(payType==20){
            		zflx="机械";
            	}else if(payType==30){
            		zflx="材料";
            	}
            	if(msg){
            		modals.info(msg);
            		return ;
            	}
            	modals.openWin({
                    winId:winId,
                    title:zflx+'支付',
                    width:'900px',
                    url:basePath+"/volumepay/payMoney?gclid="+volumeID+"&&type="+payType+"&&lx=zf"
                   }); */
            	loadPage(basePath+"/volumepay/payList?gclid="+volumeID+"&type="+payType);
            },
            look: function (zfid,payType) {
            	var zflx = "";
            	if(payType==10){
            		zflx="人工";
            	}else if(payType==20){
            		zflx="机械";
            	}else if(payType==30){
            		zflx="材料";
            	}else if(payType==40){
            		zflx="包工包料";
                }
            	modals.openWin({
                    winId:winId,
                    title:'查看'+zflx+'支付信息',
                    width:'900px',
                    url:basePath+"/volumepay/payMoney?zfid="+zfid+"&&type="+payType+"&&lx=look"
                   });
            }
    }
    
    $(function (){
    	volumeTable = new CommonTable("volume_table", "volume_list_Pay", "searchDiv", null);
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = volumeTable.getSelectedRowId();
            
        });
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $(".select2").select2();
        }
        
    });
    
    function fnRenderRG(value, type, rowObj){
    	var oper ="";
    	if(rowObj.labourStatus==20){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",10)'>详情(支付完成)</a>";
    	}else if(rowObj.labourStatus==10){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",10)'>详情(支付部分)</a>";
    	}else{
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",10)'>详情(未支付)</a>";
    	}
        return oper;
    }
    function fnRenderCL(value, type, rowObj){
    	var oper ="";
    	if(rowObj.matStatus==20){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",30)'>详情(支付完成)</a>";
    	}else if(rowObj.matStatus==10){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",30)'>详情(支付部分)</a>";
    	}else{
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",30)'>详情(未支付)</a>";
    	}
        return oper;
    }
    function fnRenderJX(value, type, rowObj){
    	var oper ="";
    	if(rowObj.mechStatus==20){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",20)'>详情(支付完成)</a>";
    	}else if(rowObj.mechStatus==10){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",20)'>详情(支付部分)</a>";
    	}else{
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",20)'>详情(未支付)</a>";
    	}
        return oper;
    }

    function fnRenderBGBL(value, type, rowObj){
    	var oper ="";
    	console.log(rowObj);
    	if(rowObj.packStatus==20){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",40)'>详情(支付完成)</a>";
    	}else if(rowObj.packStatus==10){
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",40)'>详情(支付部分)</a>";
    	}else{
    		oper +="&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.pay(\"" + rowObj.id + "\",40)'>详情(未支付)</a>";
    	}
        return oper;
    }
</script>