<script type="text/javascript">
 $.fn.modal.Constructor.prototype.enforceFocus = function () {};
 </script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">资产领用</h5>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <form id="assets-stk-form" name="assets-stk-form" class="form-horizontal">
                <input type="hidden" name="id">
                <div class="box box-info">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">资产：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="name" name="name" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">型号：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="model" name="model" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">规格：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="norm" name="norm" readonly="readonly">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">生产厂商：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="vendor" name="vendor" readonly="readonly">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">数量：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="quantity" name="quantity" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">来源库：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="sourceStock" name="sourceStock" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">来源库管理员：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="sourceManagerName" name="sourceManagerName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">目标库：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="targetStock" name="targetStock" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">目标库管理员：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="targetManagerName" name="targetManagerName" readonly="readonly">
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">运输车辆：</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="vehicle" name="vehicle" readonly="readonly">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">司机：</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="driver" name="driver" readonly="readonly">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">调拨人：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="operaor" name="operator" readonly="readonly">                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $.fn.modal.Constructor.prototype.enforceFocus =function(){};
    var assetsstkform = $("#assets-stk-form").form({baseEntity: false}), initData={};
    
    var id="${id?default(0)}";
    
    $(function (){
        //编辑回填
        if(id != 0){
            ajaxPost(basePath+"/fixedassets/allocate/getallocate",{id:id},function(data){
            	assetsstkform.initFormData(data);
            })
        }
        
        //初始化控件
        assetsstkform.initComponent();
    });
</script>