<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:100%;overflow-y:auto;">

    <form id="fkd-form" name="fkd-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id2">
     <input type="hidden" name="checkDqId" id= "checkDqId">
        <div class="box-body">
            <div class="col-md-6">
                
				<div class="form-group">
                    <label  for="check_time1" class="col-sm-3 control-label">所属项目</label>
					<div class=" col-sm-8">
						<select id="projectId" class="form-control select2 "  name="proid" style="width:100%" >
                   			<option selected="selected" value="">选择一个项目</option>
                   		</select>
					</div>
                </div>
                <div class="form-group">
                    <label  for="wgtime" class="col-sm-3 control-label">违规时间</label>
					<div class=" col-sm-8">
						<input class="form-control date-picker" data-flag="datepicker" data-format="yyyy-mm-dd" id="wgtime" name="wgtime">
					</div>
                </div>
                <div class="form-group">
                    <label  for="wgbz" class="col-sm-3 control-label">违规班组</label>
					<div class=" col-sm-8">
						<input class="form-control " id="wgbz" name="wgbz" style="display: none">
						<select id="wgbzid" class="form-control select2 "  name="wgbzid" style="width:100%" onchange="setBz()" >
                   			<option selected="selected" value="">选择一个班组</option>
                   		</select>
					</div>
                </div>
                
            </div>
            <div class="col-md-6">
            	<div class="form-group">
                    <label  for="check_time1" class="col-sm-3 control-label">编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="number" name="number"  readonly="readonly" >
				
					</div>
                </div>
                <div class="form-group">
                    <label  for="wgdd" class="col-sm-3 control-label">违规地点</label>
					<div class=" col-sm-8">
						<input class="form-control " id="wgdd" name="wgdd">
				
					</div>
                </div>
                <div class="form-group">
                    <label  for="fkje" class="col-sm-3 control-label">罚款金额</label>
					<div class=" col-sm-8">
						<input class="form-control " id="fkje" name="fkje">
				
					</div>
                </div>
            </div>
            </div>
            <input type="hidden" name="fileId" id="fileId">
				<div class="form-group" align="center" id="wjscid">
					<div class="btn btn-default btn-file" id="uploadFile">
						<i class="fa fa-paperclip"></i> 上传罚款图片(Max. 10MB)
					</div>
				</div>
				<div class="form-group" id="file_container">
				<input type="file" name="file"  id="attachment">
			</div>
     
        <!-- /.box-body -->
        <div class="" style="text-align: center;height:50px;width:100%;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="b_sub">保存</button>
            <button type="button" class="btn btn-primary" data-btn-type="save" id="print">打印罚款单</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<script>
    var form =null;
    
    var pros = '${xm?default(0)}',pro=0;
    if(pros != 0){
    	pro = JSON.parse(pros);
    }
    var bzs = '${bz?default(0)}',bz=0;
    if(bzs != 0){
    	bz = JSON.parse(bzs);
    }
    var  id = '${id}';
    var lx = '${lx?default(0)}'
    if(lx=="look"){
		$("#b_sub").css("display","none")
		$("#print").css("display","none")
		$("#wjscid").css("display","none")
		$("#attachment").css("display","none")
    }
    $(function() {
        //初始化控件
        form=$("#fkd-form").form();
        //数据校验
        $("#fkd-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    	ajaxPost(basePath+'/checkdq/saveFkd', params, function(data) {
                            if(data.success){
                                modals.info("数据保存成功");
                                $("#id2").val(data.code);
                            }                
                        }); 
              
                     
                });
            },
            fields : {
                proid : {
                    validators : {
                        notEmpty : {
                            message : '请选择所属项目'
                        }
                    }
                },
                wgCont : {
                    validators : {
                        notEmpty : {
                            message : '请输入罚款事实'
                        }
                    }
                },
                wgbz : {
                    validators : {
                        notEmpty : {
                            message : '请输入罚款班组'
                        }
                    }
                },
                fkje : {
                    validators : {
                        notEmpty : {
                            message : '请输入罚款金额'
                        }
                    }
                }
            }
        });
        if(pro != 0){
            for (var i = 0, len = pro.length; i < len; i++) {
                var u = pro[i];
                $('#projectId').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $("#projectId").select2();
        }
        if(bz != 0){
            for (var i = 0, len = bz.length; i < len; i++) {
                var u = bz[i];
                $('#wgbzid').append("<option value='" + u.id + "'>" + u.teamName + "</option>");
            }
            $("#wgbzid").select2();
        }
        
        form.initComponent();
        ajaxPost(basePath+'/checkdq/loadFkd', {id:id}, function(data) {
    		$("#fkd-form").form().initFormData(data.data); 
    		if(!data.data.id){
				$("#print").css("display","none");
        	}
    		 $('#fileId').val(data.code);         
        });
        $("#print").on("click",function(){
        	ajaxPost(basePath+'/checkdq/loadFkd', {id:id}, function(data) {
        		var url = basePath+"/ureport/preview?_u=file:fk.ureport.xml&_t=1,5&id="+data.data.id;
        	 	window.open(url);         
            });
        	
        })
        
    });
    function setBz(){
		$("#wgbz").val($("#wgbzid option:selected").html());
    }
    function resetForm(){
        form.clearForm();
        $("#fkd-form").data('bootstrapValidator').resetForm();
    }

    var fileinputDefaults = {
            maxFileSize: 102400,
            maxFileCount:3,
            previewSettings: {
                image: {width: "160px", height: "60px"},
                text: {width: "213px", height: "160px"},
                object: {width: "160px", height: "auto"},
                pdf: {width: "160px", height: "160px"},
                other: {width: "160px", height: "160px"}
            },
            previewZoomSettings: {
                image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
                text: {width: "100%", height: "100%", 'min-height': "480px"},
                object: {width: "auto", height: "100%", 'min-height': "480px"},
                pdf: {width: "100%", height: "100%", 'min-height': "480px"},
                other: {width: "auto", height: "100%", 'min-height': "480px"}
            },
            uploadUrl: basePath + "/checkdq/uploadMultipleFile?type=40",
            deleteUrl: basePath + "/checkdq/deletefile",
            allowedPreviewTypes : ['image', 'object']
      }
      var defaults = {
            title: "请上传附件",
            getFileResultUrl: basePath+"/checkdq/getFiles",
            downloadFileUrl: basePath+"/checkdq/download/",
            fileinput: fileinputDefaults,
            showType:'detail',
            window:true,
            callback:function(fileId,oldfileIds){
                this.showFiles({
                    fileIds:fileId,
                    type:'preview'
                });
            }
      }
      
      $("#uploadFile").file($.extend({}, defaults, {
          title:"请上传附件",
          fileinput:$.extend({}, fileinputDefaults, {
              uploadExtraData: {"fileField":"fileId"}
          }),
          showContainer:'#attachment',
          fileIdContainer:"[name='fileId']",
          extraPreviewConfig:{
              "fileField":"fileId"
          }
      }));
</script>
