<section class="content">
    <div class="row">
        <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <form id="b-form" name="mb-form" class="form-horizontal">
		                    <div class="col-md-6">
		                	 	<div class="form-group">
		                            <label class="col-sm-5 control-label">所属项目：</label>
		                            <div class="col-sm-6">
		                                <input type="text" class="form-control" id="projectName" name="projectName" readonly="readonly">
		                            </div>
		                        </div> 
		                    </div>
		                    <div class="col-md-6">
		                    	<div class="form-group">
	                               <label class="col-sm-5 control-label">所属子项：</label>
	                               <div class="col-sm-6">
	                                   <input type="text" class="form-control" id="projectSubName" name="projectSubName" readonly="readonly">
	                               </div>
	                           </div>
		                    </div>
	                    </form>
                        <form id="measure-form" name="measure-form" class="form-horizontal">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">安全施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="safe" name="safe" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">文明施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="civil" name="civil" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">环境保护费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="envir" name="envir" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">临设费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="temp" name="temp" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">夜间施工增加（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="night" name="night" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">二次搬运费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="twice" name="twice" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">冬雨季施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="winter" name="winter" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">已完工程及设备保护费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="protect" name="protect" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">工程定位复测费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="retest" name="retest" readonly="readonly">
	                                </div>
	                            </div>
	                        </div>
                        </form>
                        <form id="measure-consume-form" name="measure-consume-form" class="form-horizontal">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">安全施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="safe" value="0" name="safe" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">文明施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="civil" value="0" name="civil" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">环境保护费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="envir" value="0" name="envir" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">临设费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="temp" value="0" name="temp" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">夜间施工增加（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="night" value="0" name="night" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">二次搬运费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="twice" value="0" name="twice" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">冬雨季施工费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="winter" value="0" name="winter" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">已完工程及设备保护费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="protect" value="0" name="protect" readonly="readonly">
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-5 control-label">工程定位复测费（元）：</label>
	                                <div class="col-sm-6">
	                                    <input type="text" class="form-control" id="retest" value="0" name="retest" readonly="readonly">
	                                </div>
	                            </div>
	                        </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>

<script>
    var measureform = $("#measure-form").form({baseEntity: false}), measureconsumeform = $("#measure-consume-form").form({baseEntity: false});
    var projectID="${projectID?default(0)}", projectName="${projectName?default(0)}", 
    projectSubID="${projectSubID?default(0)}", projectSubName="${projectSubName?default(0)}";
    $('#projectName').val(projectName);
    $('#projectSubName').val(projectSubName);
    $(function (){
        //编辑回填
       	ajaxPost(basePath+"/budget/measure/getsum",{projectID:projectID,projectSubID:projectSubID},function(data){
    		measureform.initFormData(data);
        });
       	ajaxPost(basePath+"/budget/measure/getconsume",{projectID:projectID,projectSubID:projectSubID},function(data){
       		measureconsumeform.initFormData(data);
        });
        
        //初始化控件
        measureform.initComponent();
        measureconsumeform.initComponent()
    });
</script>