
     <style >
     	table{
     		font-family: verdana,arial,sans-serif;
	     	font-size:11px;
	     	color:#333333;
	      	border-width: 1px;
	      	border-color: #666666;
	      	border-collapse: collapse;
     	}
     	th{
     		 border-width: 1px;
		     padding: 8px;
		     border-style: solid;
		     border-color: #666666;
		     background-color: #dedede;
     	}
     	td{
	     	 border-width: 1px;
		     padding: 8px;
		     border-style: solid;
		     border-color: #666666;
		     background-color: #ffffff;
		     text-align: center
     	}
     	input{
     		width:100%;
     		text-align: center;
     		font-size: 12px;
     		border: none
     	}
     	span{
     		font-size: 13px
     	}
	</style>
 <body>
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">总工程师安全生产责任表</h5>
</div>
<div class="modal-body">
 <form style="width:100%" id="MxForm">
  <input type="hidden" name="id" id="id">
   <input type="hidden" name="dutycheck_ID" id="dutycheck_ID">
 <div style="text-align: center">总工程师安全生产责任考核表</div>
 <div style="margin: 2px 0 5px 20px">
 	<span  style="margin-right: 40%">施工单位：<input id="unitName"name="unitName" style="width:30%;text-align: left;" readonly="readonly"/></span>
 	<span>考核日期：<input id="check_time"name="check_time" style="width:15%;text-align: left;" readonly="readonly"/></span>	
 </div>
  <table cellSpacing=0 cellPadding=0  style="width:100%;table-layout:fixed;border-collapse:collapse">
	<tr>
		<th style="width:10%">序号</th>
		<th style="width:20%">考核内容</th>
		<th style="width:50%">扣分标准</th>
		<th style="width:10%">应得标准</th>
		<th style="width:10%">扣减分数</th>
		<th style="width:10%">实得分数</th>
	</tr>
	<tr>
		<td>1</td>
		<td>安全技术管理</td>
		<td >对安全专项方案审批把关不严的扣20分；对“四新”使用没有编制安全措施的扣10分；对查出的隐患不提出整改意见和措施的扣20分；未修订应急救预案措施的扣10分</td>
		<td>25</td>
		<td><input id = "col1" name="col1"/></td>
		<td><input id = "sol1" name="sol1"/></td>
	</tr>
	<tr>
		<td>2</td>
		<td>目标管理</td>
		<td >未按安全生产管理目标的要求进行审批安全专项方案的扣20分；未审查职工劳动条件的扣10分</td>
		<td>20</td>
		<td><input id = "col2" name="col2"/></td>
		<td><input id = "sol2" name="sol2"/></td>
	</tr>
	<tr>
		<td>3</td>
		<td>安全教育</td>
		<td >未开展有关安全生产法规、法令、政策和规章制度的贯彻执行活动的扣20分；未对职工开展安全生产教育活动的扣10分；安全生产评比活动不参加的扣10分</td>
		<td>20</td>
		<td><input id = "col3" name="col3"/></td>
		<td><input id = "sol3" name="sol3"/></td>
	</tr>
	<tr>
		<td>4</td>
		<td>生产安全管理</td>
		<td >对安全生产管理不严的扣10分；对职工提出合理的安全生产建议不接受的扣10分；对重大事故隐患不管不问的扣20分；对安全管理制度、安全操作规程审批不严的扣20分</td>
		<td>25</td>
		<td><input id = "col4" name="col4"/></td>
		<td><input id = "sol4" name="sol4"/></td>
	</tr>
	<tr>
		<td>5</td>
		<td>工伤事故处理</td>
		<td >未参加重大事故处理的扣10分；工伤事故未及时调查分析处理的扣10分；工伤事故未按调查分析规定处理的扣10分；发生事故后，未及时对工人进行安全再教育的扣10分；未建立工伤事故档案的扣4分</td>
		<td>10</td>
		<td><input id = "col5" name="col5"/></td>
		<td><input id = "sol5" name="sol5"/></td>
	</tr>
	<tr>
		<td colspan="2">合计</td>
		<td></td>
		<td>100</td>
		<td><input id = "deduction"  name="deduction"readonly="readonly"/></td>
		<td><input id = "score" name="score"readonly="readonly"/></td>
	</tr>
	<tr>
		<td colspan="2">被考核人:<input id = "name" name="name"style="width:50%;text-align: left;" readonly="readonly"/></td>
		<td colspan="4">考核人:<input id = "check_name" name="check_name" style="width:50%;text-align: left;" readonly="readonly"/></td>
	</tr>
	
</table>
<!-- /.box-body -->
        <div class="box-footer text-center">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-btn-type="save" id="save">提交</button>
        </div>
        <!-- /.box-footer -->
</form>
</div>
 </body>
 <script>
 var id="${id}";
 var cd='${cd?default(0)}';
 	$(function(){
 		var form=$("#MxForm").form();
 		$("#save").on("click",function(){
 			doSave();
 		});
 		if(cd){
 			var checkDetail = JSON.parse(cd);
 			form.initFormData(checkDetail); 
 		}
 		if(id){
        	ajaxPost(basePath+"/dutycheck/load",{id:id},function(data){
        		
                formdata = data;
                $("#dutycheck_ID").val(formdata.id);
                formdata.id = null
                formdata.check_time=jsonYearMonthDay(formdata.check_time);
                form.initFormData(formdata); 
              }); 
        }
 		
 	})
 	
 	function doSave(){
 		var params = $("#MxForm").form().getFormSimpleData();
 		ajaxPost(basePath+'/dutycheck/saveMx', params, function(data) {
            if(data.success){
                modals.info("数据保存成功");
                
            }                
        });
 	}
 	function jsonYearMonthDay(milliseconds) {
		if(milliseconds == "" || milliseconds == undefined || milliseconds == null){
			return "";
		}else{
			var datetime = new Date();
			datetime.setTime(milliseconds);
			var year = datetime.getFullYear();
			var month = datetime.getMonth() + 1 < 10 ? "0"
					+ (datetime.getMonth() + 1) : datetime.getMonth() + 1;
			var date = datetime.getDate() < 10 ? "0" + datetime.getDate()
					: datetime.getDate();
			var hour=datetime.getHours(); 
			var minute=datetime.getMinutes();
			return year + "-" + month + "-" + date;
		}
	}
 </script>
