<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<style >
     	table{
     		font-family: verdana,arial,sans-serif;
	     	font-size:11px;
	     	color:#333333;
	      	border-width: 1px;
	      	border-color: #666666;
	      	border-collapse: collapse;
     	}
     	th{
     		 border-width: 1px;
		     padding: 8px;
		     border-style: solid;
		     border-color: #666666;
		     background-color: #dedede;
		     font-size: 12px
     	}
     	td{
	     	 border-width: 1px;
		     padding: 2px 8px;
		     border-style: solid;
		     border-color: #666666;
		     background-color: #ffffff;
		     text-align: center
     	}
     	input{
     		width:100%;
     		text-align: left;
     		font-size: 15px;
     		border: none;
     		height:25px
     	}
     	span{
     		font-size: 13px;
     		font-weight: 600
     	}
     	textarea{
     		width:100%;
     		text-align: left;
     		font-size: 15px;
     		border: none;
     		overflow:hidden;
     		 resize:none; 
     	}
	</style>

<section class="content" id="projectaddstep2">
<section class="content">
	<div class="row" style="max-height:100%;overflow-y:auto;">
		<div class="col-xs-12">
			<div class="box">

<form style="width:100%" id="RzForm" name="RzForm" class="form-horizontal">
<input type="hidden" name="id" id="id">
<input type="hidden" name="userid" id="userid">
 <div style="text-align: center;width:100%"><h2>施工日志表</h2></div>
 <div style="margin: 2px 0 5px 20px">
 	<span>天气：<input id="weather"name="weather" style="width:10%;text-align: left;" /></span>
 	<span>气温：<input id="airTemp"name="airTemp" style="width:10%;text-align: left;"/>℃</span>
 	<span>风力：<input id="wind"name="wind" style="width:10%;text-align: left;"/>级</span>
 	<span style="margin-right: 5%">风向：<input id="windFx"name="windFx" style="width:10%;text-align: left;"/></span>	
 	<span>所属项目：<select id="xmid" class="select2 " name="xmid" style="width:10%">
          		<option selected="selected" value="">选择一个项目</option>
          	</select>
 	</span>
 	<span>人员：<input id="username"name="username" style="width:8%;text-align: left;" readonly="readonly"/></span>
 	<span>日期：<input id="rzdate"name="rzdate" style="width:8%;text-align: left;" class="date-picker" data-flag="datepicker" data-format="yyyy-mm-dd" /></span>
 
 </div>
  <table cellSpacing=0 cellPadding=0  style="width:100%;table-layout:fixed;border-collapse:collapse">
	<tr style="display: none">
		<th style="width:10%"></th>
		<td style="width:15%"></th>
		<th style="width:10%"></th>
		<td style="width:15%"></th>
		<th style="width:10%"></th>
		<td style="width:15%"></th>
		<td style="width:10%"></th>
		<td style="width:15%"></th>
	</tr>
	<tr>
		<th colspan="1">施工内容、部位、进度</th>
		<td colspan="7">
			<textarea id="sgnr" name ="sgnr" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >隐蔽工程验收参与者</th>
		<td>
			<textarea id="ysName" name ="ysName" rows="3" ></textarea>
		</td>
		<th>验收部位、问题</th>
		<td colspan="5">
			<textarea id="yswt" name ="yswt" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >今日试块制作（砂浆/砼）(组)</th>
		<td>
			<input id="sk_count" name ="sk_count" />
		</td>
		<th>强度等级</th>
		<td >
			<input id="skqd" name ="skqd"/>
		</td>
		<th>部位</th>
		<td colspan="3">
			<input id="skbw" name ="skbw"/>
		</td>
	</tr>
	<tr>
		<th >试块送压砼数(砼)</th>
		<td>
			<input id="sksyts" name ="sksyts"/>
		</td>
		<th>试块送压组数(组)</th>
		<td >
			<input id="sksyzs" name ="sksyzs"/>
		</td>
		<th>砂浆组数(组)</th>
		<td>
			<input id="sjzs" name ="sjzs"/>
		</td>
		<th>试块部位及强度等级</th>
		<td><input id="sksybwqd" name ="sksybwqd"/></td>
	</tr>
	<tr>
		<th colspan="1">试压报告</th>
		<td colspan="7">
			<textarea id="sksybg" name ="sksybg" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th colspan="1">质量自检存在问题</th>
		<td colspan="3">
			<textarea id="zjwt" name ="zjwt" rows="3" ></textarea>
		</td>
		<th colspan="1">改进措施</th>
		<td colspan="3">
			<textarea id="zjgjcs" name ="zjgjcs" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th colspan="1">安全设施检查记录<br>(安全网、安全带、安全帽、井架、电闸、水门)</th>
		<td colspan="1">
			<textarea id="jcjl" name ="jcjl" rows="3" ></textarea>
		</td>
		<th>安全事故记录</th>
		<td colspan="5">
			<textarea id="sgjl" name ="sgjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th>进场水泥(吨)</th>
		<td>
			<input id="jcsn_count" name ="jcsn_count"/>
		</td>
		<th>用于部位</th>
		<td>
			<input id="jcsnbw" name ="jcsnbw"/>
		</td>
		<th>水泥产地</th>
		<td>
			<input id="jcsncd" name ="jcsncd"/>
		</td>
		<th>水泥标号</th>
		<td>
			<input id="jcsnbh" name ="jcsnbh"/>
		</td>
	</tr>
	<tr>
		<th >停工工日</th>
		<td>
			<textarea id="tggr" name ="tggr" rows="3" ></textarea>
		</td>
		<th>停工原因</th>
		<td colspan="5">
			<textarea id="tgyy" name ="tgyy" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >施工班组调出入人员情况</th>
		<td colspan="7">
			<textarea id="ryddqk" name ="ryddqk" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >工程设计变更情况<br>（通知及发文单位）</th>
		<td colspan="7">
			<textarea id="sjbgqk" name ="sjbgqk" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >室内（外）土方回填质量情况(负责人)</th>
		<td colspan="7">
			<textarea id="tfhtqk" name ="tfhtqk" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >基础或楼面放线抄平记录（参加人）</th>
		<td colspan="7">
			<textarea id="fxcpjl" name ="fxcpjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >对班组的技术交底记录（参加人）</th>
		<td colspan="7">
			<textarea id="jsjdjl" name ="jsjdjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >对砼结构、试块、水泥地面浇水养护情况</th>
		<td colspan="7">
			<textarea id="yhqkjl" name ="yhqkjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >材料设备丢失或水泥淋雨损失(责任者)</th>
		<td colspan="7">
			<textarea id="dsjl" name ="dsjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >打架斗殴、违反纪律记录</th>
		<td colspan="7">
			<textarea id="wjjl" name ="wjjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >重要会议或现场记录</th>
		<td colspan="7">
			<textarea id="hyjl" name ="hyjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >机械损坏记录</th>
		<td colspan="7">
			<textarea id="jxshjl" name ="jxshjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >进场砖、砂、石质量控制情况</th>
		<td colspan="7">
			<textarea id="cljcjl" name ="cljcjl" rows="3" ></textarea>
		</td>
	</tr>
	<tr>
		<th >备注</th>
		<td colspan="7">
		<textarea id="remark" name ="remark" rows="6" ></textarea>
		</td>
	</tr>
</table>
<div class="" style="text-align: center;position:fixed; height:50px;width:100%;bottom:0px;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="b_sub">提交</button>
            <button type="button" class="btn btn-default" data-btn-type="prev">返回</button>
        </div>
</form>
      
</div>
</div>
</div>
</section>
<script>
    var form =null;
    var xms = '${xm?default(0)}',xm=0;
    if(xms != 0){
    	xm = JSON.parse(xms);
    }
    var id="${id}";
    var doWhat="${doWhat}";
   	var editCtrl = {
           initButtonEvent: function () {
               $("button[data-btn-type='prev']").click(function () {
                   loadPage(basePath+"/builddiary/listIndex");
               });
           }
       }
    $(function() {
        //初始化控件
        form=$("#RzForm").form();
        //数据校验
        $("#RzForm").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
            	if(!$("#rzdate").val()){
            		modals.info("请选择日期");
            		return ;
            	}
            	if(!$("#xmid option:selected").val()){
            		modals.info("请选择项目");
            		return ;
            	}
            	
                modals.confirm('确认修改？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    	ajaxPost(basePath+'/builddiary/update', params, function(data) {
                            if(data.success){
                                modals.info("数据修改成功");
                                
                            }                
                        }); 
              
                     
                });
            }
        });
        form.initComponent();
        if(xm != 0){
            for (var i = 0, len = xm.length; i < len; i++) {
                var u = xm[i];
                $('#xmid').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $(".select2").select2();
        }
        if(doWhat=="1"){
        	$('input,select,textarea',$('form[name="dutycheck-form"]')).attr('disabled',true);
        	$("#b_sub").css("display","none");
        }
        load();
        editCtrl.initButtonEvent();
    });
    function load(){
    	ajaxPost(basePath+'/builddiary/load?id='+id, {}, function(data) {
            formdata = data.data.rz;
            form.initFormData(formdata); 
            $("#username").val(data.data.use.name);                
        });
    }
    
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }
	
</script>
