<script type="text/javascript">
 $.fn.modal.Constructor.prototype.enforceFocus = function () {};
 </script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">规费消耗</h5>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <form id="measure-form" name="measure-form" class="form-horizontal">
                <input type="hidden" name="id">
                <input type="hidden" name="projectName">
                <input type="hidden" name="projectSubName">
                <div class="box box-info">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择项目<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <select id="projectIDModal" class="form-control select2" name="projectID" style="width:100%;">
                                        <option selected="selected" value="">选择一个项目</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择子项<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <select id="projectSubID" class="form-control select2" name="projectSubID" style="width:100%;">
                                        <option selected="selected" value="">选择一个子项</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">消耗税金（元）：<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="amount" name="amount" placeholder="税金" value="0" onkeyup="value=value.replace(/[^\d.]/g,'')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center" id="measureformsave">
                        <button type="submit" class="btn btn-primary" data-btn-type="next">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $.fn.modal.Constructor.prototype.enforceFocus =function(){};
    var measureform = $("#measure-form").form({baseEntity: false}), initData={};
    var taxID="${taxID?default(0)}";
    $(function (){
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectIDModal').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            
            $('#projectIDModal').select2();
            
            $('#projectIDModal').bind("change", function () {
                var projectID = $(this).val();
                if (projectID === "") {
                    return false;
                }
                
                var name = "";
                if ($("#projectIDModal").prop('selectedIndex') > 0) {
                    name = $("#projectIDModal").find("option:selected").text();
                }
                $('input[name="projectName"]').val(name);
              	//加载子项
                ajaxPost(basePath+"/projectvolume/getprojectsub",{projectID:projectID},function(data){
                    var laborSubOptions = data.message;
                    sOptions = JSON.parse(laborSubOptions);
                    $('#projectSubID').empty();
                    $('#projectSubID').append('<option selected="selected" value="">选择一个项目子项</option>');
                    for (var i = 0, len = sOptions.length; i < len; i++) {
                        var option = sOptions[i];
                        $('#projectSubID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
                    }
                    $('#projectSubID').select2();
                    $('#projectSubID').bind("change", function () {
                        var projectSubID = $(this).val();
                        if (projectSubID === "") {
                            return false;
                        }
                        
                        var name = "";
                        if ($("#projectSubID").prop('selectedIndex') > 0) {
                            name = $("#projectSubID").find("option:selected").text();
                        }
                        $('input[name="projectSubName"]').val(name);
                    });
                });
                //子项加载结束
            }); 
        }
        
        $("#measure-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = measureform.getFormSimpleData();
                ajaxPost(basePath + '/tax/save', formData, function (data) {
                    if (data.success) {
                    	modals.hideWin(winId);
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            fields: {
                "projectID": {
                    validators: {
                        notEmpty: {message: '项目不能为空'}
                    }
                },
                "projectSubID": {
                    validators: {
                        notEmpty: {message: '项目子项不能为空'}
                    }
                },
                "amount": {
                    validators: {
                        notEmpty: {message: '消耗税金不能为空'}
                    }
                }
            }
        });
        
        //编辑回填
        if(taxID != 0){
        	ajaxPost(basePath+"/tax/get",{taxID:taxID},function(data){
        		measureform.initFormData(data);
            })
        } 
        
        //初始化控件
        measureform.initComponent();
    });
</script>