
<section class="content-header">
    <h1>
        库存查询
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">库存信息</a></li>
        <li class="active">库存信息查询</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab-content-edit" data-toggle="tab" id="nav-tab-detail"><i class="fa fa-edit"></i></a></li>
                    <li class="active"><a href="#tab-content-list" data-toggle="tab" id="nav-tab-list"><i class="fa fa-list-ul"></i></a></li>
                    <li class="pull-left header"><i class="fa fa-user"></i><small>库存列表</small></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-content-list">
			            <div class="box">
			                <!-- /.box-header -->
			                <div class="dataTables_filter" id="searchDiv" style="display: none">
			                    <!--查询条件-->
			                   <input type="search" placeholder="请输入项目名" title="项目名" name="project_name" class="form-control" id="project_name" operator="like" likeOption="true">
                               <input type="search" placeholder="请输入预算编号" title="预算编号" name="budget_id" class="form-control" id="budget_id" operator="like" likeOption="true">
			                   <div class="input-group">
			                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                        <input type="search" placeholder="请输入入库日期" title="入库日期" name="storage_time" data-flag="datepicker" class="form-control" data-format="yyyy-mm-dd">
			                    </div>
			                    <!--
                                <div class="input-group">
			                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                        <input type="search" placeholder="结束生日" title="生日" name="birthday" data-flag="datepicker" class="form-control" data-format="yyyy-mm-dd">
			                    </div>
			                    -->
			                    <div class="btn-group">
			                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
			                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
			                    </div>

			                    <div class="btn-group">
			                        <button type="button" class="btn btn-default" data-btn-type="detail">查看详情</button>
                                    <button type="button" class="btn btn-default" data-btn-type="add">物料入库</button>
			                    </div>
			                </div>
			                <div class="box-body">
			                    <table id="stock_table" class="table table-bordered table-striped table-hover">
			                    </table>
			                </div>
			            </div>
		            </div>

                    <!-- 详细信息编辑区域-->

                    
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var auditStatus="${auditStatus?default(10)}";


    var stockQueryTable, winId = "stockQueryWin";
    $(function (){
        stockQueryTable = new CommonTable("stock_table", "stock_list", "searchDiv", null);
        
        $("#nav-tab-list").on("click",function(){
            setTitle("库存列表");
        });
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = stockQueryTable.getSelectedRowId();
            switch (action) {
                <!--
                case "detail":
                	if(!rowId){
                        modals.info('请选择要查看的行');
                        return false;
                    }
                	console.log(rowId);
                	var detailForm=$("#user-form").form();
                	detailForm.clearForm();
                    setTitle("查看用户【"+employeeQueryTable.getSelectedRowData().name+"】")
                    $("#nav-tab-detail").click();
                    ajaxPost(basePath+"/employeeQuery/get/"+employeeQueryTable.getSelectedRowData().id,null,function(data){
                    	console.log(data);
                    	detailForm.initFormData(data);
                    });
                    break;
                -->
                case "add":
                    modals.openWin({
                        winId:winId,
                        title:'物料入库',
                        width:'900px',
                        url:basePath+"/stock/add"
                    });
                    break;
            }
        });

    });
    
    function setTitle(title){
       $("ul.nav-tabs li.header small").text(title);
    }
    
    function fnRenderDept(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/org/show/"+value, null, function (data) {
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }
</script>