
<section class="content-header">
    <h1>
        库存消耗
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">库存信息</a></li>
        <li class="active">库存消耗</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab-content-edit" data-toggle="tab" id="nav-tab-detail"><i class="fa fa-edit"></i></a></li>
                    <li class="active"><a href="#tab-content-list" data-toggle="tab" id="nav-tab-list"><i class="fa fa-list-ul"></i></a></li>
                    <li class="pull-left header"><i class="fa fa-user"></i><small>库存列表</small></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-content-list">
			            <div class="box">
			                <!-- /.box-header -->
			                <div class="dataTables_filter" id="searchDiv" style="display: none">
			                    <!--查询条件-->
			                     <input type="search" placeholder="请输入库存编号" title="库存编号" name="s.id" class="form-control" id="stockid" operator="like" likeOption="true">
			                   <input type="search" placeholder="请输入项目名" title="项目名" name="p.project_name" class="form-control" id="project_name" operator="like" likeOption="true">
                               <input type="search" placeholder="请输入预算编号" title="预算编号" name="s.budget_ID" class="form-control" id="budget_id" operator="like" likeOption="true">
			                    <input type="search" placeholder="请输入入库人员" title="入库人员" name="u.`name`" class="form-control" operator="like" likeOption="true">
			                    <div class="btn-group">
			                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
			                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                                    <button type="button" class="btn btn-primary" data-btn-type="out">消耗出库</button>
			                    </div>
			                </div>
			                <div class="box-body">
			                    <table id="stock_table" class="table table-bordered table-striped table-hover">
			                    </table>
			                </div>
			            </div>
		            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    var stockQueryTable, winId = "stockQueryWin";

    $(function (){
        stockQueryTable = new CommonTable("stock_table", "stock_list", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = stockQueryTable.getSelectedRowId();
            stockQueryTable.getSelectedRowData()
            switch (action) {
                case "out":
                	if(!rowId){
                        modals.info('请选择要出库的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '物料库存调度【' + stockQueryTable.getSelectedRowData().project_id + '】',
                        width: '900px',
                        url: basePath + "/stock/out?id=" + rowId
                    });
                    break;
                case "dispatch28256":
                    modals.openWin({
                        winId:winId,
                        title:'调度出库',
                        width:'900px',
                        url:basePath+"/stock/dispatch"
                    });
                    break;
            }
        });

    });
    
    function setTitle(title){
       $("ul.nav-tabs li.header small").text(title);
    }
    
    function fnRenderDept(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/org/show/"+value, null, function (data) {
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

    function fnProjectName(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/stock/showProject/"+value, null, function (data) {
                console.log(data);
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

    function fnMatName(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/stock/showMat/"+value, null, function (data) {
                console.log(data);
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

</script>