<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
	<h5 class="modal-title"></h5>
</div>

<div class="modal-body">

	<form id="stock-form" name="stock-form" class="form-horizontal">
		<input type="hidden" name="id">
		<div class="box-body">
			<div class="col-md-6">
				<div class="form-group">
					<label for="dq_project" class="col-sm-3 control-label">来源项目库</label>
					<div class="col-sm-8">
						<input type="text"  readonly="readonly"  class="form-control" id="dq_project" name="project_name" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">调度单编号</label>
					<div class="col-sm-8">
						<input id="purchase_id" class="form-control"  style="width:100%" readonly="readonly" >
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="mb_project" class="col-sm-3 control-label">目标项目库</label>
					<div class="col-sm-8">
						<input type="text"  class="form-control" id="mb_project" readonly="readonly" name="mb_project" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-user"></i><small>调度单明细</small></li>
                </ul>
                <div class="tab-content" id ="MxDiv">
                    <div class="tab-pane active" id="tab-content-list">
			            <div class="box">
							<div class="dataTables_filter" id="searchDiv1" style="display: none">
							 	<input type="search" title="调度单id" id="dispatch_id1" name="dd.dispatch_id" class="form-control" id="project_name" operator="like" likeOption="true" style="display: none">
								<div class="btn-group">
							         <button type="button" class="btn btn-primary" data-btn-type="doDis">确认调度</button>
							    </div>		
							</div>
							<div class="box-body">
						       <table id="dispatchDetail_table" class="table table-bordered table-striped table-hover"></table>
						   </div>
						</div>
					</div>
				</div>
			</div>
		</div>
						
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var dispatchId="${dispatchId?default(0)}";
    var lx="${lx?default(0)}";
    var ly="${ly?default(0)}";
    var mb="${mb?default(0)}";
    var pname="${pname?default(0)}";
    $(function() {
    	if(lx=="ck"){
    		$(".modal-title").text("库存物料出库");
    	}else if(lx="rk"){
    		$(".modal-title").text("库存物料入库");
    	}
        //初始化控件
        form=$("#stock-form").form();
        form.initComponent();
        $("#dq_project").val(ly);
        $("#mb_project").val(mb);
        $("#purchase_id").val(pname);
        $("#dispatch_id1").val(dispatchId);
        var stockQueryTableS = new CommonTable("dispatchDetail_table", "dispatchDetail_list", "searchDiv1", null);
       	//调度点击监听
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            switch (action) {
                case "doDis":
                		ajaxPost(basePath+"/stock/doDispatch?dispatchId="+dispatchId+"&lx="+lx,null,function(data){
                			modals.info("快去写后台代码。");
                        }) 
                    break;
            }
        });
    });
    
    
    /* function getFormAndList(){
        var dispatchId = $("#purchase_id option:selected").val();
        if(dispatchId){
        	$("#dispatch_id1").val(dispatchId);
            ajaxPost(basePath+"/stock/getFormAndList?dispatchId="+dispatchId,null,function(data){
                $("#dq_project").val(data.ly);
                $("#mb_project").val(data.mb);
            }) 
        }else{
        	$("#dq_project").val("- - - 自动生成 - - -");
            $("#mb_project").val("- - - 自动生成 - - -");
            $("#dispatch_id1").val("null1");
        }
        stockQueryTableS.reloadData();
       
    } */

</script>
