
<section class="content-header">
    <h1>
        库存调度
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">库存信息</a></li>
        <li class="active">库存调度</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab-content-edit" data-toggle="tab" id="nav-tab-detail"><i class="fa fa-edit"></i></a></li>
                    <li class="active"><a href="#tab-content-list" data-toggle="tab" id="nav-tab-list"><i class="fa fa-list-ul"></i></a></li>
                    <li class="pull-left header"><i class="fa fa-user"></i><small>库存列表</small></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-content-list">
			            <div class="box">
			                <!-- /.box-header -->
			                <div class="dataTables_filter" id="searchDiv" style="display: none">
			                    <!--查询条件-->
			                    <select type="search" placeholder="请输入库存编号" title="库存编号" name="s.id" class="form-control select2" id="budget_id" operator="like" likeOption="true"  style =" width:20%">
			                  	<option selected="selected" value="">选择一个库存</option>
			                   </select>
			                   <select type="search" placeholder="请输入项目名" title="项目名" name="p.project_name" class="form-control select2" id="project_name" operator="like" likeOption="true"  style =" width:20%">
			                  	<option selected="selected" value="">选择一个项目</option>
			                   </select>
			                   <select type="search" placeholder="请输入物料编号" title="物料编号" name="s.mat_ID" class="form-control select2"  id="mat_id" operator="like" likeOption="true"  style =" width:20%">
                              	<option selected="selected" value="">选择一个物料</option>
                              </select>
                              <!--  <input type="search" placeholder="请输入预算编号" title="预算编号" name="s.budget_ID" class="form-control" id="budget_id" operator="like" likeOption="true"> -->
			           
			                    <div class="btn-group">
			                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
			                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                                    <button type="button" class="btn btn-primary" data-btn-type="dispatch">调度出库</button>
			                    </div>
			                </div>
			                <div class="box-body">
			                    <table id="stock_table" class="table table-bordered table-striped table-hover">
			                    </table>
			                </div>
			            </div>
		            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    var stockQueryTableD, winId = "stockQueryWin";
	
    var xms = '${xm?default(0)}',xm=0;
    if(xms != 0){
    	xm = JSON.parse(xms);
    }
    var sts = '${st?default(0)}',st=0;
    if(sts != 0){
    	st = JSON.parse(sts);
    }
    var mats = '${mat?default(0)}',mat=0;
    if(mats != 0){
    	mat = JSON.parse(mats);
    }
    $(function (){
        stockQueryTableD = new CommonTable("stock_table", "stock_list", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = stockQueryTableD.getSelectedRowId();
            stockQueryTableD.getSelectedRowData()
            switch (action) {
                case "dispatch":
                	if(!rowId){
                        modals.info('请选择要调度的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '物料库存调度【' + stockQueryTableD.getSelectedRowData().project_id + '】',
                        width: '900px',
                        url: basePath + "/stock/dispatch?id=" + rowId
                    });
                    break;
                case "dispatch28256":
                    modals.openWin({
                        winId:winId,
                        title:'调度出库',
                        width:'900px',
                        url:basePath+"/stock/dispatch"
                    });
                    break;
            }
        });
        if(xm != 0){
            for (var i = 0, len = xm.length; i < len; i++) {
                var x = xm[i];
                $('#project_name').append("<option value=\"" + x.data + "\">" + x.data + "</option>");
            }
            $(".select2").select2();
        }
        if(st != 0){
            for (var i = 0, len = st.length; i < len; i++) {
                var s = st[i];
                $('#budget_id').append("<option value=\"" + s.value + "\">" + s.data + "</option>");
            }
            $(".select2").select2();
        }
        if(mat != 0){
            for (var i = 0, len = mat.length; i < len; i++) {
                var m = mat[i];
                $('#mat_id').append("<option value=\"" + m.value + "\">" + m.data + "</option>");
            }
            $(".select2").select2();
        }
    });
    
    function setTitle(title){
       $("ul.nav-tabs li.header small").text(title);
    }
    
    function fnRenderDept(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/org/show/"+value, null, function (data) {
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

    function fnProjectName(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/stock/showProject/"+value, null, function (data) {
                console.log(data);
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

    function fnMatName(value) {
        if (value) {
            var ret=value;
            ajaxPost(basePath + "/stock/showMat/"+value, null, function (data) {
                console.log(data);
                ret=data.data;
            })
            return ret;
        } else
            return value;
    }

</script>