<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
	<h5 class="modal-title">物料入库</h5>
</div>

<div class="modal-body">

	<form id="stock-form" name="stock-form" class="form-horizontal">
		<input type="hidden" name="id">
		<div class="box-body">
			<div class="col-md-6">
				<div class="form-group">
					<label for="budget_ID" class="col-sm-3 control-label">预算编号</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="budget_ID" name="budget_ID" placeholder="请输入预算编号">
					</div>
				</div>
				<div class="form-group">
					<label for="mat_ID" class="col-sm-3 control-label">物料编号</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="mat_ID" name="mat_ID" placeholder="请输入物料编号">
					</div>
				</div>
				<div class="form-group">
					<label for="mat_name" class="col-sm-3 control-label">物料名称</label>
					<div class="col-sm-8">
						<input type="text"  readonly="readonly" class="form-control" id="mat_name" name="mat_name" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
				<div class="form-group">
					<label for="unit" class="col-sm-3 control-label">单位</label>
					<div class="col-sm-8">
						<input type="text"  readonly="readonly" class="form-control" id="unit" name="unit" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
				<div class="form-group">
					<label for="sock_Num" class="col-sm-3 control-label">入库数量</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="sock_Num" name="sock_Num" placeholder="请输入入库数量">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="project_ID" class="col-sm-3 control-label">项目编号</label>
					<div class="col-sm-8">
						<input type="text"  readonly="readonly"  class="form-control" id="project_ID" name="project_ID" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
				<div class="form-group">
					<label for="mat_standard" class="col-sm-3 control-label"></label>
					<div class="col-sm-8">

					</div>
				</div>
				<div class="form-group">
					<label for="mat_standard" class="col-sm-3 control-label">物料规格</label>
					<div class="col-sm-8">
						<input type="text" readonly="readonly" class="form-control" id="mat_standard" name="mat_standard" placeholder="- - - 自动生成 - - -">
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer text-center">
			<!--以下两种方式提交验证,根据所需选择-->
			<button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
			<button type="submit" class="btn btn-primary" data-btn-type="save">提交</button>
		</div>
		<!-- /.box-footer -->
	</form>

</div>
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    var id="${id?default(0)}";
    $(function() {
        //初始化控件
        form=$("#stock-form").form();
        //数据校验
        $("#stock-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    console.log(params);
                    ajaxPost(basePath+'/stock/save', params, function(data) {
                        if(data.success){
                            modals.hideWin(winId);
                            stockTable.reloadData();
                            modals.info("数据保存成功");
                        }
                    });
                });
            },
            fields : {
                budget_ID : {
                    validators : {
                        notEmpty : {
                            message : '请输入预算编号'
                        }
                    }
                },
                mat_name : {
                    validators : {
                        notEmpty : {
                            message : '请输入物料名称'
                        }
                    }
                },
                unit : {
                    validators : {
                        notEmpty : {
                            message : '请输入单位'
                        },

                    }
                },
                sock_Num : {
                    validators : {
                        notEmpty : {
                            message : '请输入入库数量'
                        }
                    }
                },
                mat_ID : {
                    validators : {
                        notEmpty : {
                            message : '请输入物料编号'
                        }
                    }
                },
                mat_standard : {
                    validators : {
                        notEmpty : {
                            message : '请输入物料规格'
                        }
                    }
                },
                project_ID : {
                    validators : {
                        notEmpty : {
                            message : '请输入项目编号'
                        }
                    }
                }
            }
        });
        form.initComponent();
        //回填id
        if(id!="0"){
            ajaxPost(basePath+"/stock/get/"+id,function(data){
                form.initFormData(data);
            })
        }
    });



    $("#mat_ID").change(function(){
        getMat();
    });
    function getMat(){
        var m_id = $("#mat_ID").val();
        ajaxPost(basePath+"/stock/getMateriel?m_id="+m_id,null,function(data){
            if(data.data){
                var list = data.data;
                $("#mat_name").val(list[0].mat_name);
                $("#mat_standard").val(list[0].mat_standard);
                $("#unit").val(list[0].unit);
            }
        })
    }


    function resetForm(){
        form.clearForm();
        $("#material-form").data('bootstrapValidator').resetForm();
    }


</script>
