<section class="content-header">
    <h1>
        工程量上报
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">项目信息</a></li>
        <li class="active">工程量上报</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" >
                    <select id="projectID" class="form-control select2" name="pv.project_id" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个项目</option>
                    </select>
                    <select  class="form-control select2" name="pv.sblx" style="width:200px;" operator="eq">
                    	<option selected="selected" value="">选择一个类型</option>
                    	<option value="10">包清工</option>
                    	<option value="20">包工包料</option>
                    	<option value="30">机械</option>
                    </select>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                        <button type="button" class="btn btn-default" data-btn-type="reset">重置</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-btn-type="add"
                        data-toggle="modal" data-target="#myModal"
                        >新增</button>
                        <button type="button" class="btn btn-default" data-btn-type="edit">编辑</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="volume_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					选择上报类型
				</h4>
			</div>
			<div class="modal-body" style="text-align: center">
				<select id='sblx' class='form-control select2'style='width:70%;' >
					<option selected='selected' value='10'>包清工</option>
					<option value='20'>包工包料</option>
					<option value='30'>机械</option>
				</select>
				<br>
				<button type='button' class='btn btn-success' data-btn-type='dotrue'>确定上报</button>
			</div>
		</div>
	</div>
</div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var volumeTable, winId = "volumeWin";
    var projectOptions = '${projectOptions?default(0)}',options=0;
    if(projectOptions != 0){
    	options = JSON.parse(projectOptions);
    }
    var volumeManageObject = {
            toAudit: function (volumeID) {
            	modals.confirm("是否要提交审批？",function(){
                    ajaxPost(basePath + '/projectvolume/start', {id:volumeID}, function (data) {
                        if (data.success) {
                        	volumeTable.reloadData();
                            modals.correct("流程已启动，请等待处理");
                        } else {
                            modals.error(data.message);
                        }
                    });
                });
            }
    }
    
    $(function (){
    	volumeTable = new CommonTable("volume_table", "volume_list", "searchDiv", null);
        
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = volumeTable.getSelectedRowId();
            switch (action) {
                case "edit":
                    if(!rowId){
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    var data = volumeTable.getSelectedRowData();
                    if(data.status != '新建'){
                        modals.info('审核中或审核完成的条目不可编辑!');
                        return false;
                    }
                    loadPage(basePath+"/projectvolume/edit/" +rowId+"?sblx="+data.sblx);
                    break;
                case "add":
                    //loadPage(basePath+"/projectvolume/add");
                    break;
                case "dotrue":
                    var sblx = $("#sblx option:selected").val();
                    if(sblx){
                    	$("#myModal").modal('hide');

                    	setTimeout(function(){
                    		loadPage(basePath+"/projectvolume/add?sblx="+sblx);
                        },500);
                        
                    }else{
                    	modals.info('请选择上报类型');	
                    }
                    
                    break;
            }
        });
        
        if(options != 0){
            for (var i = 0, len = options.length; i < len; i++) {
                var option = options[i];
                $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
            }
            $(".select2").select2();
        }
        
    });
    
    function fnRenderVolume(value, type, rowObj){
        var oper = "";
        if(rowObj.status == '新建'){
            oper += "&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='volumeManageObject.toAudit(\"" + rowObj.id + "\")'>提交审核</a>";
        }
        return oper;
    }
</script>