
<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>

<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<section class="content-header">
    <h1>
        <span>项目管理</span>
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">项目管理</a></li>
        <li class="active">编辑项目</li>
    </ol>
</section>

    

<section class="content" id="projectaddstep2">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div id="stepbar" class="add stepbar">
                    <div>
                        <div class="step stepdone">
                            <span class="tip">1</span>
                        </div>
                        <div class="stepinfo">编辑项目基本信息</div>
                    </div>
                    <div>
                        <div class="step">
                            <span class="tip">2</span>
                        </div>
                        <div class="stepinfo undoneinfo">管理项目文件（可选）</div>
                    </div>
                    <div>
                        <div class="step stepundone">
                            <span class="tip">3</span>
                        </div>
                        <div class="stepinfo undoneinfo">完成</div>
                    </div>
                </div>
                <form id="project_form" name="project_form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">安全文明文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="saftyFile" id="saftyFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="saftyfileupload">
                                            <i class="fa fa-paperclip"></i> 管理安全文明文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="saftyfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工合同<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="constructionFile" id="constructionFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="constructionfileupload">
                                            <i class="fa fa-paperclip"></i> 管理施工合同(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="constructionfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">招标文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="bidsFile" id="bidsFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="bidsfileupload">
                                            <i class="fa fa-paperclip"></i> 管理招标文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="bidsfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">中标文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="bidswinFile" id="bidswinFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="bidswinfileupload">
                                            <i class="fa fa-paperclip"></i> 管理中标文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="bidswinfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">中标通知文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="bidswinnoticeFile" id="bidswinnoticeFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="bidswinnoticefileupload">
                                            <i class="fa fa-paperclip"></i> 管理中标通知文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="bidswinnoticefileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">工程质量文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="qualityFile" id="qualityFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="qualityfileupload">
                                            <i class="fa fa-paperclip"></i> 管理工程质量文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="qualityfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">预算成本分析表<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="costFile" id="costFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="costfileupload">
                                            <i class="fa fa-paperclip"></i> 管理预算成本分析表(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="costfileattachment">
                                    </div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">工程进度文件<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="scheduleFile" id="scheduleFile">
                                    <div class="form-group">
                                        <div class="btn btn-default btn-file" id="schedulefileupload">
                                            <i class="fa fa-paperclip"></i> 管理工程进度文件(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  id="schedulefileattachment">
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="submit" class="btn btn-default" data-btn-type="prev">返回列表</button>
                        <button type="submit" class="btn btn-success ml10" data-btn-type="save">保存并返回</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    var labform;
    var id = "${id?default(0)}";
    $(function () {
        //初始化表单 
        labform = $("#project_form").form({baseEntity:false});
        //数据校验
        $("#project_form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var action = $(this).attr('$submitButton').attr('data-btn-type');
                switch (action) {
                    case "prev":
                        loadPage(basePath+"/project/list");
                        break;
                    case "save":
                        loadPage(basePath+"/project/list");
                        break;
                }
            }
        });
        //初始化控件
        labform.initComponent();
        //编辑回填
        if(id!="0"){
            ajaxPost(basePath+"/project/getStep2",{id:id},function(data){
                labform.initFormData(data);
            })
        } 
    });
    
    var fileinputDefaults = {
          maxFileSize: 102400,
          maxFileCount:3,
          previewSettings: {
              image: {width: "160px", height: "60px"},
              text: {width: "213px", height: "160px"},
              object: {width: "160px", height: "auto"},
              pdf: {width: "160px", height: "160px"},
              other: {width: "160px", height: "160px"}
          },
          previewZoomSettings: {
              image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
              text: {width: "100%", height: "100%", 'min-height': "480px"},
              object: {width: "auto", height: "100%", 'min-height': "480px"},
              pdf: {width: "100%", height: "100%", 'min-height': "480px"},
              other: {width: "auto", height: "100%", 'min-height': "480px"}
          },
          uploadUrl: basePath + "/project/uploadMultipleFile",
          deleteUrl: basePath + "/project/deletefile",
          allowedPreviewTypes : ['image', 'object']
    }
    var defaults = {
          title: "请上传附件",
          getFileResultUrl: basePath+"/project/getFiles",
          downloadFileUrl: basePath+"/project/download/",
          fileinput: fileinputDefaults,
          showType:'detail',
          window:true
    }
    
    $("#saftyfileupload").file($.extend({}, defaults, {
        title:"请上传安全文明文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"saftyFile"}
        }),
        showContainer:'#saftyfileattachment',
        fileIdContainer:"[name='saftyFile']"
    }));

    $("#constructionfileupload").file($.extend({}, defaults, {
        title:"请上传施工合同",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"constructionFile"}
        }),
        showContainer:'#constructionfileattachment',
        fileIdContainer:"[name='constructionFile']"
    }));

    $("#bidsfileupload").file($.extend({}, defaults, {
        title:"请上传招标文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"bidsFile"}
        }),
        showContainer:'#bidsfileattachment',
        fileIdContainer:"[name='bidsFile']"
    }));

    $("#bidswinfileupload").file($.extend({}, defaults, {
        title:"请上传中标文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"bidsWinFile"}
        }),
        showContainer:'#bidswinfileattachment',
        fileIdContainer:"[name='bidswinFile']"
    }));

    $("#bidswinnoticefileupload").file($.extend({}, defaults, {
        title:"请上传中标通知文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"bidsWinNoticeFile"}
        }),
        showContainer:'#bidswinnoticefileattachment',
        fileIdContainer:"[name='bidswinnoticeFile']"
    }));

    $("#qualityfileupload").file($.extend({}, defaults, {
        title:"请上传工程质量文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"qualityFile"}
        }),
        showContainer:'#qualityfileattachment',
        fileIdContainer:"[name='qualityFile']"
    }));
    
    $("#costfileupload").file($.extend({}, defaults, {
        title:"请上传预算成本分析表",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"costFile"}
        }),
        showContainer:'#costfileattachment',
        fileIdContainer:"[name='costFile']"
    }));


    $("#schedulefileupload").file($.extend({}, defaults, {
        title:"请上传工程进度文件",
        fileinput:$.extend({}, fileinputDefaults, {
            uploadExtraData: {"id":id,"fileField":"scheduleFile"}
        }),
        showContainer:'#schedulefileattachment',
        fileIdContainer:"[name='scheduleFile']"
    }));

</script>
