<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>

<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<script src="${basePath}/resources/common/js/calculate.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <span>
                        <i class="fa fa-files-o">机械合同明细</i>
                    </span>
                </div>
                <form id="labor-detail-form" name="labor-detail-form" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属项目<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="projectName" name="projectName" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">承包人<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractor" name="contractor" placeholder="承包人" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">施工负责人<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="constructionManager" name="constructionManager" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">机械费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control calculate" id="mechPrice" name="mechPrice" placeholder="机械费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">人工费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control calculate" id="labourPrice" name="labourPrice" placeholder="人工费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">甲方</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="gander" name="gander" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">承包方式</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractMode" name="contractMode" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同名称<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractName" name="contractName" readonly="readonly">
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-sm-3 control-label">施工班组<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="constructionTeam" name="constructionTeam" readonly="readonly">
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">合同总价<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="contractPrice" name="contractPrice" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">材料费（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control calculate" id="matPrice" name="matPrice" placeholder="材料费" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">包工包料（单位：元）<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control calculate" id="packagePrice" name="packagePrice" placeholder="包工包料" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">乙方</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="goose" name="goose" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">付款方式</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="paymentMode" name="paymentMode" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">质保金约定（单位：元）</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="guaranteeMoney" name="guaranteeMoney" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        	<div class="form-group">
                                <label class="col-sm-3 control-label">内容</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="serviceContent" name="serviceContent" rows="3" cols="100" readonly="readonly"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">质量目标</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="qualityTarget" name="qualityTarget" rows="3" cols="100" readonly="readonly"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">纠纷处理</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="issue" name="issue" rows="3" cols="100" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-3 control-label">机械合同<span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="contractFile" id="contractFile">
                                    <div class="form-group" id="wjscid">
                                        <div class="btn btn-default btn-file" id="contractfileupload">
                                            <i class="fa fa-paperclip"></i> 上传机械合同(最大. 100MB)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="contractfileattachment" id="contractfileattachment">
                                    </div> 
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
var form,laborSubTable;
var id = "${id}";
$("#wjscid").css("display","none")
$("#contractfileattachment").css("display","none")
$('#laborID',$('#searchDiv')).val(id);
$(function () {
    //初始化表单 
    form = $("#labor-detail-form").form({baseEntity:false});
    //初始化控件
    form.initComponent();
    
    //编辑回填
    if(id!="0"){
        ajaxPost(basePath+"/labor/getStep2",{id:id},function(data){
            form.initFormData(data);
        })
    }
    
});

var fileinputDefaults = {
      maxFileSize: 102400,
      maxFileCount:10,
      previewSettings: {
          image: {width: "160px", height: "60px"},
          text: {width: "213px", height: "160px"},
          object: {width: "160px", height: "auto"},
          pdf: {width: "160px", height: "160px"},
          other: {width: "160px", height: "160px"}
      },
      previewZoomSettings: {
          image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
          text: {width: "100%", height: "100%", 'min-height': "480px"},
          object: {width: "auto", height: "100%", 'min-height': "480px"},
          pdf: {width: "100%", height: "100%", 'min-height': "480px"},
          other: {width: "auto", height: "100%", 'min-height': "480px"}
      },
      uploadUrl: basePath + "/labor/uploadMultipleFile",
      deleteUrl: basePath + "/project/deletefile",
      allowedPreviewTypes : ['image', 'object']
}
var defaults = {
      title: "请上传附件",
      getFileResultUrl: basePath+"/project/getFiles",
      downloadFileUrl: basePath+"/project/download/",
      fileinput: fileinputDefaults,
      showType:'detail',
      window:true,
      callback:function(fileIds,oldfileIds){
          this.showFiles({
              fileIds:fileIds,
              type:'preview'
          });
      }
}

$("#contractfileupload").file($.extend({}, defaults, {
    title:"请上传劳务合同",
    fileinput:$.extend({}, fileinputDefaults, {
        uploadExtraData: {"id":id,"fileField":"contractFile"}
    }),
    showContainer:'#contractfileattachment',
    fileIdContainer:"[name='contractFile']",
    extraPreviewConfig:{
        "fileField":"contractFile"
    }
}));

</script>
