<section class="content-header">
    <h1>
        检查验收记录文件管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">质量管理</a></li>
        <li class="active">检查验收记录文件管理</li>
    </ol>
</section>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4">
            <div class="box box-primary" style="height: 100%;overflow-y:auto">
                <div class="box-body box-profile">
                    <div id="depttree"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-8">
                    <div class="tab-pane active" id="tab-content-list">
			            <div class="box">
			                <!-- /.box-header -->
			                <div class="dataTables_filter" id="searchDiv" style="display: none">
			                    <!--查询条件-->
			                    <!--查询条件-->
								<input type="search"  style="display: none" name="parent_ID" id="pid" operator="eq" value="1">
			                   <select id="projectID" class="form-control select2" name="wj.proid" style="width:200px;" operator="eq">
                    				<option selected="selected" value="">选择一个项目</option>
                   				 </select>
                   				 <input type="search" placeholder="请输入编号" title="编号" name="wj.number" class="form-control" operator="like" likeOption="true">
                   				  <input type="search" placeholder="请输入名称" title="名称" name="wj.name" class="form-control" operator="like" likeOption="true">
			                    <div class="btn-group">
			                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
			                        <!-- <button type="button" class="btn btn-default" data-btn-type="reset">重置</button> -->
			                    </div>
			                    <div class="btn-group">
			                    <button type="button" class="btn btn-info" data-btn-type="download">模板下载</button>
			                    <button type="button" class="btn btn-default" data-btn-type="add">新增文件</button>
                            	<button type="button" class="btn btn-default" data-btn-type="delete">删除</button>
			                    </div>
			                </div>
			                <div class="box-body">
			                    <table id="volume_table" class="table table-bordered table-striped table-hover">
			                    </table>
			                </div>
			            </div>
		            </div>
              
        </div>
	</div>
</div>

<script>
var projectOptions = '${projectOptions?default(0)}',options=0;
if(projectOptions != 0){
	options = JSON.parse(projectOptions);
}
$(function () {
	
	initdeptTree(0);
	volumeTable = new CommonTable("volume_table", "checkRecordList", "searchDiv", null);
	$('button[data-btn-type]').click(function() {
        var action = $(this).attr('data-btn-type');
        var rowId=volumeTable.getSelectedRowId();
        switch (action) {
        case 'add':
            	var p = $('#depttree').treeview('getSelected');
            	if(p.length==0){
            		 modals.info('请选择文件分类');
                     return false;
                }
            	var pid=p[0].id;
               modals.openWin({
                winId:"checkRecord",
                title:'创建',
                width:'1000px',
                url:basePath+"/checkRecord/addWj?fid="+pid,
                hideFunc:function(){
                	volumeTable.reloadData();
                }
               });                        
            break;
        case 'delete':
            if(!rowId){
                modals.info('请选择要删除的行');
                return false;
            }
            modals.confirm("是否要删除该行数据？",function(){
                ajaxPost(basePath+"/checkRecord/deleteWj?id="+rowId,null,function(data){
                    if(data.success){
                    	modals.info('删除成功');
                    	volumeTable.reloadRowData();
                    }else{
                        modals.error("用户数据被引用，不可删除！");
                    }
                });
            })
            break;   
        case 'download':
        	var p = $('#depttree').treeview('getSelected');
        	if(p.length==0){
        		 modals.info('请选择文件分类');
                 return false;
            }
        	var pid=p[0].id;

        	modals.openWin({
                winId:"checkRecord",
                title:'创建',
                width:'1000px',
                url:basePath+"/checkRecord/projectdetailfileMB?fid="+pid,
                hideFunc:function(){
                }
               });
            break;     
        }

    });

	if(options != 0){
        for (var i = 0, len = options.length; i < len; i++) {
            var option = options[i];
            $('#projectID').append("<option value=\"" + option.value + "\">" + option.data + "</option>");
        }
        $(".select2").select2();
    }
})

function initdeptTree(selectNodeId ) {
    var treeData = null;
    ajaxPost(basePath + "/checkRecord/treeData", null, function (data) {
        treeData = data;
    });
    $("#depttree").treeview({
        data: treeData,
        showBorder: true,
        levels: 2,
        showCheckbox: false,
        showIcon: false,
        onNodeSelected: function (event, data) {
        	$("#pid").val(data.id)
        	volumeTable.reloadData();
        }
    });
    if (treeData.length == 0)
        return;
    $("#depttree").data('treeview').expandNode(selectNodeId);
    $("#depttree").data('treeview').revealNode(selectNodeId);
    
}	

function fnRenderXq(value, type, rowObj){
	return "<a href='javascript:void(0)' onclick='showDetail(\"" + value + "\")'>附件</a>";
}
function showDetail(fileId) {
	modals.openWin({
        winId: "checkRecord",
        width: "900px",
        url: basePath + "/checkRecord/projectdetailfile?id=" + fileId ,
        title: "查看附件"
    });
}
</script>
