<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:100%;overflow-y:auto;">

    <form id="contract-form" name="contract-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
       <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
					<label  for="projectId" class="col-sm-3 control-label">所属项目</label>
					<div class=" col-sm-8">
						<select id="projectId" class="form-control select2 "  name="proId" style="width:100%" >
                    		<option selected="selected" value="">选择一个项目</option>
                    	</select>
					</div>
				</div>
                
                <div class="form-group">
                    <label for="type" class="col-sm-3 control-label">付款方式</label>

                    <div class="col-sm-8">
                   		<select id="type" class="form-control select2 "  name="type" style="width:100%" >
                    		<option selected="selected" value="">选择一种方式</option>
                    		<option  value="10">现金</option>
                    		<option  value="20">转账</option>
                    		<option  value="30">电汇</option>
                    	</select>
                    </div>
                </div>
                <div class="form-group">
                    <label  for="money" class="col-sm-3 control-label">金额大写</label>
					<div class=" col-sm-8">
						<input class="form-control " id="dxmoney" name="dxmoney"   placeholder="金额大写" disabled="disabled" >
					</div>
                </div>
                <div class="form-group">
                    <label  for="money" class="col-sm-3 control-label">收款金额</label>
					<div class=" col-sm-8">
						<input class="form-control " id="money" name="money"   placeholder="收款金额" >
					</div>
                </div>
                
                
            </div>
            <div class="col-md-6">
            	<div class="form-group">
					<label  for="number" class="col-sm-3 control-label">编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="number" name="number"   placeholder="编号" readonly="readonly" >
				
					</div>
				</div>
            	<div class="form-group">
                    <label  for="jkr" class="col-sm-3 control-label">交款单位</label>
					<div class=" col-sm-8">
						<input class="form-control " id="jkr" name="jkr"   placeholder="交款单位" >
				
					</div>
                </div>
				<div class="form-group">
                     <label class="col-sm-3 control-label">填开日期</label>
                     <div class="col-sm-8">
                         <input type="text" class="form-control date-picker" name="createDate" id="createDate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" >
                     </div>
                 </div>
            </div>   
        </div>
        	<div class="form-group">
                    <label for="content" class="col-sm-2 control-label">款项内容</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="content" name="content" placeholder="款项内容" rows="6"></textarea>
                    </div>
            </div>
            <div class="form-group">
                    <label for="bz" class="col-sm-2 control-label">备注</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="bz" name="bz" placeholder="款项内容" rows="6"></textarea>
                    </div>
            </div>
        <div class="" style="text-align: center;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="save">保存</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<script>
    var form =null;
    var xms = '${projectOptions?default(0)}',xm=0;
    if(xms != 0){
    	xm = JSON.parse(xms);
    }
    var id="${id?default(0)}";
    var type="${type?default(0)}";
    var number="${number?default(0)}";
    $(function() {
        //初始化控件
        form=$("#contract-form").form();
        //数据校验
        $("#contract-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认收据信息无误？', function() {
                    //Save Data，对应'submit-提交'
                    
                    var params = form.getFormSimpleData();
                    
                    if(isNaN($("#money").val())){
                    	modals.info("请输入正确的金额");
                    	return;
                    }
                    	ajaxPost(basePath+'/proreceipt/save', params, function(data) {
                            if(data.success){
                            	modals.hideWin(winId);
                            	volumeTable.reloadData();
                                modals.info("保存成功");
                                
                            }                
                        }); 
              
                     
                });
            },
            fields : {
            	type : {
                    validators : {
                        notEmpty : {
                            message : '请选择收款方式'
                        }
                    }
                },
                proId : {
                    validators : {
                        notEmpty : {
                            message : '请选择项目'
                        }
                    }
                },
                content : {
                    validators : {
                        notEmpty : {
                            message : '请输入内容'
                        }
                    }
                },
                money : {
                    validators : {
                        notEmpty : {
                            message : '请输入金额'
                        }
                    }
                },
                createDate : {
                    validators : {
                        notEmpty : {
                            message : '请输入填开日期'
                        }
                    }
                },
                jkr : {
                    validators : {
                        notEmpty : {
                            message : '请输入交款单位或个人'
                        }
                    }
                }
                
            }
        });
        form.initComponent();

        if(xm != 0){
            for (var i = 0, len = xm.length; i < len; i++) {
                var x = xm[i];
                $('#projectId').append("<option value=\"" + x.value + "\">" + x.data + "</option>");
            }
            $("#projectId").select2();
        }
        
        if(type=="look"){
        	$('input,select,textarea',$('form[name="contract-form"]')).attr('disabled',true);
        	$("#save").css("display","none");
        }
        if(number!=0){
			$("#number").val(number);
        }
        if(id!=0){
        	load();
        }
        
        $("#money").keyup(function(){
        	getDxMoney();
        });
        
        
    });
    function load(){
    	var url=basePath+'/proreceipt/load?id='+id;
    	
    	ajaxPost(url, {}, function(data) {
            formdata = data.data;
            form.initFormData(formdata); 
            var dx =changeNumMoneyToChinese(formdata.money); 
            $("#dxmoney").val(dx);            
        }); 
    }
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }
    function getDxMoney(){
		var money = $("#money").val();
		var dx = changeNumMoneyToChinese(money);
		$("#dxmoney").val(dx);
    }
    function changeNumMoneyToChinese(money) {
		  var cnNums = new Array("零", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖"); //汉字的数字
		  var cnIntRadice = new Array("", "拾", "佰", "仟"); //基本单位
		  var cnIntUnits = new Array("", "万", "亿", "兆"); //对应整数部分扩展单位
		  var cnDecUnits = new Array("角", "分", "毫", "厘"); //对应小数部分单位
		  var cnDecWUnits = new Array("仟", "佰", "拾"); //万对应小数部分单位
		  var cnDecBWUnits = new Array("拾万", "万", "仟","佰", "拾"); //万对应小数部分单位
		  var cnInteger = "整"; //整数金额时后面跟的字符
		  var cnIntLast = "元"; //整型完以后的单位
		  var maxNum = 999999999999999.9999; //最大处理的数字
		  var IntegerNum; //金额整数部分
		  var DecimalNum; //金额小数部分
		  var ChineseStr = ""; //输出的中文金额字符串
		  var parts; //分离金额后用的数组，预定义
		  if (money == "") {
		    return "";
		  }
		  money = parseFloat(money);
		  if (money >= maxNum) {
		    alert('超出最大处理数字');
		    return "";
		  }
		  if (money == 0) {
		    ChineseStr = cnNums[0] + cnIntLast + cnInteger;
		    return ChineseStr;
		  }
		  money = money.toString(); //转换为字符串
		  if (money.indexOf(".") == -1) {
		    IntegerNum = money;
		    DecimalNum = '';
		  } else {
		    parts = money.split(".");
		    IntegerNum = parts[0];
		    DecimalNum = parts[1].substr(0, 4);
		  }
		  if (parseInt(IntegerNum, 10) > 0) { //获取整型部分转换
		    var zeroCount = 0;
		    var IntLen = IntegerNum.length;
		    for (var i = 0; i < IntLen; i++) {
		      var n = IntegerNum.substr(i, 1);
		      var p = IntLen - i - 1;
		      var q = p / 4;
		      var m = p % 4;
		      if (n == "0") {
		        zeroCount++;
		      } else {
		        if (zeroCount > 0) {
		          ChineseStr += cnNums[0];
		        }
		        zeroCount = 0; //归零
		        ChineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
		      }
		      if (m == 0 && zeroCount < 4) {
		        ChineseStr += cnIntUnits[q];
		      }
		    }
		    ChineseStr += cnIntLast;
		    //整型部分处理完毕
		  }
		  if (DecimalNum != '') { //小数部分
		    var decLen = DecimalNum.length;
		    for (var i = 0; i < decLen; i++) {
		      var n = DecimalNum.substr(i, 1);
		      if (n != '0'&&cnIntLast=="元"||cnIntLast=="美元") {
		        ChineseStr += cnNums[Number(n)] + cnDecUnits[i];
		      }else if(cnIntLast=="百万"){
		    	 ChineseStr += cnNums[Number(n)] + cnDecBWUnits[i]; 
		      }else if(cnIntLast=="万"){
		    	  ChineseStr += cnNums[Number(n)] + cnDecWUnits[i]; 
		      }
		    }
		  }
		  if (ChineseStr == '') {
		    ChineseStr += cnNums[0] + cnIntLast + cnInteger;
		  } else if (DecimalNum == '') {
		    ChineseStr += cnInteger;
		  }
		  return ChineseStr;
		 
		}
	
</script>
