<section class="content-header">
    <h1>
        个人借款部门审核
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">财务账目管理</a></li>
        <li class="active">个人借款部门审核</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" >
                    <input placeholder="请输入借款编号" name="jk.number" class="form-control" type="search" likeOption="true"operator="like" />
                    <input placeholder="请输入借款姓名" name="jk.loanname" class="form-control" type="search" likeOption="true"operator="like" />
                    <input placeholder="请输入借款金额" name="jk.money" class="form-control" type="search" likeOption="true"operator="like" />
                    <input id = "userid" name="u.auditdept" class="form-control" type="search" style="display: none"/> 
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                       
                    </div>
                    
                </div>
                <div class="box-body box-body-mobile">
                    <table id="volume_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = $("#searchDiv").form({baseEntity: false}), initData={};
    var volumeTable, winId = "volumeWin";
    var jkr = '${deptid?default(0)}';
    $("#userid").val(jkr);
    
    var volumeManageObject = {
            submit: function (id) {
            	modals.openWin({
                    winId:winId,
                    title:'创建',
                    width:'1000px',
                    url:basePath+"/loans/bmlook?id="+id,
                    hideFunc:function(){
                    	volumeTable.reloadData();
                    }
                    
                   });
            }
    }
    
    $(function (){
    	volumeTable = new CommonTable("volume_table", "loan_bm", "searchDiv", null);
    });
    
    function fnRenderXQ(value, type, rowObj){
    	var oper ="<a href='javascript:void(0)' onclick='volumeManageObject.submit(\"" + value + "\")'>查看审核</a>";
    	
        return oper;
    }
   
</script>