<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:700px;overflow-y:auto;">
	<span id="msg" style="color: red"></span>
    <form id="contract-form" name="contract-form" class="form-horizontal">
       <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
					<label  for="projectId" class="col-sm-3 control-label">申请人</label>
					<div class=" col-sm-8">
						<input  id="sqrid" name="sqrid"   style="display: none">
						<input class="form-control " id="sqr" name="sqr"   placeholder="申请人姓名" readonly="readonly" >
					</div>
				</div>
                 <div class="form-group">
                     <label class="col-sm-3 control-label">维修类型</label>
                     <div class="col-sm-8">
                         <select  class="form-control" name="wxtype" id="wxtype">
                         	<option value="10" selected="selected">自修</option>
                         	<option value="20">外修</option>
                         </select>
                     </div>
                 </div>
            </div>
            <div class="col-md-6">
            	<div class="form-group">
					<label  for="number" class="col-sm-3 control-label">编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="number" name="number"   placeholder="编号" readonly="readonly" >
				
					</div>
				</div>
            </div>   
        </div>
        <!-- /.box-footer -->
    </form>
    <form id="purchase-det-form" name="purchase-det-form" class="form-horizontal">
                <div class="box box-success dn" id="instock_det">
                     
                    <div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">请修详情</i>
                        </span>
                    </div>
                    <!-- 请修详情 -->
                    <div class="dataTables_filter" id="searchDivSDet" style="text-align:center;height:1px;">
                       <input type="search" id="sqid" name="pid" class="form-control" operator="eq" style="display:none;">
                       <div class="btn-group">
<!--                            <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
 -->                  </div>
                    </div>
                    <div class="box-body">
                        <!-- 内容 -->
                        <table id="kcqxtable" class="table table-bordered table-striped table-hover">
                        </table>
                    </div>
                   
                </div>
            </form>
            <form id="sjform" name="sjform" class="form-horizontal">
		     <div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">送检信息</i>
                        </span>
                    </div>
		       <div class="box-body">
		            <div class="col-md-6">
		                <div class="form-group">
							<label  for="jxdate" class="col-sm-3 control-label">交修时间</label>
							<div class=" col-sm-8">
								<input type="text" class="form-control date-picker" name="jxdate" id="jxdate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" >
							</div>
						</div>
						
						<div class="form-group">
							<label  for="cxje" class="col-sm-3 control-label">承修金额</label>
							<div class=" col-sm-8">
								<input class="form-control " id="cxje" name="cxje"   placeholder="承修金额" >
							</div>
						</div>
						 <div class="form-group">
							<label  for="cxjhdate" class="col-sm-3 control-label">预计交货时间</label>
							<div class=" col-sm-8">
								<input type="text" class="form-control date-picker" name="cxjhdate" id="cxjhdate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" >
							</div>
						</div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
							<label  for="cxcs" class="col-sm-3 control-label">承修厂商</label>
							<div class=" col-sm-8">
								<input class="form-control " id="cxcs" name="cxcs"   placeholder="承修厂商"  >
							</div>
						</div>
						<div class="form-group">
							<label  for="cxje" class="col-sm-3 control-label">承修金额大写</label>
							<div class=" col-sm-8">
								<input class="form-control " id="cxjedx" name="cxjedx"   placeholder="承修金额大写" readonly="readonly" >
							</div>
						</div>
						<div class="form-group">
							<label  for="cxfk" class="col-sm-3 control-label">逾期罚款</label>
							<div class=" col-sm-8">
								<input class="form-control " id="cxfk" name="cxfk"   placeholder="逾期罚款"  >
							</div>
						</div>
		            </div>   
		        </div>
		    </form>
		    <form id="ysform" name="ysform" class="form-horizontal">
		     <input type="hidden" name="id" id= "id">
		     <div class="box-header with-border">
                        <span>
                            <i class="fa fa-files-o">验收信息</i>
                        </span>
                    </div>
		       <div class="box-body">
		            <div class="col-md-6">
		                <div class="form-group">
							<label  for="ysjhdate" class="col-sm-3 control-label">验收时间</label>
							<div class=" col-sm-8">
								<input type="text" class="form-control date-picker" name="ysjhdate" id="ysjhdate" data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="" >
							</div>
						</div>
						
		            </div>
		            <div class="col-md-6">
		            </div>   
		        </div>
		        <div class="form-group">
               <label for="yscontent" class="col-sm-2 control-label">验收意见</label>

               <div class="col-sm-9">
                   <textarea class="form-control" id="yscontent" name="yscontent" placeholder="验收意见" rows="6" ></textarea>
               </div>
         </div>
		        <!-- /.box-footer -->
		        <div class="" style="text-align: center;">
		            <!--以下两种方式提交验证,根据所需选择-->
		            <button type="submit" class="btn btn-primary" data-btn-type="save" id="save">保存</button>
		        </div>
		    </form>
</div>
<script>
    var wxform =null;
    var jxform =null;
    var xsform = null;
    var id="${id?default(0)}";

    var qxmxTable, winIds = "purchaseDetWin";
    $(function() {
        //初始化控件
        wxform=$("#contract-form").form();
        jxform=$("#sjform").form();
        ysform=$("#ysform").form();
      //数据校验
        $("#ysform").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认送检信息无误？', function() {
                    //Save Data，对应'submit-提交'
                    var params = ysform.getFormSimpleData();
                   	ajaxPost(basePath+'/fixedmaintain/saveysxx?', params, function(data) {
                           if(data.success){
                        	   modals.hideWin(winId);
	   	                    	volumeTable.reloadData();
	   	                        modals.info("验收成功");
                           }                
                       }); 
              
                     
                });
            },
            fields : {
            	ysjhdate : {
                    validators : {
                        notEmpty : {
                            message : '请选择验收日期'
                        }
                    }
                },
                yscontent : {
                    validators : {
                        notEmpty : {
                            message : '请输入验收意见'
                        }
                    }
                }
                
            }
        });


        
        wxform.initComponent();
        jxform.initComponent();
        ysform.initComponent();
        if(id!=0){
        	load();
			$("#sqid").val(id);
        }
        qxmxTable = new CommonTable("kcqxtable", "fixedmaintain_indexMx", "searchDivSDet", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "150px",
            "scrollCollapse": true
        });
        $("#cxje").keyup(function(){
        	getDxMoney();
        });
    });
    function load(){
    	var url=basePath+'/fixedmaintain/loadqx?id='+id;
    	ajaxPost(url, {}, function(data) {
            formdata = data.data;
            wxform.initFormData(formdata); 
            $('#instock_det').show();
            jxform.initFormData(formdata); 
            var dx =changeNumMoneyToChinese(formdata.cxje); 
            $("#cxjedx").val(dx);   
            ysform.initFormData(formdata);
        }); 
    }
    function resetForm(){
        wxform.clearForm();
        jxform.clearForm();
        ysform.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
        $("#sjform").data('bootstrapValidator').resetForm();
        $("#ysform").data('bootstrapValidator').resetForm();
    }
	function fnRenderScmx(value, type, rowObj){
		return "";
	}


	function getDxMoney(){
		var money = $("#cxje").val();
		var dx = changeNumMoneyToChinese(money);
		$("#cxjedx").val(dx);
    }
    function changeNumMoneyToChinese(money) {
		  var cnNums = new Array("零", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖"); //汉字的数字
		  var cnIntRadice = new Array("", "拾", "佰", "仟"); //基本单位
		  var cnIntUnits = new Array("", "万", "亿", "兆"); //对应整数部分扩展单位
		  var cnDecUnits = new Array("角", "分", "毫", "厘"); //对应小数部分单位
		  var cnDecWUnits = new Array("仟", "佰", "拾"); //万对应小数部分单位
		  var cnDecBWUnits = new Array("拾万", "万", "仟","佰", "拾"); //万对应小数部分单位
		  var cnInteger = "整"; //整数金额时后面跟的字符
		  var cnIntLast = "元"; //整型完以后的单位
		  var maxNum = 999999999999999.9999; //最大处理的数字
		  var IntegerNum; //金额整数部分
		  var DecimalNum; //金额小数部分
		  var ChineseStr = ""; //输出的中文金额字符串
		  var parts; //分离金额后用的数组，预定义
		  if (money == "") {
		    return "";
		  }
		  money = parseFloat(money);
		  if (money >= maxNum) {
		    alert('超出最大处理数字');
		    return "";
		  }
		  if (money == 0) {
		    ChineseStr = cnNums[0] + cnIntLast + cnInteger;
		    return ChineseStr;
		  }
		  money = money.toString(); //转换为字符串
		  if (money.indexOf(".") == -1) {
		    IntegerNum = money;
		    DecimalNum = '';
		  } else {
		    parts = money.split(".");
		    IntegerNum = parts[0];
		    DecimalNum = parts[1].substr(0, 4);
		  }
		  if (parseInt(IntegerNum, 10) > 0) { //获取整型部分转换
		    var zeroCount = 0;
		    var IntLen = IntegerNum.length;
		    for (var i = 0; i < IntLen; i++) {
		      var n = IntegerNum.substr(i, 1);
		      var p = IntLen - i - 1;
		      var q = p / 4;
		      var m = p % 4;
		      if (n == "0") {
		        zeroCount++;
		      } else {
		        if (zeroCount > 0) {
		          ChineseStr += cnNums[0];
		        }
		        zeroCount = 0; //归零
		        ChineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
		      }
		      if (m == 0 && zeroCount < 4) {
		        ChineseStr += cnIntUnits[q];
		      }
		    }
		    ChineseStr += cnIntLast;
		    //整型部分处理完毕
		  }
		  if (DecimalNum != '') { //小数部分
		    var decLen = DecimalNum.length;
		    for (var i = 0; i < decLen; i++) {
		      var n = DecimalNum.substr(i, 1);
		      if (n != '0'&&cnIntLast=="元"||cnIntLast=="美元") {
		        ChineseStr += cnNums[Number(n)] + cnDecUnits[i];
		      }else if(cnIntLast=="百万"){
		    	 ChineseStr += cnNums[Number(n)] + cnDecBWUnits[i]; 
		      }else if(cnIntLast=="万"){
		    	  ChineseStr += cnNums[Number(n)] + cnDecWUnits[i]; 
		      }
		    }
		  }
		  if (ChineseStr == '') {
		    ChineseStr += cnNums[0] + cnIntLast + cnInteger;
		  } else if (DecimalNum == '') {
		    ChineseStr += cnInteger;
		  }
		  return ChineseStr;
		 
		}
</script>
