<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">成本测算</h5>
</div>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
	        <div class="box box-info">
	             <div class="box-body">
	                 <div class="col-md-12">
	                     <div class="form-group">
	                         <label class="col-sm-2 control-label" style="text-align:right;line-height:40px;">项目名称<span style="color:red">*</span></label>
	                         <div class="col-sm-4">
	                             <input type="text" class="form-control" id="projectName" name="projectName" >
	                         </div>
	                         <label class="col-sm-2 control-label" style="text-align:right;line-height:40px;">预算名称<span style="color:red">*</span></label>
	                         <div class="col-sm-4">
	                             <input type="text" class="form-control" id="budgetName" name="budgetName" >
	                         </div>
	                     </div> 
	                 </div>
	                 <form id="estimate_import_form" name="attendance_form" class="form-horizontal">
	                 	<input type="hidden" name="budgetTxID">
                        <input type="hidden" name="projectID">
                        <input type="hidden" name="budgetNo">
	                    <div class="box-body">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">测算文件<span style="color:red">*</span></label>
	                                <div class="col-sm-8">
	                                    <input type="file" name="file" id="file">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </form>
	             </div>
	         </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li><a href="#tab-content-labour" data-toggle="tab" id="nav-tab-labour"><font size="4">人</font></a></li>
                    <li class="active"><a href="#tab-content-mat" data-toggle="tab" id="nav-tab-mat"><font size="4">材</font></a></li>
                    <li><a href="#tab-content-mech" data-toggle="tab" id="nav-tab-mech"><font size="4">机</font></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab-content-labour">
                        <form id="budget-labour-form" name="budget-labour-form" class="form-horizontal">
                            <input type="hidden" name="budgetTxID">
                            <input type="hidden" name="projectID">
                            <input type="hidden" name="budgetNo">
                            <div class="box box-success" id="budget_labour">
                                <div class="dataTables_filter" style="text-align:center;margin-top:5px;">
                                   <input type="text" placeholder="人工费名称" title="人工费名称" name="labourName" class="form-control">
                                   <input type="text" placeholder="消耗量" title="消耗量" name="forecastPrice" class="form-control" >
                                   <input type="text" placeholder="市场估计价" title="市场估计价" onkeyup="value=value.replace(/[^\d.]/g,'')" name="labourQuantity" class="form-control" >
                                   <div class="btn-group">
                                       <button type="submit" class="btn btn-primary" data-btn-type="savetx">添加人工明细</button>
                                   </div>
                                </div>
                                <div class="dataTables_filter" id="searchDivLabourEstimate" style="text-align:center;height:1px;">
                                   <input type="search" name="bl.budget_tx_id" id="budgetLabourID" class="form-control" operator="eq" style="display:none;">
                                   <div class="btn-group">
                                       <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
                                   </div>
                                </div>
                                <div class="box-body">
                                    <!-- 内容 -->
                                    <table id="budget_labour_estimate_table" class="table table-bordered table-striped table-hover">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane active" id="tab-content-mat">
	                    <form id="budget-tx-info-form" name="budget-tx-info-form" class="form-horizontal">
			                <input type="hidden" name="budgetTxID" id="matBudgetTxID">
			                <input type="hidden" name="projectID" id="matProjectID">
			                <input type="hidden" name="budgetNo" id="matBudgetNo">
			                <div class="box box-success" id="budget_tx">
			                    <div class="dataTables_filter" style="text-align:center;margin-top:5px;">
			                       <input type="hidden" name="matName" id="matName1" >
			                       <select id="matNumber" class="form-control select2" name="matNumber" style="width:200px;">
			                           <option selected="selected" value="">选择一个物料</option>
			                       </select>
			                       <input type="text" placeholder="规格" title="规格" name="matStandard" class="form-control" id="matStandard" readonly="readonly">
			                       <input type="text" placeholder="单位" title="单位" name="unit" class="form-control" id="unit" readonly="readonly" >
			                       <input type="text" placeholder="请输入数量" title="数量" name="quantity" class="form-control" id="quantity" >
			                       <input type="text" placeholder="请输入预算价" title="单价" onkeyup="value=value.replace(/[^\d.]/g,'')" name="budgetPrice" class="form-control" id="budgetPrice" >
			                       <div class="btn-group">
			                           <button type="submit" class="btn btn-primary" data-btn-type="savetx">添加明细</button>
			                           <button type="button" class="btn btn-primary" data-btn-type="savetx" id="addMatIndex" style="margin-left: 5px">新增物料</button>
			                       </div>
			                    </div>
			                    <div class="dataTables_filter" id="searchDivTxEstimate" style="text-align:center;height:1px;">
			                       <input type="search" name="be.budget_tx_id" id="budgetTxID" class="form-control" operator="eq" style="display:none;">
			                       <div class="btn-group">
			                           <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
			                       </div>
			                    </div>
			                    <div class="box-body">
			                        <!-- 内容 -->
			                        <table id="budget_tx_estimate_table" class="table table-bordered table-striped table-hover">
			                        </table>
			                    </div>
			                </div>
			            </form>
                    </div>
                    <div class="tab-pane" id="tab-content-mech">
                        <form id="budget-mech-form" name="budget-mech-form" class="form-horizontal">
                            <input type="hidden" name="budgetTxID">
                            <input type="hidden" name="projectID">
                            <input type="hidden" name="budgetNo">
                            <div class="box box-success" id="budget_mech">
                                <div class="dataTables_filter" style="text-align:center;margin-top:5px;">
                                   <input type="text" placeholder="机械费名称" title="机械费名称" name="mechName" class="form-control" >
                                   <input type="text" placeholder="台班消耗量" title="台班消耗量" name="mechPrice" class="form-control" >
                                   <input type="text" placeholder="台班单价" title="台班单价" onkeyup="value=value.replace(/[^\d.]/g,'')" name="mechQuantity" class="form-control" >
                                   <div class="btn-group">
                                       <button type="submit" class="btn btn-primary" data-btn-type="savetx">添加机械明细</button>
                                   </div>
                                </div>
                                <div class="dataTables_filter" id="searchDivMechEstimate" style="text-align:center;height:1px;">
                                   <input type="search" name="bm.budget_tx_id" id="budgetMechID" class="form-control" operator="eq" style="display:none;">
                                   <div class="btn-group">
                                       <button type="button" class="btn btn-primary" data-btn-type="search" id="refresh" style="display:none;">查询</button>
                                   </div>
                                </div>
                                <div class="box-body">
                                    <!-- 内容 -->
                                    <table id="budget_mech_estimate_table" class="table table-bordered table-striped table-hover">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                    
            </div>
            
        </div>
    </div>
</section>

<script>
    var budgettxinfoform = $("#budget-tx-info-form").form({baseEntity: false}),
    budgetlabourform = $("#budget-labour-form").form({baseEntity: false}),
    budgetmechform = $("#budget-mech-form").form({baseEntity: false}),
    estimateimportform = $("#budget-mech-form").form({baseEntity: false}),
    initData={},
    budgetTxEstimateTable,budgetLabourEstimateTable,budgetMechEstimateTable,options;
    
    var budgetTxID="${budgetTxID?default('0')}";
    $('#budgetTxID',$('#searchDivTxEstimate')).val(budgetTxID);
    $('#budgetLabourID',$('#searchDivLabourEstimate')).val(budgetTxID);
    $('#budgetMechID',$('#searchDivMechEstimate')).val(budgetTxID);
    
    if(materiels != 0){
    	var select = $("#matNumber");
        for(data in materiels){
        	select.append("<option value=\"" + materiels[data].mat_number + "\">" + materiels[data].mat_number + "—" + materiels[data].mat_name + "</option>");
        }
        select.bind("change", function () {
            var data = $(this).val();
            if (data === "") {
                return false;
            }
            $('#matName1').val(materiels[data].mat_name);
            $('#matStandard').val(materiels[data].mat_standard);
            $('#unit').val(materiels[data].unit);
        });
        $(".select2").select2();
    }

    
    
    var budgetSingleEstimateObject = {
            deleteBudgetEstimate: function (rowId) {
            	ajaxPost(basePath + '/budget/estimate/delete', {id:rowId}, function (data) {
                    if (data.success) {
                        budgetTxEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            deleteBudgetEstimateLabour: function (rowId) {
                ajaxPost(basePath + '/budget/estimate/deletelabour', {id:rowId}, function (data) {
                    if (data.success) {
                        budgetLabourEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            deleteBudgetEstimateMech: function (rowId) {
                ajaxPost(basePath + '/budget/estimate/deletemech', {id:rowId}, function (data) {
                    if (data.success) {
                        budgetMechEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                });
            }
    }
    
    $(function (){
    	budgetTxEstimateTable = new CommonTable("budget_tx_estimate_table", "budget_tx_estimate_list", "searchDivTxEstimate", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "200px",
            "scrollCollapse": true
        });
        
        $("#budget-tx-info-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = budgettxinfoform.getFormSimpleData();
                ajaxPost(basePath + '/budget/estimate/save', formData, function (data) {
                    if (data.success) {
                    	budgetTxEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                }); 
            },
            fields: {
                "matNumber": {
                    validators: {
                        notEmpty: {message: '物料编码不能为空'}
                    }
                },
                "quantity": {
                    validators: {
                        notEmpty: {message: '物料数量不能为空'}
                    }
                },
                "budgetPrice": {
                    validators: {
                        notEmpty: {message: '预算单价不能为空'}
                    }
                }
            }
        });
        
        budgetLabourEstimateTable = new CommonTable("budget_labour_estimate_table", "budget_labour_estimate_list", "searchDivLabourEstimate", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "200px",
            "scrollCollapse": true
        });
        
        $("#budget-labour-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = budgetlabourform.getFormSimpleData();
                ajaxPost(basePath + '/budget/estimate/savelabour', formData, function (data) {
                    if (data.success) {
                        budgetLabourEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            fields: {
                "labourName": {
                    validators: {
                        notEmpty: {message: '人工费名称不能为空'}
                    }
                },
                "forecastPrice": {
                    validators: {
                        notEmpty: {message: '市场预估价不能为空'}
                    }
                },
                "labourQuantity": {
                    validators: {
                        notEmpty: {message: '消耗量不能为空'}
                    }
                }
            }
        });
        
        budgetMechEstimateTable = new CommonTable("budget_mech_estimate_table", "budget_mech_estimate_list", "searchDivMechEstimate", {
            "ordering" : false,
            "lengthChange": false,
            "displayLength": 20,
            "scrollY": "200px",
            "scrollCollapse": true
        });
        
        $("#budget-mech-form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                var formData = budgetmechform.getFormSimpleData();
                ajaxPost(basePath + '/budget/estimate/savemech', formData, function (data) {
                    if (data.success) {
                        budgetMechEstimateTable.reloadData();
                    } else {
                        modals.error(data.message);
                    }
                });
            },
            fields: {
            	"mechName": {
                    validators: {
                        notEmpty: {message: '机械费名称不能为空'}
                    }
                },
                "mechPrice": {
                    validators: {
                        notEmpty: {message: '台班单价不能为空'}
                    }
                },
                "mechQuantity": {
                    validators: {
                        notEmpty: {message: '台班消耗量不能为空'}
                    }
                }
            }
        });
        
        $("#estimate_import_form").bootstrapValidator({
            message: '请输入有效值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function () {
                //nothing
            }
        });
        
        //编辑回填
        if(budgetTxID!="0"){
            ajaxPost(basePath+"/budget/estimate/getbytxid",{budgetTxID:budgetTxID},function(data){
            	data.data.budgetTx.budgetTxID=data.data.budgetTx.id;
            	budgettxinfoform.initFormData(data.data.budgetTx);
            	budgetlabourform.initFormData(data.data.budgetTx);
            	budgetmechform.initFormData(data.data.budgetTx);
                $('#projectName').val(data.data.projectName).attr("disabled","disabled");
                $('#budgetName').val(data.data.budgetName).attr("disabled","disabled");
            })
        } 
        
        //初始化控件
        budgettxinfoform.initComponent();
        budgetlabourform.initComponent();
        budgetmechform.initComponent();
        estimateimportform.initComponent();
        
        $('#file').on('click', function(e){
            $("#estimate_import_form").data("bootstrapValidator").validate();
            if(!$("#estimate_import_form").data("bootstrapValidator").isValid()){
                e.preventDefault();
            }
        });
        
        $.fn.fileinputLocales['zh'].msgValidationError = "请选择xls或xlsx格式的文件";
        $.fn.fileinputLocales['zh'].uploadLabel = "导入";
        
        $("#file").fileinput({
            language: 'zh',
            uploadUrl: basePath + "/budget/estimate/doimport",
            uploadExtraData : getFormData,
            allowedFileExtensions : ['xls', 'xlsx'],
            showPreview : false
        }).on("fileuploaded", function(event, data, previewId, index){
        	if(!data.response.success){
        		alert("导入失败" + data.response.message);
        	}
        	$('#nav-tab-labour').click();
            setTimeout('disableFileInput()',500);
        });
        
        
        $("#nav-tab-labour").on("shown.bs.tab",function(){
        	budgetLabourEstimateTable.reloadData();
        });
        
        $("#nav-tab-mat").on("shown.bs.tab",function(){
        	budgetTxEstimateTable.reloadData();
        });
        
        $("#nav-tab-mech").on("shown.bs.tab",function(){
        	budgetMechEstimateTable.reloadData();
        });
        $("#addMatIndex").on("click",function(){
            var par = "budgetTxID="+$("#matBudgetTxID").val()+"&projectID="+$("#matProjectID").val()+"&matBudgetNo="+$("#matBudgetNo").val();
        	modals.openWin({
                winId: "matWin",
                width: "800px",
                url: basePath + "/budget/estimate/addMatIndex?"+par,
                title: "测算",
                hideFunc:function(){
                	budgetTxEstimateTable.reloadData();
                }
            });
         });
    });
    
    function getFormData(){
        return estimateimportform.getFormSimpleData();
    }
    
    function disableFileInput(){
        $("#file").fileinput('disable')
    }
    
    function fnRenderDelete(value){
    	var opt = "<a href='javascript:void(0)' onclick='budgetSingleEstimateObject.deleteBudgetEstimate(\"" + value + "\")'>删除</a>";
        return opt;
    }
    
    function fnRenderDeleteLabour(value){
        var opt =  "<a href='javascript:void(0)' onclick='budgetSingleEstimateObject.deleteBudgetEstimateLabour(\"" + value + "\")'>删除</a>";
        return opt;
    }
    
    function fnRenderDeleteMech(value){
        var opt =  "<a href='javascript:void(0)' onclick='budgetSingleEstimateObject.deleteBudgetEstimateMech(\"" + value + "\")'>删除</a>";
        return opt;
    }
    
</script>
