<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:100%;overflow-y:auto;">

    <form id="contract-form" name="contract-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
       <div class="box-body">
            
        	<div class="form-group">
                    <label for="zzDeptDesc" class="col-sm-2 control-label">考核成绩</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="zzDeptDesc" name="zzDeptDesc" placeholder="考核成绩" rows="7"></textarea>
                    </div>
            </div>
        <div class="" style="text-align: center;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="save">提交</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<script>
    var form =null;
   

    var id = '${id?default(0)}'
    
    $(function() {
        //初始化控件
        form=$("#contract-form").form();
        //数据校验
        $("#contract-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认提交？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    var url = basePath + '/dzzuser/start?id='+id;
                    	ajaxPost(url, params, function(data) {
                            if(data.success){
                            	modals.hideWin(winId);
                            	userTable.reloadData();
                                modals.info("提交成功");
                                
                            }                
                        }); 
                });
            },
            fields : {
            	zzDeptDesc : {
                    validators : {
                        notEmpty : {
                            message : '请输入考核成绩'
                        }
                    }
                }
            }
        });
        form.initComponent();
        
        
        
        
    });
   
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }
	
</script>
