<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<style>

#projectaddstep2 .krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

#projectaddstep2 .krajee-default .file-footer-caption {
    width: 100px;
}

</style>
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title"></h5>
</div>
<div class="modal-body" style="max-height:500px;overflow-y:auto;">

    <form id="contract-form" name="contract-form" class="form-horizontal">
     <input type="hidden" name="id" id= "id">
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label  for="proid" class="col-sm-3 control-label">所属项目</label>
					<div class=" col-sm-8">
						<select id="projectId" class="form-control select2 "  name="proid" style="width:100%" >
                   			<option selected="selected" value="">选择一个项目</option>
                   		</select>
					</div>
                </div>
                <div class="form-group">
                    <label  for="bz" class="col-sm-3 control-label">验收部位</label>
					<div class=" col-sm-8">
						<input class="form-control " id="bz" name="bz"   placeholder="验收部位" >
					</div>
                </div>
                <div class="form-group">
					<label  for="ystime" class="col-sm-3 control-label">验收时间</label>
					<div class=" col-sm-8">
					<input class="form-control date-picker" id="ystime" name="ystime"  data-flag="datepicker" data-format="yyyy-mm-dd"  placeholder="验收时间"  >
				
					</div>
				</div>
            </div> 
            <div class="col-md-6">
           		 <div class="form-group">
                    <label  for="check_time1" class="col-sm-3 control-label">编号</label>
					<div class=" col-sm-8">
						<input class="form-control " id="number" name="number"   readonly="readonly">
				
					</div>
                </div>
                <div class="form-group">
                    <label  for="bz" class="col-sm-3 control-label">验收人</label>
					<div class=" col-sm-8">
						<input class="form-control " id="ysr" name="ysr"   placeholder="验收人" >
					</div>
                </div>
            </div>        
        </div>
         <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">验收内容</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="content" name="content" placeholder="验收内容" rows="5"></textarea>
                    </div>
            </div>
            <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">验收结论意见</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="yj" name="yj" placeholder="验收结论意见" rows="5"></textarea>
                    </div>
            </div>
        <input type="hidden" name="fileId" id="fileId">
					<div class="form-group" align="center" id="wjscid">
						<div class="btn btn-default btn-file" id="uploadFile">
							<i class="fa fa-paperclip"></i> 上传附件(Max. 10MB)
						</div>
					</div>
					<div class="form-group" id="file_container">
						<input type="file" name="file"  id="attachment">
					</div>
        <!-- /.box-body -->
        <div class="" style="text-align: center;height:50px;width:100%;">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="submit" class="btn btn-primary" data-btn-type="save" id="b_sub">保存</button>
        </div>
        <!-- /.box-footer -->
    </form>
    
</div>
<script>
    var form =null;
    var   bh = '${bh?default(0)}';
    var  id = '${id?default(0)}';
    var  ck = '${ck?default(0)}';
    if(ck!=0){
		$("#b_sub").css("display","none")
		$("#wjscid").css("display","none")
    	$("#attachment").css("display","none")
    }
    var pros = '${xm?default(0)}',pro=0;
    if(pros != 0){
    	pro = JSON.parse(pros);
    }
    $(function() {
        //初始化控件
        form=$("#contract-form").form();
        //数据校验
        $("#contract-form").bootstrapValidator({
            message : '请输入有效值',
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            submitHandler : function() {
                modals.confirm('确认保存？', function() {
                    //Save Data，对应'submit-提交'
                    var params = form.getFormSimpleData();
                    	ajaxPost(basePath+'/aqys/save', params, function(data) {
                            if(data.success){
                                modals.info("数据保存成功");
                                $("#id").val(data.code);
                            }                
                        }); 
              
                     
                });
            },
            fields : {
            	name : {
                    validators : {
                        notEmpty : {
                            message : '请输入名称'
                        }
                    }
                }
            }
        });
        if(bh!=0){
            $("#number").val(bh)
            }
        if(pro != 0){
            for (var i = 0, len = pro.length; i < len; i++) {
                var u = pro[i];
                $('#projectId').append("<option value='" + u.value + "'>" + u.data + "</option>");
            }
            $("#projectId").select2();
        }
        if(id!=0){
            load(id);
         }
        form.initComponent();
        
    });
    function load(id){
    	ajaxPost(basePath+'/aqys/load', {id:id}, function(data) {
    		$("#contract-form").form().initFormData(data.data);   
    		$("#fileId").val(data.code);       
        }); 
    }
    function resetForm(){
        form.clearForm();
        $("#contract-form").data('bootstrapValidator').resetForm();
    }

    var fileinputDefaults = {
            maxFileSize: 102400,
            maxFileCount:3,
            previewSettings: {
                image: {width: "160px", height: "60px"},
                text: {width: "213px", height: "160px"},
                object: {width: "160px", height: "auto"},
                pdf: {width: "160px", height: "160px"},
                other: {width: "160px", height: "160px"}
            },
            previewZoomSettings: {
                image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
                text: {width: "100%", height: "100%", 'min-height': "480px"},
                object: {width: "auto", height: "100%", 'min-height': "480px"},
                pdf: {width: "100%", height: "100%", 'min-height': "480px"},
                other: {width: "auto", height: "100%", 'min-height': "480px"}
            },
            uploadUrl: basePath + "/aqys/uploadMultipleFile",
            deleteUrl: basePath + "/aqys/deletefile",
            allowedPreviewTypes : ['image', 'object']
      }
      var defaults = {
            title: "请上传附件",
            getFileResultUrl: basePath+"/aqys/getFiles",
            downloadFileUrl: basePath+"/aqys/download/",
            fileinput: fileinputDefaults,
            showType:'detail',
            window:true,
            callback:function(fileId,oldfileIds){
                this.showFiles({
                    fileIds:fileId,
                    type:'preview'
                });
            }
      }
      
      $("#uploadFile").file($.extend({}, defaults, {
          title:"请上传附件",
          fileinput:$.extend({}, fileinputDefaults, {
              uploadExtraData: {"fileField":"fileId"}
          }),
          showContainer:'#attachment',
          fileIdContainer:"[name='fileId']",
          extraPreviewConfig:{
              "fileField":"fileId"
          }
      }));
</script>
